[
  {
    "id": "1",
    "name": "APOD",
    "summary": "Astronomy Picture of the Day",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"astronomyPicture\">APOD</h1><p>One of the most popular websites at NASA is the <a href=\"http://apod.nasa.gov/apod/astropix.html\">Astronomy Picture of the Day</a>. In fact, this website is one of the <a href=\"https://analytics.usa.gov\">most popular websites</a> across all federal agencies. It has the popular appeal of a Justin Bieber video. This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the <code class=\"prettyprint\">concept_tags</code> parameter is set to <code class=\"prettyprint\">True</code>, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery.</p><p>The full documentation for this API can be found in the <a href=\"https://github.com/nasa/apod-api\">APOD API Github repository</a>.</p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/apod.jpg\"/></p><h3 id=\"http-request\">HTTP Request</h3><p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/apod </code></p><p><b>concept_tags are now disabled in this service. Also, an optional return parameter <i>copyright</i> is returned if the image is not public domain.</b></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td>date</td> <td>YYYY-MM-DD</td> <td><em>today</em></td> <td>The date of the APOD image to retrieve</td> </tr> <tr> <td>start_date</td> <td>YYYY-MM-DD</td> <td>none</td> <td>The start of a date range, when requesting date for a range of dates. Cannot be used with <code class=\"prettyprint\">date</code>.</td> </tr> <tr> <td>end_date</td> <td>YYYY-MM-DD</td> <td><em>today</em></td> <td>The end of the date range, when used with <code class=\"prettyprint\">start_date</code>.</td> </tr> <tr> <td>count</td> <td>int</td> <td>none</td> <td>If this is specified then <code class=\"prettyprint\">count</code> randomly chosen images will be returned. Cannot be used with <code class=\"prettyprint\">date</code> or <code class=\"prettyprint\">start_date</code> and <code class=\"prettyprint\">end_date</code>.</td> </tr> <!-- <tr> <td><del>concept_tags</del></td><td>bool</td><td>False</td><td>Return an ordered dictionary of concepts from the APOD explanation</td></tr>--><!-- <tr><td>hd</td><td>bool</td><td>False</td><td>Retrieve the URL for the high resolution image</td></tr> --> <tr> <td>thumbs</td> <td>bool</td> <td>False</td> <td>Return the URL of video thumbnail. If an APOD is not a video, this parameter is ignored.</td> </tr> <tr> <td>api_key</td> <td>string</td> <td>DEMO_KEY</td> <td>api.nasa.gov key for expanded usage</td> </tr> </tbody> </table><h3 id=\"example-query\">Example query</h3><p><a href=\"https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY\"> <code class=\"prettyprint\">https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY </code></a></p>",
    "configurations": {
      "overview": {
        "poc_name": "",
        "poc_email": "",
        "api_name": "",
        "backend_protocol": "",
        "server": "",
        "frontend_host": "",
        "backend_host": "",
        "matching_url_prefixes": [
          {
            "frontend_prefix": "",
            "backend_prefix": ""
          }
        ]
      },
      "global_request_settings": {
        "append_query_string_parameters": "",
        "set_request_headers": "",
        "http_basic_authentication": "",
        "https_requirements": "",
        "api_key_checks": "",
        "api_key_verification_requirements": "",
        "required_roles": "",
        "rate_limit": "",
        "default_response_headers": "",
        "override_response_headers": ""
      },
      "sub_url_request_settings": [
        {
          "http_method": "",
          "regex": "",
          "https_requirements": "",
          "api_key_checks": "",
          "api_key_verification_requirements": "",
          "required_roles": "",
          "override_required_roles_from_global_request_settings": "",
          "rate_limit": "",
          "default_response_headers": "",
          "override_response_headers": ""
        }
      ],
      "advanced_requests_rewriting": [
        {
          "matcher_type": "",
          "http_method": "",
          "frontend_matcher": "",
          "backend_replacement": ""
        }
      ],
      "advanced_settings": {
        "balance_algorithm": "",
        "json_template": "",
        "xml_template": "",
        "csv_template": "",
        "common_all_errors": "",
        "api_key_missing": "",
        "api_key_invalid": "",
        "api_key_disabled": "",
        "api_key_unauthorized": "",
        "over_rate_limit": "",
        "https_required": ""
      }
    },
    "swagger_data": {
      "swagger": "2.0",
      "info": {
        "description": "This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the concept_tags parameter is set to True, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery",
        "version": "1.0.0",
        "title": "APOD",
        "termsOfService": "",
        "contact": {
          "email": "evan.t.yates@nasa.gov"
        },
        "license": {
          "name": "Apache 2.0",
          "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
      },
      "host": "api.nasa.gov",
      "basePath": "/planetary",
      "tags": [
        {
          "name": "request tag",
          "description": "An example tag",
          "externalDocs": {
            "description": "Here's a link",
            "url": "https://example.com"
          }
        }
      ],
      "schemes": [
        "https",
        "http"
      ],
      "paths": {
        "/apod": {
          "get": {
            "tags": [
              "request tag"
            ],
            "summary": "Returns images",
            "descriptions": "Returns the picture of the day",
            "produces": [
              "application/json"
            ],
            "security": [
              {
                "api_key": []
              }
            ],
            "parameters": [
              {
                "name": "date",
                "in": "query",
                "description": "The date of the APOD image to retrieve",
                "required": false,
                "type": "string",
                "schema": "date"
              },
              {
                "name": "hd",
                "in": "query",
                "description": "Retrieve the URL for the high resolution image",
                "required": false,
                "type": "boolean"
              }
            ],
            "responses": {
              "200": {
                "description": "successful operation",
                "schema": {
                  "type": "array",
                  "items": {
                    "thing": "ok"
                  }
                }
              },
              "400": {
                "description": "Date must be between Jun 16, 1995 and Mar 28, 2019."
              }
            }
          }
        }
      },
      "securityDefinitions": {
        "api_key": {
          "type": "apiKey",
          "name": "api_key",
          "in": "query"
        }
      }
    }
  },
  {
    "id": "1",
    "name": "Asteroids NeoWs",
    "summary": "Near Earth Object Web Service",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"NeoWS\">Asteroids - NeoWs</h1><p> NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a user can: search for Asteroids based on their closest approach date to Earth, lookup a specific Asteroid with its NASA JPL small body id, as well as browse the overall data-set.</p><p> Data-set: All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/).</p><p> This API is maintained by <a href=\"https://github.com/SpaceRocks/\">SpaceRocks Team: David Greenfield, Arezu Sarvestani, Jason English and Peter Baunach</a>.</p><h2 id=\"neows-feed\">Neo - Feed</h2><p> Retrieve a list of Asteroids based on their closest approach date to Earth. <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/feed?start_date=START_DATE&end_date=END_DATE&api_key=API_KEY </code></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>start_date</td><td>YYYY-MM-DD</td><td>none</td><td>Starting date for asteroid search</td></tr><tr> <td>end_date</td><td>YYYY-MM-DD</td><td>7 days after start_date</td><td>Ending date for asteroid search</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-lookup\">Neo - Lookup</h2><p> Lookup a specific Asteroid based on its <a href=\"http://ssd.jpl.nasa.gov/sbdb_query.cgi\">NASA JPL small body (SPK-ID) ID</a> <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/ <Asteroid_ID> </code></p><h3 id=\"query-parameters\">Path Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <th>asteroid_id</th> <th>int</th> <th>none</th> <th>Asteroid SPK-ID correlates to the NASA JPL small body</th> </tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-browse\">Neo - Browse</h2><p> Browse the overall Asteroid data-set <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/browse/ </code></p><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY </code> </a></p><!--<h2 id=\"neows-swagger\">Neo - Live Documents</h2><iframe class=\"\" id=\"\" src=\"https://api.nasa.gov/neo/?api_key=DEMO_KEY\" style=\"border: 1px solid rgb(170, 170, 170); width: 100%; min-height: 725px; max-height: 725px; height: 30px;\"></iframe>-->"
  },
  {
    "id": "1",
    "name": "DONKI",
    "summary": "Space Weather Database Of Notifications, Knowledge, Information",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"DONKI\" style=\"margin-top: 0px;\">DONKI</h1> <p>The <a href=\"https://ccmc.gsfc.nasa.gov/tools/DONKI/\">Space Weather Database Of Notifications, Knowledge, Information (DONKI)</a> is a comprehensive on-line tool for space weather forecasters, scientists, and the general space science community. DONKI chronicles the daily interpretations of space weather observations, analysis, models, forecasts, and notifications provided by the Space Weather Research Center (SWRC), comprehensive knowledge-base search functionality to support anomaly resolution and space science research, intelligent linkages, relationships, cause-and-effects between space weather activities and comprehensive webservice API access to information stored in DONKI. </p><p>This API consists of the following component services:</p><table> <thead> <tr> <th style=\"text-align: left\">API</th> <th style=\"text-align: left\">Example</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCME\">Coronal Mass Ejection (CME)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiGST\">Geomagnetic Storm (GST)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiIPS\">Interplanetary Shock (IPS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiFLR\">Solar Flare (FLR)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiSEP\">Solar Energetic Particle (SEP)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiMPC\">Magnetopause Crossing (MPC)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiRBE\">Radiation Belt Enhancement (RBE)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiHSS\">Hight Speed Stream (HSS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiWSA\">WSA+EnlilSimulation</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiNotifications\">Notifications</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </td></tr></tbody> </table> <h2 id=\"donkiCME\">Coronal Mass Ejection (CME)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis </h2> <p> <b>startDate:</b> default 30 days prior to current UTC time<br/> <b>endDate:</b> default to current UTC time<br/> <b>mostAccurateOnly:</b> default is set to true<br/> <b>completeEntryOnly:</b> default is set to true<br/> <b>speed (lower limit):</b> default is set to 0<br/> <b>halfAngle (lower limit):</b> default is set to 0<br/> <b>catalog:</b> default is set to ALL (choices: ALL, SWRC_CATALOG, JANG_ET_AL_CATALOG)<br/> <b>keyword:</b> default is set to NONE (example choices: swpc_annex)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </p><h2 id=\"donkiGST\">Geomagnetic Storm (GST) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiIPS\">Interplanetary Shock (IPS) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <b>location:</b> default to ALL (choices: Earth, MESSENGER, STEREO A, STEREO B)<br/> <b>catalog:</b> default to ALL (choices: SWRC_CATALOG, WINSLOW_MESSENGER_ICME_CATALOG)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </p><h2 id=\"donkiFLR\">Solar Flare (FLR) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY </a> </p><h2 id=\"donkiSEP\">Solar Energetic Particle (SEP) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiMPC\">Magnetopause Crossing (MPC) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiRBE\">Radiation Belt Enhancement (RBE) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiHSS\">Hight Speed Stream (HSS)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiWSA\">WSA+EnlilSimulation </h2> <p> <b>startDate:</b> default to 7 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY</a> </p><h2 id=\"donkiNotifications\">Notifications</h2> <p> <b>parameters:</b><br/> 'startDate' and 'endDate' are in format 'yyyy-MM-dd' UT<br/> 'type' could be: all, FLR, SEP, CME, IPS, MPC, GST, RBE, report<br/> <br/><b>Note:</b><br/> 'startDate' if left out would default to 7 days prior to the current UT date<br/> 'endDate' if left out would default to current UT date<br/> 'type' if left out would default to 'all'<br/> The request date range is limit to 30 days. If the request range is greater than 30 days, it would limit your request range to (endDate-30) to endDate.<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </p>"
  },
  {
    "id": "1",
    "name": "Earth",
    "summary": "Unlock the significant public investment in earth observation data",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"landsat\">Earth</h1> <p>  Landsat imagery is provided to the public as a joint project between NASA and USGS. A recent industry <a href=\"http://www.fgdc.gov/ngac/meetings/december-2014/ngac-landsat-economic-value-paper-2014-update.pdf\">report</a> on landsat satellite imagery data estimates that total annual value to the economy of $2.19 billion, far exceeding the multi-year total cost of building, launching, and managing Landsat satellites and sensors. The value is derived from consumers <em>use</em> of the data. The objective of this endpoint is to give you an easy to use taste of what Landsat imagery data can provide. There are more complicated APIs available if you want to build models on top of satellite imagery, apply machine-learning, or minimize clouds in your image. NASA's Earth Science Devision has a variety of Earth imagery APIs for developers, which you can find out about in the <a href='https://earthdata.nasa.gov/collaborate/open-data-services-and-software/api'> Earthdata Developer Portal</a>. Specifically, the <a href='https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+API+for+Developers'>GIBS</a> (Global Imagery Browse Services) API may be of interest. The <a href='https://earthengine.google.com/'>Google Earth Engine API</a> is another powerful option. This API is powered by Google Earth Engine API, and currently only supports pan-sharpened Landsat 8 imagery.  </p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/houston_2.png\"/></p><p>This example image shows downtown Houston, Texas USA. It should be what is returned if you use the example query below. If you discover any cool applications, <a href='https://github.com/nasa/api-docs/issues/125'>please let us know</a>. </p><h2 id=\"imagery\">Imagery</h2> <p>This endpoint retrieves the Landsat 8 image for the supplied location and date. The response will include the date and URL to the image that is closest to the supplied date. The requested resource may not be available for the <em>exact</em> date in the request. You can retrieve a JSON that contains the inputs you provided and a URL to the resulting image through the assets endpoint. The assets endpoint no longer returns a list of potential images within your date range due to a change on the Google Earth Engine API side. </p><p>The cloud score was an optional calculation that returns the percentage of the queried image that is covered by clouds, but it is not available in current versions of the API. If <code class=\"prettyprint\">False</code> If <code class=\" </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/imagery </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>dim</td><td>float</td><td>0.025</td><td>width and height of image in degrees</td></tr><tr> <td>date</td><td>YYYY-MM-DD</td><td><em>today</em></td><td> date of image; if not supplied, then the most recent image (i.e., closest to today) is returned </td></tr><tr> <td>cloud_score</td><td>bool</td><td>False</td><td>[NOT CURRENTLY AVAILABLE!!!!] calculate the percentage of the image covered by clouds</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/imagery?lon=-95.33&amp;lat=29.78&amp;date=2018-01-01&amp;dim=0.15&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/imagery?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;api_key=DEMO_KEY</code></a></p><aside class=\"notice\"> Note that the returned object may not match the supplied date exactly. Instead, the image closest to the supplied date is returned. </aside> <h2 id=\"assets\">Assets</h2> <p>This endpoint retrieves the date-times and asset names for closest available imagery for a supplied location and date. The satellite passes over each point on earth roughly once every sixteen days. <a href=\"//earthobservatory.nasa.gov/Features/LandsatBigData/\">This is an amazing visualization</a> of the acquisition pattern for Landsat 8 imagery. The objective of this endpoint is primarily to support the use of the <a href=\"/api.html#imagery\">imagery endpoint</a>. </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/assets </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>date</td><td>YYYY-MM-DD</td><td>n/a</td><td>beginning of 30 day date range that will be used to look for closest image to that date</td></tr><tr> <td>dim</td><td>float</td><td>0.025</td><td>width and height of image in degrees</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/assets?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;dim=0.15&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/assets?lon=-95.33&amp;lat=29.78&amp;date=2018-01-01&amp;&dim=0.10&amp;api_key=DEMO_KEY</code></a></p>"
  },
  {
    "id": "1",
    "name": "EONET",
    "summary": "The Earth Observatory Natural Event Tracker",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"eonetImagery\">EONET</h1> <p> More and more NASA imagery is being made available via web services (WMS, WMTS, etc.) and a significant percentage of it is being produced and published in near real time (NRT=within a few hours after acquisition). This ability means that NASA imagery can be used more routinely to examine current natural events as they happen. </p><p> Using client applications, such as <a href=\"https://worldview.earthdata.nasa.gov/\">NASA EOSDIS’ Worldview</a>, users can browse the entire globe daily and look for natural events as they occur. Storms are regularly spotted in the tropics, dust storms over deserts, forest fires in the summers. These events are occurring constantly and NASA NRT imagery can represent them all using a variety of different data parameters. However, the user’s experience is tailored, and therefore restricted, by the client application. What if there was an API that provided a curated list of natural events and provided a way to link those events to event-related NRT image layers? Enter EONET. </p><p> The Earth Observatory Natural Event Tracker (EONET) is a prototype web service with the goal of: </p><p> providing a curated source of continuously updated natural event metadata; providing a service that links those natural events to thematically-related web service-enabled image sources (e.g., via WMS, WMTS, etc.). Please see our <a href=\"http://eonet.gsfc.nasa.gov/docs/v2.1\">API documentation</a> to learn more about how to use the EONET web services. </p><p> Development of EONET began in 2015 and has been supported by <a href=\"http://earthobservatory.nasa.gov/\">NASA’s Earth Observatory</a> and <a href=\"https://earthdata.nasa.gov/about/esdis-project\">Earth Science Data and Information System (ESDIS) Project</a>. </p>"
  },
  {
    "id": "1",
    "name": "EPIC",
    "summary": "Earth Polychromatic Imaging Camera",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"EPIC\">EPIC</h1> <p> The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides full disc imagery of the Earth and captures unique perspectives of certain astronomical events such as lunar transits using a 2048x2048 pixel CCD (Charge Coupled Device) detector coupled to a 30-cm aperture Cassegrain telescope. </p><p> Image metadata and key information are provided by the JSON API and can be requested by date and for the most recent available date. A listing of all available dates can also be retrieved via the API for more granular control. </p><p> Development of the EPIC API began in 2015, and is supported by the web development team for the <a href='http://atmospheres.gsfc.nasa.gov' target='_blank'>Laboratory for Atmospheres</a> in the Earth Sciences Division of the Goddard Space Flight Center. More information regarding the API and retrieval of the imagery for download can be found on the <a href='http://epic.gsfc.nasa.gov' target='_blank'>EPIC website</a>. </p><h3>Retrievable Metadata</h3> <p> The following information is available for every image in the collection: </p><ul> <li>Image [name]</li><li>Date</li><li>Caption</li><li>centroid_coordinates</li><li>dscovr_j2000_position</li><li>lunar_j2000_position</li><li>sun_j2000_position</li><li>attitude_quaternions</li></ul> <br><p><strong>Example image:</strong></p><p><img style='width:75%;' src=\"https://api.nasa.gov/EPIC/archive/natural/2019/05/30/png/epic_1b_20190530011359.png?api_key=DEMO_KEY\"/></p><h3 id=\"example-query\">Querying by Date(s)</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>natural</td><td>string</td><td>Most Recent Natural Color</td><td>Metadata on the most recent date of natural color imagery.</td></tr><tr> <td>natural/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for natural color imagery available for a given date.</td></tr><tr> <td>natural/all</td><td>string</td><td>Dates for Natural Color</td><td>A listing of all dates with available natural color imagery.</td></tr><tr> <td>natural/available</td><td>string</td><td>Dates for Natural Color</td><td>Alternate listing of all dates with available natural color imagery.</td></tr><tr> <td>enhanced</td><td>string</td><td>Most Recent Enhanced Color</td><td>Metadata on the most recent date of enhanced color imagery.</td></tr><tr> <td>enhanced/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for enhanced color imagery for a given date.</td></tr><tr> <td>enhanced/all</td><td>string</td><td>Dates for Enhanced Imagery</td><td>A listing of all dates with available enhanced color imagery.</td></tr><tr> <td>enhanced/available</td><td>string</td><td>Dates for Enhanced Imagery</td><td>Alternate listing of all dates with available enhanced color imagery.</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>API key from api.nasa.gov for expanded usage.</td></tr></tbody> </table> <h3 id=\"example-query\">Example queries</h3> <p> <a href=\"https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/natural/date/2019-05-30?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/date/2019-05-30?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/natural/all?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/all?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/archive/natural/2019/05/30/png/epic_1b_20190530011359.png?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/archive/natural/2019/05/30/png/epic_1b_20190530011359.png?api_key=DEMO_KEY </code> </a> </p><p> More examples and usage tips can be found on the <a href='https://epic.gsfc.nasa.gov/about/api' target='_blank'>EPIC API Documentation Page</a>. </p><p>&nbsp;</p>"
  },
  {
    "id": "1",
    "name": "Exoplanet",
    "summary": "Programmatic access to NASA's Exoplanet Archive database",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"exoPlanet\" style=\"margin-top: 0px;\">Exoplanet Archive</h1> <h2 id=\"exoPlanetIntro\">Introduction</h2> <p>The Exoplanet Archive API allows programatic access to <a href=\"https://exoplanetarchive.ipac.caltech.edu/index.html\">NASA's Exoplanet Archive</a> database. This API contains a ton of options so to get started please visit <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html\">this page</a> for introductory materials. To see <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/data.html\">what data</a> is available in this API <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#data\">visit here</a> and also be sure to check out <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#troubleshoot\">best-practices and troubleshooting</a> in case you get stuck. Happy planet hunting! </p><p><img src=\"https://exoplanetarchive.ipac.caltech.edu/images/news/news-image-generic-transit.jpg\"/></p><h2 id=\"exoPlanetExamples\">Example Queries</h2> <table> <thead> <tr> <th style=\"text-align: left\">Example API</th> <th style=\"text-align: left\">URL</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">Confirmed planets in the Kepler field </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">Confirmed planets that transit their host stars </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">All planetary candidates smaller than 2Re with equilibrium temperatures between 180-303K</a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'</a></td></tr></tbody> </table> <p><a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/API_queries.html\">More examples here.</a></p>"
  },
  {
    "id": "1",
    "name": "Open Science Data Repository",
    "summary": "Programmatic interface for the Open Science Data Repository website",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template":"<h1>Open Science Data Repository Public API</h1> <p> NASA OSDR provides a RESTful Application Programming Interface (API) to its full-text search, data file retrieval, and metadata retrieval capabilities. The API provides a choice of standard web output formats, either JavaScript Object Notation (JSON) or Hyper Text Markup Language (HTML), of query results. The Data File API returns metadata on data files associated with dataset(s), including the location of these files for download via https. The Metadata API returns entire sets of metadata for input study dataset accession numbers. The Search API can be used to search dataset metadata by keywords and/or metadata. It can also be used to provide search of three other omics databases: the National Institutes of Health (NIH) / National Center for Biotechnology Information's (NCBI) Gene Expression Omnibus (GEO); the European Bioinformatics Institute's (EBI) Proteomics Identification (PRIDE); the Argonne National Laboratory's (ANL) Metagenomics Rapid Annotations using Subsystems Technology (MG-RAST). </p> <p> In addition to study datasets, NASA OSDR also hosts metadata for 7 other data types: experiments, payloads, subjects, biospecimens, missions, vehicles, and hardware. The API for these data types is listed separately and uniform throughout, to make for easy metadata exploration. </p> <h2 id=\"study\">Study</h2> <h3 id=\"data\">Study Data File API</h3> <h4>Syntax</h4> <p> https://osdr.nasa.gov/osdr/data/osd/files/{OSD_STUDY_IDs}/?page={CURRENT_PAGE_NUMBER}&amp;size={RESULTS_PER_PAGE}?all_files={ALL_FILES} </p> <h4>Returns: JSON-formatted response</h4> <div> <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\"> <colgroup> <col /> <col /> <col /> <col /> <col /> </colgroup> <tbody> <tr> <td> <p align=\"center\" style=\"text-align: center\"><b>Parameters</b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Data Type</b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Notes</b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Values</b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Required</b></p> </td> </tr> <tr> <td> <p>{OSD_STUDY_IDs}</p> </td> <td> <p>Integer or Decimal</p> </td> <td> <p> Comma separated list with mixture of single OSD accession numbers and ranges. Use single decimal numbers to indicate a specific study version (Ex: 4.1 would be OSD-4, version 1). </p> </td> <td> <p>ex. 87-95,137,153.2</p> </td> <td> <p>Yes</p> </td> </tr> <tr style=\"mso-yfti-irow: 2; page-break-inside: avoid\"> <td> <p>{CURRENT_PAGE_NUMBER}</p> </td> <td> <p>Integer</p> </td> <td> <p>Current page number in pagination</p> </td> <td> <p>Starts from 0</p> </td> <td> <p>No</p> </td> </tr> <tr> <td> <p>{RESULTS_PER_PAGE}</p> </td> <td> <p>Integer</p> </td> <td> <p>Number of results returned per page in pagination</p> </td> <td> <p>Max 25 results per page</p> </td> <td> <p>No</p> </td> </tr> <tr> <td> <p>{ALL_FILES}</p> </td> <td> <p>Boolean</p> </td> <td> <p>Include hidden files. true to include invisible files; false to exclude. Default value is false.</p> </td> <td> <p>true or false</p> </td> <td> <p>No</p> </td> </tr> </tbody> </table> </div> <h4>&nbsp;</h4> <h4>Example requests:</h4> <ul type=\"disc\"> <li> Single study request using study accession number <ul type=\"circle\"> <li> <a href=\"https://osdr.nasa.gov/osdr/data/osd/files/87\">https://osdr.nasa.gov/osdr/data/osd/files/87</a> </li> </ul> </li> <li> Multiple studies request using combination of range and comma separated list <ul type=\"circle\"> <li> <a href=\"https://osdr.nasa.gov/osdr/data/osd/files/137,87-95,13,20-50\" >https://osdr.nasa.gov/osdr/data/osd/files/137,87-95,13,20-50</a > </li> </ul> </li> </ul> <h4>Note:</h4> <p> The study_files element in the JSON response has the remote_url attribute, which can be used to obtain the specific download URL for the file by prefacing with the OSDR data server address, <a href=\"https://osdr.nasa.gov\">https://osdr.nasa.gov</a> . In the example query/response below, the first study file for OSD-87 (version 1) study in the response below can be downloaded from <a href=\"https://osdr.nasa.gov/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_metadata_Zanello_STS135-ISA.zip\" >https://osdr.nasa.gov/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_metadata_Zanello_STS135-ISA.zip</a > </p> <h4>Example Requests:</h4> <h5>Single Study Request:</h5> <p> Example: <a href=\"https://osdr.nasa.gov/osdr/data/osd/files/87.1\">https://osdr.nasa.gov/osdr/data/osd/files/87.1</a> </p> <h6>Response:</h6> <div> <div> <pre>{<br>\"hits\": 1,<br>  \"input\": \"87.1\",<br>\"page_number\": 1,<br>\"page_size\": 25,<br>\"page_total\": 1,<br>\"studies\": {<br>\"OSD-87\": {<br>\"file_count\": 7,<br>\"study_files\": [<br>{<br>\"category\": \"Study Metadata Files\",<br>\"date_created\": 1516434676.433,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_metadata_Zanello_STS135-ISA.zip\",<br>\"file_size\": 4809,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_metadata_Zanello_STS135-ISA.zip\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>\"<br>category\": \"Microarray Data Files\",<br>\"date_created\": 1506033834.109,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\",<br>\"file_size\": 6374949,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br> }<br>\"category\": \"Microarray Data Files\",<br>\"date_created\": 1506033834.109,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_microarray_16R_(Mouse430_2).CEL.gz\",<br>\"file_size\": 6274393,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_microarray_16R_(Mouse430_2).CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>\"category\": \"Microarray Data Files\",<br>\"date_created\": 1506033834.109,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_microarray_20R_(Mouse430_2).CEL.gz\",<br>\"file_size\": 6384622,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_microarray_20R_(Mouse430_2).CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br> }<br>\"category\": \"Microarray Data Files\",<br>\"date_created\": 1506033834.109,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_microarray_52R_(Mouse430_2).CEL.gz\",<br>\"file_size\": 6297226,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_microarray_52R_(Mouse430_2).CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>\"category\": \"Microarray Data Files\",<br>\"date_created\": 1506033834.109,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_microarray_54R_(Mouse430_2).CEL.gz\",<br>\"file_size\": 6017124,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_microarray_54R_(Mouse430_2).CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>\"category\": \"Microarray Data Files\",<br>\"date_created\": 1506033834.109,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_microarray_58R_(Mouse430_2).CEL.gz\",<br>\"file_size\": 6329707,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_microarray_58R_(Mouse430_2).CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>]<br>}<br>},<br>\"success\": true,<br>\"total_hits\": 1,<br>\"valid_input\": [\"87\"]<br>}</pre></div></div><h5>Multiple Study Data Files Request:</h5> <p> Example: <a href=\"https://osdr.nasa.gov/osdr/data/osd/files/137.1,86-87\">https://osdr.nasa.gov/osdr/data/osd/files/137.1,86-87</a> </p> <h6>Response:</h6> <div> <div> <pre></pre>{<br>  \"hits\": 3,<br>\"input\": \"137.1,86-87\",<br>\"page_number\": 1,<br>\"page_size\": 25,<br>\"page_total\": 1,<br>\"studies\": {<br>\"OSD-137\": {<br>\"file_count\": 39,<br>\"study_files\": [<br>{<br>\"category\": \"RNA-Seq Data\",<br>\"date_created\": 1506033836.839,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-137_transcriptomics_RR3-BSL-B1.tar.gz\",<br>\"file_size\": 14879922202,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-137/download?source=datamanager&file=GLDS-137_transcriptomics_RR3-BSL-B1.tar.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>{<br>\"category\": \"RNA-Seq Data\",<br>\"date_created\": 1506033836.839,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-137_transcriptomics_RR3-BSL-B2.tar.gz\",<br>\"file_size\": 15103810246,<br>\"organization\": \"genelab\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>...<br>{<br>\"category\": \"Whole Genome Bisulfite Sequencing Data\",<br>\"date_created\": 1524338323.849,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-137_epigenomics_RR3-GC-G7-LVR.tar\",<br>\"file_size\": 109839032320,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-137/download?source=datamanager&file=GLDS-137_epigenomics_RR3-GC-G7-LVR.tar\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>{<br>\"category\": \"Whole Genome Bisulfite Sequencing Data\",<br>\"date_created\": 1523353758.212,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-137_epigenomics_RR3-BSL-B1-LVR.tar\",<br>\"file_size\": 73434449920,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-137/download?source=datamanager&file=GLDS-137_epigenomics_RR3-BSL-B1-LVR.tar\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>]<br>},<br>\"OSD-86\": {<br>\"file_count\": 17,<br>\"study_files\": [<br>{<br>\"category\": \"Study Metadata Files\",<br>\"date_created\": 1600242553.708,<br>\"date_updated\": 1600242553.708,<br>\"file_name\": \"GLDS-86_metadata_GSE65477-v1-ISA.zip\",<br>\"file_size\": 4904,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-86/download?source=datamanager&file=GLDS-86_metadata_GSE65477-v1-ISA.zip\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>{<br>\"category\": \"Whole Genome Bisulfite Sequencing Data\",<br>\"date_created\": 1506033835.554,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-86_epigenomics_SRR1781971_1.fastq.gz\",<br>\"file_size\": 1438278406,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-86/download?source=datamanager&file=GLDS-86_epigenomics_SRR1781971_1.fastq.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>...<br>{<br>\"category\": \"Whole Genome Bisulfite Sequencing Data\",<br>\"date_created\": 1506033835.554,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-86_epigenomics_SRR1781978_1.fastq.gz\",<br>\"file_size\": 3892512382,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-86/download?source=datamanager&file=GLDS-86_epigenomics_SRR1781978_1.fastq.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>{<br>\"category\": \"Whole Genome Bisulfite Sequencing Data\",<br>\"date_created\": 1506033835.554,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-86_epigenomics_SRR1781978_2.fastq.gz\",<br>\"file_size\": 3851398439,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-86/download?source=datamanager&file=GLDS-86_epigenomics_SRR1781978_2.fastq.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>]<br>},<br>\"OSD-87\": {<br>\"file_count\": 29,<br>\"study_files\": [<br>{<br>\"category\": \"Study Metadata Files\",<br>\"date_created\": 1601509296.578,<br>\"date_updated\": 1601509296.578,<br>\"file_name\": \"GLDS-87_metadata_Zanello_STS135-ISA.zip\",<br>\"file_size\": 6504,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_metadata_Zanello_STS135-ISA.zip\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>{<br>\"category\": \"Microarray Data Files\",<br>\"date_created\": 1506033834.109,<br>\"date_updated\": \"\",<br>\"file_name\": \"GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\",<br>\"file_size\": 6374949,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>...<br>{<br>\"category\": \"GeneLab Processed Microarray Data Files\",<br>\"date_created\": 1582096720.619,<br>\"date_updated\": 1582096720.619,<br>\"file_name\": \"GLDS-87_array_Mmus_C57-6CR_RTN_FLT_Rep3_58R_raw.CEL.gz\",<br>\"file_size\": 6413259,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_array_Mmus_C57-6CR_RTN_FLT_Rep3_58R_raw.CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"Raw Data\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>},<br>{<br>\"category\": \"GeneLab Processed Microarray Data Files\",<br>\"date_created\": 1582096720.185,<br>\"date_updated\": 1582096720.185,<br>\"file_name\": \"GLDS-87_array_Mmus_C57-6CR_RTN_FLT_Rep2_54R_raw.CEL.gz\",<br>\"file_size\": 6083294,<br>\"organization\": \"genelab\",<br>\"remote_url\": \"/geode-py/ws/studies/OSD-87/download?source=datamanager&file=GLDS-87_array_Mmus_C57-6CR_RTN_FLT_Rep2_54R_raw.CEL.gz\",<br>\"restricted\": false,<br>\"subcategory\": \"Raw Data\",<br>\"subdirectory\": \"\",<br>\"visible\": true<br>}<br>]<br>}<br>},<br>\"success\": true,<br>\"total_hits\": 3,<br>\"valid_input\": [\"137\", \"86\", \"87\"]<br>}</pre></div></div><h3 id=\"metadata\">Study Metadata API</h3> <h4>Syntax</h4> <p>https://osdr.nasa.gov/osdr/data/osd/meta/{OSD_STUDY_ID}</p> <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\"> <tbody> <tr> <td> <p align=\"center\" style=\"text-align: center\"><b>Parameters </b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Data Type </b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Notes </b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Values </b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Required </b></p> </td> </tr> <tr> <td> <p>{OSD_STUDY_ID}</p> </td> <td> <p>Integer</p> </td> <td> <p>Single study accession number</p> </td> <td> <p>Example: 87</p> </td> <td> <p>Yes</p> </td> </tr> </tbody> </table> <h5>Single Study Metadata Request:</h5> <p> Example: <a href=\"https://osdr.nasa.gov/osdr/data/osd/meta/137\">https://osdr.nasa.gov/osdr/data/osd/meta/137</a> </p> <h4>Returns: JSON-formatted response</h4> <h5>Response:</h5> <p>Note to save space some information has been ommitted with ellipsis (...)</p> <div> <div> <pre>{<br>\"hits\": 1,<br>\"input\": \"137\",<br>\"study\": {<br>\"OSD-137\": {<br>\"additionalInformation\": {<br>\"assays\": {<br>\"a_OSD-137_dna-methylation-profiling_whole-genome-bisulfite-sequencing_illumina-txt\": {<br>\"header\": [...],<br>\"raw\": [...],<br>\"table\": [...]<br>},<br>\"a_OSD-137_molecular-cellular-imaging_microscopy_pannoramic scan (3d histech)-txt\": {...},<br>\"a_OSD-137_protein-expression-profiling_mass-spectrometry-txt\": {...},<br>\"a_OSD-137_transcription-profiling_rna-sequencing-(rna-seq)-txt\": {...}<br>},<br>\"description\": {<br>\"assays\": [...],<br>\"factors\": [...]<br>},<br>\"ontologies\": {...},<br>\"organisms\": {<br>\"links\": {<br>\"musmusculus\": \"&lt;a target=\\\"_blank\\\" href=\\\"http://purl.bioontology.org/ontology/NCBITAXON/10090\\\" title=\\\"mouse &lt;Mus musculus&gt;\\\" source=\\\"NCBITAXON\\\"&gt;Mus musculus &lt;/a&gt;\\\"<br>},<br>\"ontologies\": {<br>\"musmusculus\": {...}<br>}<br>},<br>\"samples\": {...}<br>},<br>\"comments\": [],<br>\"ontologySourceReferences\": [...],<br>\"people\": [],<br>\"publications\": [],<br>\"studies\": [<br>{<br>\"assays\": [...],<br>\"characteristicCategories\": [...],<br>\"comments\": [<br>{<br>\"name\": \"Acknowledgments\",<br>\"value\": \"Funding for sample processing and sequencing was provided to the GeneLab project by the NASA Space Biology Program Office, Space Life and Physical Sciences Research and Applications Division. Samples from the RR-3 experiment were provided to GeneLab through the Biospecimen Sharing Plan of the NASA Life Sciences Data Archive. We would like to acknowledge the NASA Biospecimen Sharing Program (BSP) for their expertise and efforts in coordinating and collecting all the samples in this study.\"<br>},<br>{ \"name\": \"DOI\", \"value\": \"10.26030/9k6w-4c28\" },<br>{ \"name\": \"Data Source Accession\", \"value\": \"\" },<br>{ \"name\": \"Data Source Link\", \"value\": \"\" },<br>{ \"name\": \"Experiment Platform\", \"value\": \"Rodent Habitat\" },<br>{ \"name\": \"Flight Program\", \"value\": \"International Space Station (ISS)\" },<br>{<br>\"name\": \"Funding\",<br>\"value\": \"This investigation was funded by the ISS National Lab, the NASA Space Biology Program Office, Space Life and Physical Sciences Research and Applications Division and additional funding from the International Space Station Research Integration Office to the Space Biology GeneLab Project\"<br>},<br>{ \"name\": \"Identifiers\", \"value\": \"\" },<br>{ \"name\": \"Managing NASA Center\", \"value\": \"Ames Research Center (ARC)\" },<br>{ \"name\": \"Mission End\", \"value\": \"05/11/2016\" },<br>{ \"name\": \"Mission Link\", \"value\": \"https://osdr.nasa.gov/bio/repo/data/missions/SpaceX-8\" },<br>{ \"name\": \"Mission Name\", \"value\": \"SpaceX-8\" },<br>{ \"name\": \"Mission Start\", \"value\": \"04/08/2016\" },<br>{ \"name\": \"Project Identifier\", \"value\": \"RR-3\" },<br>{ \"name\": \"Project Link\", \"value\": \"https://lsda.jsc.nasa.gov/Experiment/exper/13961\" },<br>{ \"name\": \"Project Title\", \"value\": \"Rodent Research 3 (RR3)\" },<br>{ \"name\": \"Project Type\", \"value\": \"Spaceflight Study\" },<br>{ \"name\": \"Space Program\", \"value\": \"NASA\" },<br>{ \"name\": \"Study Grant Number\", \"value\": \"\" }<br>],<br>\"description\": \"The Rodent Research-3 (RR-3) mission was sponsored by the pharmaceutical company Eli Lilly and Co. and the Center for the Advancement of Science in Space to study the effectiveness of a potential countermeasure for the loss of muscle and bone mass that occurs during spaceflight. Twenty BALB/c, 12-weeks old female mice (ten controls and ten treated) were flown to the ISS and housed in the Rodent Habitat for 39-42 days. Twenty mice of similar age, sex and strain were used for ground controls housed in identical hardware and matching ISS environmental conditions. Basal controls were housed in standard vivarium cages. Spaceflight, ground controls and basal groups had blood collected, then were euthanized, had one hind limb removed, and finally whole carcasses were stored at -80 C until dissection. All mice in this data set received only the control/sham injection.\",<br>\"factors\": [...],<br>\"identifier\": \"OSD-137\",<br>\"materials\": {...},<br>\"people\": [...],<br>\"processSequence\": [...],<br>\"protocols\": [...],<br>\"publicReleaseDate\": \"28-Aug-2017\",<br>\"publications\": [<br>{<br>\"authorList\": \"Beheshti A, Chakravarty K, Fogle H, Fazelinia H, Silveira WAD, Boyko V, Lai Polo S, Saravia-Butler AM, Hardiman G, Taylor D, Galazka JM, Costes SV\",<br>\"comments\": [],<br>\"doi\": \"10.1038/s41598-019-55869-2\",<br>\"pubMedID\": \"31844325\",<br>\"status\": {<br>\"@id\": \"LmdAvi3HYaAIgsfwpY1sWHGrDR5sHm3luQJDg1Ay\",<br>\"annotationValue\": \"published\",<br>\"comments\": [],<br>\"termAccession\": \"http://www.ebi.ac.uk/efo/EFO_0001796\",<br>\"termSource\": \"EFO\"<br>},<br>\"title\": \"Multi-omics analysis of multiple missions to space reveal a theme of lipid dysregulation in mouse liver\"<br>}<br>],<br>\"studyDesignDescriptors\": [...],<br>\"submissionDate\": \"04-Aug-2017\",<br>\"title\": \"Rodent Research-3-CASIS: Mouse liver transcriptomic, proteomic, epigenomic and histology data\",<br>\"unitCategories\": [...]<br>}<br>],<br>\"version\": 8<br>}<br>},<br>\"success\": true<br>}</pre></div></div><h3 id=\"search\">Study Dataset Search API</h3> <h4>Syntax 1 (returns JSON response)</h4> <p>https://osdr.nasa.gov/osdr/data/search?&lt;PARAMETER-LIST&gt;</p> <table align=\"left\" border=\"1\" cellpadding=\"0\" cellspacing=\"0\"> <tbody> <tr> <td> <p align=\"center\"><b>parameters</b> <b> </b></p> </td> <td> <p align=\"center\"><b>definition </b></p> </td> <td> <p align=\"center\"><b>values </b></p> </td> </tr> <tr> <td> <p>term</p> </td> <td> <p>search keyword</p> </td> <td> <p>string</p> </td> </tr> <tr style=\"mso-yfti-irow: 2; page-break-inside: avoid\"> <td> <p>from</p> </td> <td> <p>starting page</p> </td> <td> <p>integer (single value)</p> </td> </tr> <tr> <td> <p>size</p> </td> <td> <p>search&nbsp;result&nbsp;display&nbsp;count</p> </td> <td> <p>integer (single value)</p> </td> </tr> <tr> <td> <p>type</p> </td> <td> <p>datasource</p> </td> <td> <p>cgene , nih_geo, ebi_pride, mg_rast (accepts multiple value separated by comma separated)</p> </td> </tr> <tr> <td> <p>sort</p> </td> <td> <p>sort field</p> </td> <td> <p>string (Field Name)</p> </td> </tr> <tr> <td> <p>order</p> </td> <td> <p>sort order</p> </td> <td> <p>ASC - ascending order; DESC - descending order</p> </td> </tr> <tr> <td> <p>ffield</p> </td> <td> <p>filter field</p> </td> <td> <p> string (should always be pared with fvalue); append .raw to the end of the field to use the exact match index; see table below for possible filter field values and example filter value pairings </p> </td> </tr> <tr> <td> <p>fvalue</p> </td> <td> <p>filter value</p> </td> <td> <p>string (should always be pared with ffield)</p> </td> </tr> </tbody> </table> <p style=\"clear: both\">&nbsp;</p> <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\"> <tbody> <tr> <td> <p align=\"center\" style=\"text-align: center\"><b>Filter Field (Case Sensitive) </b></p> </td> <td> <p align=\"center\" style=\"text-align: center\"><b>Example Filter Value </b></p> </td> </tr> <tr> <td><p>Accession</p></td> <td><p>OSD-4</p></td> </tr> <tr> <td><p>Acknowledgments</p></td> <td><p>NASA JPL</p></td> </tr> <tr> <td><p>Authoritative Source URL</p></td> <td><p>OSD-4</p></td> </tr> <tr> <td><p>Data Source Accession</p></td> <td><p>GSE18388</p></td> </tr> <tr> <td><p>Data Source Type</p></td> <td><p>cgene</p></td> </tr> <tr> <td><p>Experiment Platform</p></td> <td><p>Animal Enclosure Module</p></td> </tr> <tr> <td><p>Flight Program</p></td> <td><p>Shuttle</p></td> </tr> <tr> <td><p>links</p></td> <td><p>GPL13112</p></td> </tr> <tr> <td><p>Managing NASA Center</p></td> <td><p>Ames Research Center</p></td> </tr> <tr> <td><p>Material Type</p></td> <td><p>thymus</p></td> </tr> <tr> <td><p>organism</p></td> <td><p>Mus musculus</p></td> </tr> <tr> <td><p>Project Identifier</p></td> <td><p>NNA04CC97G</p></td> </tr> <tr> <td><p>Project Link</p></td> <td><p>https://taskbook.nasaprs.com/tbp/index.cfm?action=public_query_taskbook_content&TASKID=7191</p></td> </tr> <tr> <td><p>Project Title</p></td> <td><p>Vector-Averaged Gravity</p></td> </tr> <tr> <td><p>Project Type</p></td> <td><p>Spaceflight</p></td> </tr> <tr> <td><p>Space Program</p></td> <td><p>NASA</p></td> </tr> <tr> <td><p>Study Assay Measurement Type</p></td> <td><p>transcription profiling</p></td> </tr> <tr> <td><p>Study Assay Technology Platform</p></td> <td><p>Affymetrix</p></td> </tr> <tr> <td><p>Study Assay Technology Type</p></td> <td><p>DNA microarray</p></td> </tr> <tr> <td><p>Study Description</p></td> <td><p>Murine Thymus Tissue</p></td> </tr> <tr> <td><p>Study Factor Name</p></td> <td><p>Spaceflight</p></td> </tr> <tr> <td><p>Study Factor Type</p></td> <td><p>Space Flight</p></td> </tr> <tr> <td><p>Study Funding Agency</p></td> <td><p>NNA04CC97G</p></td> </tr> <tr> <td><p>Study Identifier</p></td> <td><p>OSD-4</p></td> </tr> <tr> <td><p>Study Protocol Description</p></td> <td><p>thymus tissue</p></td> </tr> <tr> <td><p>Study Protocol Name</p></td> <td><p>sample collection</p></td> </tr> <tr> <td><p>Study Protocol Type</p></td> <td><p>sample collection</p></td> </tr> <tr> <td><p>Study Public Release Date</p></td> <td><p>1268179200</p></td> </tr> <tr> <td><p>Study Publication Author List</p></td> <td><p>Gruener R</p></td> </tr> <tr> <td><p>Study Publication Title</p></td> <td><p>spaceflown murine thymus tissue</p></td> </tr> <tr> <td><p>Study Title</p></td> <td><p>Space-flown Murine Thymus Tissue</p></td> </tr> </tbody> </table> <p style=\"clear: both\">&nbsp;</p> <p>POST and GET requests accept the URL encoded name/value pairs for submission</p> <p>Examples:</p> <ul> <li> <a href=\"https://osdr.nasa.gov/osdr/data/search?term=space&amp;from=0&amp;type=cgene,nih_geo_gse&amp;ffield=links&amp;fvalue=GPL16417&amp;ffield=Data%20Source%20Accession.raw&amp;fvalue=GSE82255\" > https://osdr.nasa.gov/osdr/data/search?term=space&amp;from=0&amp;type=cgene,nih_geo_gse&amp;ffield=links&amp;fvalue=GPL16417&amp;ffield=Data%20Source%20Accession.raw&amp;fvalue=GSE82255</a > </li> <li> <a href=\"https://osdr.nasa.gov/osdr/data/search?ffield=organism&fvalue=Homo%20sapiens&ffield=Study%20Assay%20Technology%20Type&fvalue=RNA%20Sequencing\" > https://osdr.nasa.gov/osdr/data/search?ffield=organism&fvalue=Homo%20sapiens&ffield=Study%20Assay%20Technology%20Type&fvalue=RNA%20Sequencing</a > </li> </ul> <h4>Syntax 2 (returns HTML response):</h4> <p>Format: https://osdr.nasa.gov/bio/repo/search?q=&lt;SEARCH-TERMS&gt;&amp;data_source=&lt;DATA-SOURCE&gt;</p> <div> <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\"> <tbody> <tr> <td width=\"200\"> <p><b>Parameters</b></p> </td> <td width=\"150\"> <p><b>Values</b></p> </td> <td> <p><b>Usage</b></p> </td> </tr> <tr> <td width=\"200\"> <p>SEARCH-TERMS</p> </td> <td width=\"150\"> <p>text</p> </td> <td> <p>Any text to search for, can be augmented by the keywords:</p> <ul> <li>AND - ALL search terms must be present (default boolean search)</li> <li>OR - ANY of your search terms can be present</li> <li>NOT - exclude words from your search</li> </ul> <p>If no conjunctive or disjunctive operator specified, the default is \"AND\"</p> </td> </tr> <tr> <td width=\"200\"> <p>DATA-SOURCE</p> </td> <td width=\"150\"> <p>cgene, nih_geo_gse, ebi_pride, mg_rast</p> </td> <td> <ul> <li>cgene - Search authoritative data records in NASA Open Science Data Repository</li> <li>nih_geo_gse - Search authoritative data records in NIH Gene Expression Omnibus database</li> <li> ebi_pride - Search authoritative data records in the European Bioinformatics Institute Proteomics Identification database </li> <li>mg_rast - Search authoritative data records in the Metagenomic Rapid Annotations using Subsystems Technology database</li> </ul> </td> </tr> </tbody> </table> </div> <p style=\"clear: both\">&nbsp;</p> <p>Examples:</p> <ul> <li> <a href=\"https://osdr.nasa.gov/bio/repo/search?q=cancer&amp;data_source=cgene\"> https://osdr.nasa.gov/bio/repo/search?q=cancer&amp;data_source=cgene </a> </li> <li> <a href=\"https://osdr.nasa.gov/bio/repo/search?q=mouse%20AND%20liver&amp;data_source=cgene\" >https://osdr.nasa.gov/bio/repo/search?q=mouse%20AND%20liver&amp;data_source=cgene </a> </li> </ul> <h2 id=\"other\">Experiments, Missions, Payloads, Hardware, Vehicles, Subjects, Biospecimens</h2> <h3>Format:</h3> <p> Experiments, Missions, Payloads, Hardware, Vehicles, Subjects, and Biospecimens follow the same API format. The \"All\" call returns a list of all objects within that data type, while the \"Single\" call returns an expanded version of a specific object. The endpoint for any single object can be selected from the \"All\" call. Some objects may include links to other objects within the API, such as a vehicle within a mission. </p> <ul> <li> <b>Experiment:</b> <ul> <li>All: <a href=\"https://osdr.nasa.gov/geode-py/ws/api/experiments\">https://osdr.nasa.gov/geode-py/ws/api/experiments</a></li> <li>Single: https://osdr.nasa.gov/geode-py/ws/api/experiment/ + identifier</li> </ul> </li> <li> <b>Mission:</b> <ul> <li>All: <a href=\"https://osdr.nasa.gov/geode-py/ws/api/missions\">https://osdr.nasa.gov/geode-py/ws/api/missions</a></li> <li>Single: https://osdr.nasa.gov/geode-py/ws/api/mission/ + identifier</li> </ul> </li> <li> <b>Payload:</b> <ul> <li>All: <a href=\"https://osdr.nasa.gov/geode-py/ws/api/payloads\">https://osdr.nasa.gov/geode-py/ws/api/payloads</a></li> <li>Single: https://osdr.nasa.gov/geode-py/ws/api/payload/ + identifier</li> </ul> </li> <li> <b>Hardware:</b> <ul> <li>All: <a href=\"https://osdr.nasa.gov/geode-py/ws/api/hardware\">https://osdr.nasa.gov/geode-py/ws/api/hardware</a></li> <li>Single: https://osdr.nasa.gov/geode-py/ws/api/hardware/ + identifier</li> </ul> </li> <li> <b>Vehicle:</b> <ul> <li>All: <a href=\"https://osdr.nasa.gov/geode-py/ws/api/vehicles\">https://osdr.nasa.gov/geode-py/ws/api/vehicles</a></li> <li>Single: https://osdr.nasa.gov/geode-py/ws/api/vehicle/ + identifier</li> </ul> </li> <li> <b>Subject:</b> <ul> <li>All: <a href=\"https://osdr.nasa.gov/geode-py/ws/api/subjects\">https://osdr.nasa.gov/geode-py/ws/api/subjects</a></li> <li>Single: https://osdr.nasa.gov/geode-py/ws/api/subject/ + identifier</li> </ul> </li> <li> <b> Biospecimen:</b> <ul> <li>All: <a href=\"https://osdr.nasa.gov/geode-py/ws/api/biospecimens\">https://osdr.nasa.gov/geode-py/ws/api/biospecimens</a></li> <li>Single: https://osdr.nasa.gov/geode-py/ws/api/biospecimen/ + identifier</li> </ul> </li> </ul> <h3>Examples:</h3> <h4>Single Mission Call</h4> <p><a href=\"https://osdr.nasa.gov/geode-py/ws/api/mission/SpaceX-12\">https://osdr.nasa.gov/geode-py/ws/api/mission/SpaceX-12</a></p> <h5>Response</h5> <div> <div> <pre>{<br>\"id\": \"6375b4f7313d542fb5edacaf\",<br>\"identifier\": \"SpaceX-12\",<br>\"identifierLowercase\": \"spacex-12\",<br>\"esID\": \"XeBryYQB28eYt3lGVyVN\",<br>\"aliases\": [\"SpX-12\", \"Increment 52/53\", \"CRS-12\"],<br>\"startDate\": \"08/14/2017\",<br>\"endDate\": \"09/17/2017\",<br>\"files\": [],<br>\"vehicle\": { \"vehicle\": \"https://osdr.nasa.gov/geode-py/ws/api/vehicle/Dragon\" },<br>\"people\": [<br>{<br>\"institution\": \"Wake Forest School of Medicine\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda5c1\",<br>\"firstName\": \"Jeffrey\",<br>  \"middleName\": \"Scott\",<br>\"lastName\": \"Willey\",<br>\"emailAddress\": \"jwilley@wakehealth.edu\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"879a7f5eb83f436e88fbeeca1638899b\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"University of Florida\",<br>\"roles\": [\"Co-Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda5eb\",<br>\"firstName\": \"Brad\",<br>\"middleName\": \"\",<br>\"lastName\": \"Behnke\",<br>\"emailAddress\": \"\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"03fe55c410f54473b2df5e46ae8995ff\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"Texas A&M University\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda5ec\",<br>\"firstName\": \"David\",<br>\"middleName\": \"\",<br>\"lastName\": \"Zawieja\",<br>\"emailAddress\": \"\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"c871ffcaa74341f69d069174d1474819\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"NASA Ames Research Center (ARC)\",<br>\"roles\": [\"Mission Integration and Operations Lead\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda5a7\",<br>\"firstName\": \"Cecilia\",<br>\"middleName\": \"L.\",<br>\"lastName\": \"Wigley\",<br>\"emailAddress\": \"\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"3011b2d648f54325bd510f5766cd74ca\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"NASA Ames Research Center (ARC)\",<br>\"roles\": [\"Biospecimen Sharing Program (BSP) Lead\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda65a\",<br>\"firstName\": \"Rebecca\",<br>\"middleName\": \"\",<br>\"lastName\": \"Klotz\",<br>\"emailAddress\": \"\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"8c880d8fe6474be1b6ab98a476fe144a\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"NASA Ames Research Center (ARC)\",<br>\"roles\": [\"Mission Scientist\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda64d\",<br>\"firstName\": \"Sungshin\",<br>\"middleName\": \"\",<br>\"lastName\": \"Choi\",<br>\"emailAddress\": \"\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"16374e18c88049bbbbaf90c88b63f809\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"Florida State University\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda65e\",<br>\"firstName\": \"Michael\",<br>\"middleName\": \"\",<br>\"lastName\": \"Delp\",<br>\"emailAddress\": \"mdelp@fsu.edu\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"a681490bdca94c79b98d5fd0a1c79962\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"Loma LInda University\",<br>\"roles\": [\"Co-Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda5be\",<br>\"firstName\": \"Xiao Wen\",<br>\"middleName\": \"\",<br>\"lastName\": \"Mao\",<br>\"emailAddress\": \"\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"67df63fd7964413a9c61155b596e2a87\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"NASA Ames Research Center (ARC)\",<br>\"roles\": [\"ARC Project Manager\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda669\",<br>\"firstName\": \"Janet\",<br>\"middleName\": \"\",<br>\"lastName\": \"Beegle\",<br>\"emailAddress\": \"\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"113febbfd77a4dab8313cc07d09a6c24\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"RIKEN Center for Integrative Medical Sciences\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda679\",<br>\"firstName\": \"Hiroshi\",<br>\"middleName\": \"\",<br>\"lastName\": \"Ohno\",<br>\"emailAddress\": \"\",<br>\"phone\": \"+81-(0)45-503-9121\",<br>\"versionInfo\": { \"documentKey\": \"03f15300b175436eafa1ed58e7754205\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"Florida Gulf Coast University\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda684\",<br>\"firstName\": \"Sherri\",<br>\"middleName\": \"\",<br>\"lastName\": \"Emer\",<br>\"emailAddress\": \"semer@fgcu.edu\",<br>\"phone\": \"239-745-4247\",<br>\"versionInfo\": { \"documentKey\": \"a29f49cba0a5470e951d79962835d020\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"Brock University\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda698\",<br>\"firstName\": \"Val\",<br>\"middleName\": \"Andrew\",<br>\"lastName\": \"Fajardo\",<br>\"emailAddress\": \"vfajardo@brocku.ca\",<br>\"phone\": \"905-688-5550 ext. 4769\",<br>\"versionInfo\": { \"documentKey\": \"7e64497572ba4b7683b5d578a9d03a34\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"University of Texas Rio Grande Valley\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda6ae\",<br>\"firstName\": \"Upal\",<br>\"middleName\": \"\",<br>\"lastName\": \"Roy\",<br>\"emailAddress\": \"upal.roy@utrgv.edu\",<br>\"phone\": \"\",<br>\"versionInfo\": { \"documentKey\": \"e14bc4fa65f74bb0b217d9176c9a03b5\", \"version\": 1, \"deleted\": false }<br>}<br>},<br>{<br>\"institution\": \"Indiana University School of Dentistry\",<br>\"roles\": [\"Principal Investigator\"],<br>\"person\": {<br>\"id\": \"6375b4f6313d542fb5eda6af\",<br>\"firstName\": \"Simone\",<br>\"middleName\": \"\",<br>\"lastName\": \"Duarte\",<br>\"emailAddress\": \"siduarte@iu.edu\",<br>\"phone\": \"585-330-6159\",<br>\"versionInfo\": { \"documentKey\": \"c7a1f810f291422f9a44ef94bf4f9885\", \"version\": 1, \"deleted\": false }<br>}<br>}<br>],<br>\"versionInfo\": { \"documentKey\": \"989cb8bb2add48f68fe7ec4e761704c6\", \"version\": 1, \"deleted\": false },<br>\"parents\": {<br>\"payload\": [<br>{ \"payload\": \"https://osdr.nasa.gov/geode-py/ws/api/payload/RR-9\" },<br>{ \"payload\": \"https://osdr.nasa.gov/geode-py/ws/api/payload/MHU-2\" },<br>{ \"payload\": \"https://osdr.nasa.gov/geode-py/ws/api/payload/RR-9_BSP\" },<br>{ \"payload\": \"https://osdr.nasa.gov/geode-py/ws/api/payload/BRIC-22\" }<br>],<br>\"experiment\": [{ \"experiment\": \"https://osdr.nasa.gov/geode-py/ws/api/experiment/OS-140\" }],<br>\"GLDS_Study\": [<br>{ \"GLDS_Study\": \"https://osdr.nasa.gov/osdr/data/osd/meta/OSD-488\" },<br>{ \"GLDS_Study\": \"https://osdr.nasa.gov/osdr/data/osd/meta/OSD-660\" },<br>{ \"GLDS_Study\": \"https://osdr.nasa.gov/osdr/data/osd/meta/OSD-654\" },<br>{ \"GLDS_Study\": \"https://osdr.nasa.gov/osdr/data/osd/meta/OSD-663\" },<br>{ \"GLDS_Study\": \"https://osdr.nasa.gov/osdr/data/osd/meta/OSD-662\" },<br>{ \"GLDS_Study\": \"https://osdr.nasa.gov/osdr/data/osd/meta/OSD-321\" }<br>]<br>}<br>} </pre></div></div><h4>Single Vehicle Call</h4><p>From the above example, we can see a vehicle endpoint which directs us to the vehicle linked to SpaceX-12.</p><p><a href=\"https://osdr.nasa.gov/geode-py/ws/api/vehicle/Dragon\">https://osdr.nasa.gov/geode-py/ws/api/vehicle/Dragon</a></p><h5>Response</h5><div><div><pre>{<br>\"id\": \"6375b4f8313d542fb5edbdfb\",<br>\"identifier\": \"Dragon\",<br>\"identifierLowercase\": \"dragon\",<br>\"esID\": \"_uBzyYQB28eYt3lGm4k7\",<br>\"files\": [<br>{<br>\"id\": \"6375b4f6313d542fb5edab7e\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR01/EnvironmentalMonitoring_Rearranged/ISS_ISSES\",<br>\"subcategory\": \"ISS_ISSES\",<br>\"subdirectory\": \"Env\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 1 mission data collection contains environmental monitoring data for the Rodent Research payload on the International Space Station (ISS), and in associated ground controls at Kennedy Space Center (KSC). These datasets contain environmental data for the ISS cabin near the rodent habitats and the associated cabin Ground Simulation Chamber (ISSES) at KSC.\\nIncluded in this series:\\n1. A single file that combines the ISS cabin and ISSES chamber data. \\\"SP\\\" values are the set point from the ISS cabin near the rodent habitats and \\\"PV\\\" values are actual conditions in the simulation chambers. Data readings are every 5 minutes from 9/20/14 to just before midnight on 10/31/2014. (cabin_ISSES_ch4_RR1.xlsx)\\n- Parameters:\\nTemperature (degrees Celsius)\\nRelative humidity (percentage)\\nCarbon dioxide (parts per million)\\nThe status (On or Off) of Lights 1-3\\n2. Raw and consolidated data files from two sensors on the International Space Station that were estimated to be nearest the rodent habitats in the lab module. Ambient temperature was collected for duration of the mission. (cabin_ISS_sto_Lab)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edab80\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR01/EnvironmentalMonitoring_Rearranged/VehicleData_SpX04_RR-1_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 1 mission data collection contains environmental, acoustics, vibrations, and acceleration data that pertain to the SpaceX CRS-21 Dragon cargo vehicle during ascent as it carried the Rodent Research payload to the International Space Station. \\nThis dataset includes raw and reduced acceleration, carbon dioxide, oxygen, temperature, relative humidity, and pressure data for the pressurized cargo cabin environment; graphed acoustics and vibration data from the post flight report; a reference key for the raw data; a sensor location diagram for the Dragon capsule; and a cargo environments instrumentation plan for the Dragon capsule and Falcon 9 launch vehicle. \\nParameters\\nDragon cabin pressure (psia)\\nPartial pressure of oxygen and carbon dioxide (psia)\\nTemperature (degrees Celsius)\\nRelative humidity (percentage)\\nBody accelerations (m/s^2)\\nAcoustics (decibels / hertz)\\nVibrations (PSD (g^2Hz) / Hz)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edab8e\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR02/EnvironmentalMonitoring/VehicleData_SpX6_RR02_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 2 mission data collection contains environmental monitoring, acceleration, acoustics, and vibration data for the experiment while it was carried aboard the SpaceX-6 Dragon spacecraft.\\nThe SpaceX6_Data directory contains datasets collected from the Dragon spacecraft. Included within are Dragon sensor locations and temperature and humidity data collected from loggers within the flight and ground transporters (SN 209 and SN 210). \\nThe SpX-6_LaunchData, SpX-6_ProcessedFlightData and SpX-6_ReturnData subdirectories include sensor readings of environmental conditions in the cabin of the spacecraft (i.e. relative humidity, pressure, temperature, carbon dioxide, and oxygen concentration), as well as cabin acceleration, acoustic noise levels, and vibration loads during launch and ascent.\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edab93\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR03/EnvironmentalMonitoring/ISS_ISSES\",<br>\"subcategory\": \"ISS_ISSES\",<br>\"subdirectory\": \"Env\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 3 mission data collection contains environmental monitoring data for the Rodent Research payload on the International Space Station (ISS), and in associated ground controls at Kennedy Space Center (KSC). These datasets contain environmental data for the ISS cabin near the rodent habitats and the associated cabin Ground Simulation Chamber (ISSES) at KSC.\\n- Parameters: \\nTemperature (degrees Celsius)\\nRelative humidity (percentage)\\nCarbon dioxide (parts per million)\\nISS Cabin Only: partial oxygen pressure raw and plotted data. Raw data are in one second intervals\\n\\\"SP\\\" values are the set point from the ISS cabin near the rodent habitats and \\\"PV\\\" values are actual conditions in the simulation chambers.\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabad\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR09/EnvironmentalMonitoring/VehicleData_SpaceX12_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 9 mission data collection contains environmental, acoustics, vibrations, and acceleration data that pertain to the SpaceX CRS-12 Dragon vehicle as it carried the Rodent Research payload to the International Space Station and back down to Earth. \\nThe following raw acceleration and pressurized cargo environment data are included (CSV):\\n- A reference document for the data collection\\n- For ascent: Dragon body acceleration (m/s^2) values\\n- For ascent and descent: cabin pressure (psia), temperature readings from cabin air and duct sensors (degrees Celsius), relative humidity readings from cabin air and duct sensors (percent RH), partial pressure of carbon dioxide (psia), and partial pressure of oxygen (psia)\\nThe following summarized data are included (PDF):\\nA SpaceX post flight report entitled \\\"Dragon 1-14 (CRS-12) Final Report (Revision 1.0, November 8, 2017)\\\" has summarized data plots for the cargo hold temperature, relative humidity, partial pressure of oxygen and carbon dioxide throughout the mission as well as graphs for pressurized cargo vibration for ascent, acoustics for ascent and return, and cargo shock environments on reentry.\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabb0\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR01/eclss_sensorlocations_dragon.pdf\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This document provides a diagram showing environmental monitoring sensor locations in the SpaceX CRS Dragon cabin and the corresponding headers in the data files. The diagram was provided by SpaceX for Rodent Research 1 and the data headers for temperature and pressure values subsequently changed. This document provides a crosswalk for later data files.\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabb4\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR04/EnvironmentalMonitoring/VehicleData_SpaceX10_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 4 mission data collection contains environmental and acceleration data pertaining to the SpaceX CRS-10 Dragon vehicle as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\nThe following parameters are included for ascent and return:\\nDragon cabin pressure (psia)\\nBody accelerations (m/s^2)\\nTemperature (degrees Celsius)\\nRelative humidity (percentage)\\nPartial pressure of oxygen and carbon dioxide (psia)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabb5\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR05/EnvironmentalMonitoring/VehicleData_SpaceX11_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 5 mission data collection contains environmental, acoustics, vibrations, and acceleration data pertaining to the SpaceX CRS-11 Dragon vehicle as it carried the Rodent Research payload to the International Space Station and back down to Earth.\u00a0\\nThe following raw data are included for ascent and return:\\n   - Dragon cabin pressure (psia)\\n   - Body accelerations (m/s^2)\\n   - Temperature (degrees Celsius)\\n   - Relative humidity (percentage)\\n   - Partial pressure of oxygen and carbon dioxide (psia)\\nThe following plotted data are included: \\n   - Vibrations (ascent)\\n   - Acoustics (launch and reentry)\\n   - Cabin environment (entire mission): Pressure, relative humidity, temperature, partial pressure (oxygen and carbon dioxide)\\nDate ranges:\\nAscent: June 3-9, 2017\\nReturn: July 1-3, 2017\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabb6\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR03/EnvironmentalMonitoring/VehicleData_SpaceX8_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 3 mission data collection contains environmental and acceleration data pertaining to the SpaceX CRS-8 Dragon vehicle as it carried the Rodent Research payload to the International Space Station.\\nThe following parameters are included for ascent:\\nDragon cabin pressure (psia)\\nBody accelerations (m/s^2)\\nTemperature (degrees Celsius)\\nRelative humidity (percentage)\\nPartial pressure of oxygen and carbon dioxide (psia)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabba\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR06/EnvironmentalMonitoring/VehicleData_SpaceX13-14_RR06_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of\u00a0the Rodent Research 6 mission data collection contains environmental and acceleration data that pertain to the SpaceX CRS-13 Dragon spacecraft as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\nThe following parameters are included for ascent and return:\\nDragon cabin pressure (psia)\\nBody accelerations (m/s^2)\\nTemperature (degrees Celsius)\\nRelative humidity (percentage)\\nPartial pressure of oxygen and carbon dioxide (psia)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabd1\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR08/EnvironmentalMonitoring/VehicleData_SpaceX16_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of\u00a0the Rodent Research 8 mission data collection contains environmental and acceleration data that pertain to the SpaceX CRS-16 Dragon spacecraft as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\nDragon cabin pressure (psia)\\nBody accelerations (m/s^2)\\nTemperature (degrees Celsius)\\nRelative humidity (percentage)\\nPartial pressure of oxygen and carbon dioxide (psia)\\nDate range of materials:\\nDecember 4-9, 2018 (Ascent)\\nJanuary 13-14, 2019 (Return)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabde\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR07/EnvironmentalMonitoring/VehicleData_SpaceX15_RR07_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 7 mission data collection contains environmental, acoustics, vibrations, and acceleration data that pertain to the SpaceX CRS-15 Dragon vehicle as it carried the Rodent Research payload to the International Space Station.\\nThe following raw data are included for ascent (XLSX):\\n- Dragon body acceleration (m/s^2)\\n- Pressurized cabin: pressure (psia), temperature readings from cabin air and duct sensors (degrees Celsius), relative humidity readings from cabin air and duct sensors (percent RH), partial pressure of carbon dioxide (psia), and partial pressure of oxygen (psia). 35 readings per second.\\nThe following summarized data are included in excerpts from the post flight report procuded by SpaceX (PDF/PPTX):\\n- Dragon acoustics and random vibrations (plotted).\\n(Note: The PDF and PPTX formats contain the same post flight report. The PPTX file was retained so that users can enlarge individual charts)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabdf\",<br>\"fullPath\": \"CLSR/alsda_master/Dap Drobo/RodentResearch/RR017/EnvironmentalMonitoring/VehicleData_SpX18_RR17_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of\u00a0the Rodent Research 17 mission data collection contains vehicle cabin environment and acceleration data for the SpaceX CRS-18 Dragon spacecraft as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\nThe following raw data are included:\\n- Dragon capsule body acceleration (m/s^2)\\n- Dragon cabin environment, including temperature (degrees Celsius), relative humidity (percentage), pressure (psia), and partial pressure of oxygen and carbon dioxide (psia)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabe5\",<br>\"fullPath\": \"CLSR/alsda_master/Dap Drobo/RodentResearch/RR019/EnvironmentalMonitoring/VehicleData_SpX19_RR19_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 19 mission data collection contains vehicle cabin environment and acceleration data for the SpaceX CRS-19 Dragon spacecraft as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\nDate range is 12/3/2019 - 1/7/2020 (GMT 337 2019 - 007 2020)\\n   Late load:12/3-5, 2019\\n   Ascent: 12/5-8, 2019\\n   Berthed: 12/8-12, 2019\\n   Return: 1/5-7, 2020\\nThe following raw data are included for ascent and return: \\nChannel 1 - Cabin air temperature (degrees Celsius)\\nChannel 2 - Relative humidity (percentage)\\nChannel 3 - Cabin pressure (psia)\\nChannel 4 - Partial pressure of oxygen (psia)\\nChannel 5 - Partial pressure of carbon dioxide (psia)\\nChannel 6 - Dragon body acceleration (m/s^2)\\nIncluded are the original dataset with UNIX timestamps and a copy dataset with the UNIX timestamps converted to GMT. The former is expressed to fractions of a second and the latter is in whole seconds.\\nUNIX Date and Time conversion formula provided by SpaceX: \\n-  =(TIME/86400+DATE(1970,1,1)) and format as time\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabf7\",<br>\"fullPath\": \"CLSR/alsda_master/Dap Drobo/RodentResearch/RR010/EnvironmentalMonitoring/VehicleData_SpX21_RR10_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 10 mission data collection contains atmospheric and acceleration data for the SpaceX CRS-21 Dragon vehicle as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\nAscent date range: December 6-7, 2020 (DOY 341-342)\\nReturn date range: January 12-14, 2021 (DOY 012-014)\\nThe following raw acceleration and pressurized cargo environment data are included (CSV).\\nFor ascent and return: Dragon body acceleration (m/s^2), cabin pressure (psia), temperature readings from cabin air and duct sensors (degrees Celsius), relative humidity readings from cabin air and duct sensors (percent RH), partial pressure of carbon dioxide (psia), and partial pressure of oxygen (psia); summary graphs of all parameters.\\nA reference document defining the parameters was not provided.\\nSummarized Datasets\\nGraphed data relating to Dragon pressurized cargo cabin environmental conditions are included for these parameters: temperature, relative humidity, partial pressure of oxygen and carbon dioxide, pressure, acoustics, and vibrations. The data are extracted from a SpaceX report entitled \\\"Dragon CRS-21 Post-Mission Data Review: Mission Management/Cargo.\\\" Date ranges span from late load on December 4, 2020 through return on January 14, 2021. \\nFor most, the data graphs are presented in the context of required limits. Specifics include: \\n- Late load install through launch, December 4-7, 2020: Dragon cabin temperature, relative humidity, partial pressure of oxygen, partial pressure of carbon dioxide, and cabin pressure.\\n- Launch through docking with ISS, undated: Dragon cabin temperature, humidity, and pressure\\n- Expected trends throughout mission, undated: Partial pressure of oxygen and carbon dioxide\\n- Ascent random vibrations\\n- Ascent and reentry acoustics\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edabf8\",<br>\"fullPath\": \"CLSR/alsda_master/Dap Drobo/RodentResearch/RR023/EnvironmentalMonitoring/VehicleData_SpX21_RR23_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 23 mission data collection contains atmospheric and acceleration data for the SpaceX CRS-21 Dragon vehicle as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\nAscent date range: December 6-7, 2020 (DOY 341-342)\\nReturn date range: January 12-14, 2021 (DOY 012-014)\\n\\nThe following raw acceleration and pressurized cargo environment data are included for ascent and return (CSV): \\nDragon body acceleration (m/s^2), cabin pressure (psia), temperature readings from cabin air and duct sensors (degrees Celsius), relative humidity readings from cabin air and duct sensors (percent RH), partial pressure of carbon dioxide (psia), and partial pressure of oxygen (psia); summary graphs of all parameters.\\nSummarized Datasets\\nGraphed data relating to Dragon pressurized cargo cabin environmental conditions are included for these parameters: temperature, relative humidity, partial pressure of oxygen and carbon dioxide, pressure, acoustics, and vibrations. The data are extracted from a SpaceX report entitled \\\"Dragon CRS-21 Post-Mission Data Review: Mission Management/Cargo.\\\" Date ranges span from late load on December 4, 2020 through return on January 14, 2021.\\nFor most, the data graphs are presented in the context of required limits. Specifics include: \\n- Late load install through launch, December 4-7, 2020: Dragon cabin temperature, relative humidity, partial pressure of oxygen, partial pressure of carbon dioxide, and cabin pressure.\\n- Launch through docking with ISS, undated: Dragon cabin temperature, humidity, and pressure\\n- Expected trends throughout mission, undated: Partial pressure of oxygen and carbon dioxide\\n- Ascent random vibrations\\n- Ascent and reentry acoustics\\nUnits of measure used:\\nTemperature, degrees Celsius\\nRelative humidity, percentage \\nPressure, pounds per square inch absolute\\nPartial pressure of oxygen, pounds per square inch absolute\\nPartial pressure of carbon dioxide, millimeters of mercury\\nRandom vibrations, power spectral density g^2/Hz\\nAcoustics, sound pressure level (decibels relative to reference value ref20E-6 Pa)\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edac08\",<br>\"fullPath\": \"CLSR/alsda_master/Dap Drobo/RodentResearch/RR018/EnvironmentalMonitoring/VehicleData_SpX24_RR18_RESTRICTED\",<br>\"subcategory\": \"SpaceX\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 18 data collection contains atmospheric and acceleration data for the SpaceX CRS-24 Dragon vehicle as it carried the Rodent Research payload to the International Space Station and back down to Earth.\\n\\nRaw Datasets -- still need reference doc from SpX defining all parameters \\n\\nAscent date range: December XX, 2021 (DOY XX)\\nReturn date range: XX XX, 2022 (DOY XX)\\n\\nThe following raw acceleration and pressurized cargo environment data are included (CSV).\\n\\nFor ascent and return: Dragon body acceleration (m/s^2), cabin pressure (psia), temperature readings from cabin air and duct sensors (degrees Celsius), relative humidity readings from cabin air and duct sensors (percent RH), partial pressure of carbon dioxide (psia), and partial pressure of oxygen (psia); summary graphs of all parameters.\\n\\nA reference document defining the parameters were not defined by the submitter).\\n\\nSummarized Datasets\\nGraphed data relating to Dragon pressurized cargo cabin environmental conditions are included for these parameters: temperature, relative humidity, partial pressure of oxygen and carbon dioxide, pressure, acoustics, and vibrations. The data are extracted from a SpaceX report entitled Dragon CRS-21 Post-Mission Data Review: Mission Management/Cargo. Date ranges span from late load on XX 2021 through return on XX 2022. \\n\\nFor most, the data graphs are presented in the context of required limits. Specifics include: \\n- Late load install through launch, December XX, 2021: Dragon cabin temperature, relative humidity, partial pressure of oxygen, partial pressure of carbon dioxide, and cabin pressure.\\n- Launch through docking with ISS, undated: Dragon cabin temperature, humidity, and pressure\\n- Expected trends throughout mission, undated: Partial pressure of oxygen and carbon dioxide\\n- Ascent random vibrations\\n- Ascent and reentry acoustics\",<br>\"collectionDays\": \"\",<br>\"category\": \"6376601f664a6ddef2d9f8c9\"<br>},<br>{<br>\"id\": \"6375b4f6313d542fb5edac0c\",<br>\"fullPath\": \"DAP Drobo/RodentResearch/RR04/EnvironmentalMonitoring/cabin_ISSES_ch3-3_RR04.xlsx\",    <br>\"subcategory\": \"ISS_ISSES\",<br>\"subdirectory\": \"Env\",<br>\"collectionSite\": \"\",<br>\"fileSize\": 0,<br>\"description\": \"This portion of the Rodent Research 4 mission data collection contains environmental monitoring data for the Rodent Research payload on the International Space Station (ISS), and in associated ground controls at Kennedy Space Center (KSC). These datasets contain environmental data for the ISS cabin near the rodent habitats and the associated cabin ground simulation chamber (ISSES) at KSC.\\n- Parameters: \\nTemperature (degrees Celsius); has a -2C offset = 20C is actually 22C\\nRelative humidity (perce
[...]
