[
  {
    "id": "1",
    "name": "APOD",
    "summary": "Astronomy Picture of the Day",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"apod\">APOD</h1><p>One of the most popular websites at NASA is the <a href=\"http://apod.nasa.gov/apod/astropix.html\">Astronomy Picture of the Day</a>. In fact, this website is one of the <a href=\"https://analytics.usa.gov\">most popular websites</a> across all federal agencies. It has the popular appeal of a Justin Bieber video. This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the <code class=\"prettyprint\">concept_tags</code> parameter is set to <code class=\"prettyprint\">True</code>, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery.</p><p>The full documentation for this API can be found in the <a href=\"https://github.com/nasa/apod-api\">APOD API Github repository</a>.</p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/apod.jpg\"/></p><h3 id=\"http-request\">HTTP Request</h3><p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/apod </code></p><p><b>concept_tags are now disabled in this service. Also, an optional return parameter <i>copyright</i> is returned if the image is not public domain.</b></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td>date</td> <td>YYYY-MM-DD</td> <td><em>today</em></td> <td>The date of the APOD image to retrieve</td> </tr> <tr> <td>start_date</td> <td>YYYY-MM-DD</td> <td>none</td> <td>The start of a date range, when requesting date for a range of dates. Cannot be used with <code class=\"prettyprint\">date</code>.</td> </tr> <tr> <td>end_date</td> <td>YYYY-MM-DD</td> <td><em>today</em></td> <td>The end of the date range, when used with <code class=\"prettyprint\">start_date</code>.</td> </tr> <tr> <td>count</td> <td>int</td> <td>none</td> <td>If this is specified then <code class=\"prettyprint\">count</code> randomly chosen images will be returned. Cannot be used with <code class=\"prettyprint\">date</code> or <code class=\"prettyprint\">start_date</code> and <code class=\"prettyprint\">end_date</code>.</td> </tr> <!-- <tr> <td><del>concept_tags</del></td><td>bool</td><td>False</td><td>Return an ordered dictionary of concepts from the APOD explanation</td></tr>--><!-- <tr><td>hd</td><td>bool</td><td>False</td><td>Retrieve the URL for the high resolution image</td></tr> --> <tr> <td>thumbs</td> <td>bool</td> <td>False</td> <td>Return the URL of video thumbnail. If an APOD is not a video, this parameter is ignored.</td> </tr> <tr> <td>api_key</td> <td>string</td> <td>DEMO_KEY</td> <td>api.nasa.gov key for expanded usage</td> </tr> </tbody> </table><h3 id=\"example-query\">Example query</h3><p><a href=\"https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY\"> <code class=\"prettyprint\">https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY </code></a></p>",
    "configurations": {
      "overview": {
        "poc_name": "",
        "poc_email": "",
        "api_name": "",
        "backend_protocol": "",
        "server": "",
        "frontend_host": "",
        "backend_host": "",
        "matching_url_prefixes": [
          {
            "frontend_prefix": "",
            "backend_prefix": ""
          }
        ]
      },
      "global_request_settings": {
        "append_query_string_parameters": "",
        "set_request_headers": "",
        "http_basic_authentication": "",
        "https_requirements": "",
        "api_key_checks": "",
        "api_key_verification_requirements": "",
        "required_roles": "",
        "rate_limit": "",
        "default_response_headers": "",
        "override_response_headers": ""
      },
      "sub_url_request_settings": [
        {
          "http_method": "",
          "regex": "",
          "https_requirements": "",
          "api_key_checks": "",
          "api_key_verification_requirements": "",
          "required_roles": "",
          "override_required_roles_from_global_request_settings": "",
          "rate_limit": "",
          "default_response_headers": "",
          "override_response_headers": ""
        }
      ],
      "advanced_requests_rewriting": [
        {
          "matcher_type": "",
          "http_method": "",
          "frontend_matcher": "",
          "backend_replacement": ""
        }
      ],
      "advanced_settings": {
        "balance_algorithm": "",
        "json_template": "",
        "xml_template": "",
        "csv_template": "",
        "common_all_errors": "",
        "api_key_missing": "",
        "api_key_invalid": "",
        "api_key_disabled": "",
        "api_key_unauthorized": "",
        "over_rate_limit": "",
        "https_required": ""
      }
    },
    "swagger_data": {
      "swagger": "2.0",
      "info": {
        "description": "This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the concept_tags parameter is set to True, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery",
        "version": "1.0.0",
        "title": "APOD",
        "termsOfService": "",
        "contact": {
          "email": "evan.t.yates@nasa.gov"
        },
        "license": {
          "name": "Apache 2.0",
          "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
      },
      "host": "api.nasa.gov",
      "basePath": "/planetary",
      "tags": [
        {
          "name": "request tag",
          "description": "An example tag",
          "externalDocs": {
            "description": "Here's a link",
            "url": "https://example.com"
          }
        }
      ],
      "schemes": [
        "https",
        "http"
      ],
      "paths": {
        "/apod": {
          "get": {
            "tags": [
              "request tag"
            ],
            "summary": "Returns images",
            "descriptions": "Returns the picture of the day",
            "produces": [
              "application/json"
            ],
            "security": [
              {
                "api_key": []
              }
            ],
            "parameters": [
              {
                "name": "date",
                "in": "query",
                "description": "The date of the APOD image to retrieve",
                "required": false,
                "type": "string",
                "schema": "date"
              },
              {
                "name": "hd",
                "in": "query",
                "description": "Retrieve the URL for the high resolution image",
                "required": false,
                "type": "boolean"
              }
            ],
            "responses": {
              "200": {
                "description": "successful operation",
                "schema": {
                  "type": "array",
                  "items": {
                    "thing": "ok"
                  }
                }
              },
              "400": {
                "description": "Date must be between Jun 16, 1995 and Mar 28, 2019."
              }
            }
          }
        }
      },
      "securityDefinitions": {
        "api_key": {
          "type": "apiKey",
          "name": "api_key",
          "in": "query"
        }
      }
    }
  },
  {
    "id": "1",
    "name": "Asteroids NeoWs",
    "summary": "Near Earth Object Web Service",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"NeoWS\">Asteroids - NeoWs</h1><p> NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a user can: search for Asteroids based on their closest approach date to Earth, lookup a specific Asteroid with its NASA JPL small body id, as well as browse the overall data-set.</p><p> Data-set: All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/).</p><p> This API is maintained by <a href=\"https://github.com/SpaceRocks/\">SpaceRocks Team: David Greenfield, Arezu Sarvestani, Jason English and Peter Baunach</a>.</p><h2 id=\"neows-feed\">Neo - Feed</h2><p> Retrieve a list of Asteroids based on their closest approach date to Earth. <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/feed?start_date=START_DATE&end_date=END_DATE&api_key=API_KEY </code></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>start_date</td><td>YYYY-MM-DD</td><td>none</td><td>Starting date for asteroid search</td></tr><tr> <td>end_date</td><td>YYYY-MM-DD</td><td>7 days after start_date</td><td>Ending date for asteroid search</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-lookup\">Neo - Lookup</h2><p> Lookup a specific Asteroid based on its <a href=\"http://ssd.jpl.nasa.gov/sbdb_query.cgi\">NASA JPL small body (SPK-ID) ID</a> <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/ <Asteroid_ID> </code></p><h3 id=\"query-parameters\">Path Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <th>asteroid_id</th> <th>int</th> <th>none</th> <th>Asteroid SPK-ID correlates to the NASA JPL small body</th> </tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-browse\">Neo - Browse</h2><p> Browse the overall Asteroid data-set <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/browse/ </code></p><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY </code> </a></p><!--<h2 id=\"neows-swagger\">Neo - Live Documents</h2><iframe class=\"\" id=\"\" src=\"https://api.nasa.gov/neo/?api_key=DEMO_KEY\" style=\"border: 1px solid rgb(170, 170, 170); width: 100%; min-height: 725px; max-height: 725px; height: 30px;\"></iframe>-->"
  },
  {
    "id": "1",
    "name": "DONKI",
    "summary": "Space Weather Database Of Notifications, Knowledge, Information",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"DONKI\" style=\"margin-top: 0px;\">DONKI</h1> <p>The <a href=\"https://ccmc.gsfc.nasa.gov/tools/DONKI/\">Space Weather Database Of Notifications, Knowledge, Information (DONKI)</a> is a comprehensive on-line tool for space weather forecasters, scientists, and the general space science community. DONKI chronicles the daily interpretations of space weather observations, analysis, models, forecasts, and notifications provided by the Space Weather Research Center (SWRC), comprehensive knowledge-base search functionality to support anomaly resolution and space science research, intelligent linkages, relationships, cause-and-effects between space weather activities and comprehensive webservice API access to information stored in DONKI. </p><p>This API consists of the following component services:</p><table> <thead> <tr> <th style=\"text-align: left\">API</th> <th style=\"text-align: left\">Example</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCME\">Coronal Mass Ejection (CME)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiGST\">Geomagnetic Storm (GST)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiIPS\">Interplanetary Shock (IPS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiFLR\">Solar Flare (FLR)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiSEP\">Solar Energetic Particle (SEP)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiMPC\">Magnetopause Crossing (MPC)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiRBE\">Radiation Belt Enhancement (RBE)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiHSS\">Hight Speed Stream (HSS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiWSA\">WSA+EnlilSimulation</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiNotifications\">Notifications</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </td></tr></tbody> </table> <h2 id=\"donkiCME\">Coronal Mass Ejection (CME)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis </h2> <p> <b>startDate:</b> default 30 days prior to current UTC time<br/> <b>endDate:</b> default to current UTC time<br/> <b>mostAccurateOnly:</b> default is set to true<br/> <b>completeEntryOnly:</b> default is set to true<br/> <b>speed (lower limit):</b> default is set to 0<br/> <b>halfAngle (lower limit):</b> default is set to 0<br/> <b>catalog:</b> default is set to ALL (choices: ALL, SWRC_CATALOG, JANG_ET_AL_CATALOG)<br/> <b>keyword:</b> default is set to NONE (example choices: swpc_annex)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </p><h2 id=\"donkiGST\">Geomagnetic Storm (GST) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiIPS\">Interplanetary Shock (IPS) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <b>location:</b> default to ALL (choices: Earth, MESSENGER, STEREO A, STEREO B)<br/> <b>catalog:</b> default to ALL (choices: SWRC_CATALOG, WINSLOW_MESSENGER_ICME_CATALOG)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </p><h2 id=\"donkiFLR\">Solar Flare (FLR) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY </a> </p><h2 id=\"donkiSEP\">Solar Energetic Particle (SEP) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiMPC\">Magnetopause Crossing (MPC) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiRBE\">Radiation Belt Enhancement (RBE) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiHSS\">Hight Speed Stream (HSS)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiWSA\">WSA+EnlilSimulation </h2> <p> <b>startDate:</b> default to 7 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY</a> </p><h2 id=\"donkiNotifications\">Notifications</h2> <p> <b>parameters:</b><br/> 'startDate' and 'endDate' are in format 'yyyy-MM-dd' UT<br/> 'type' could be: all, FLR, SEP, CME, IPS, MPC, GST, RBE, report<br/> <br/><b>Note:</b><br/> 'startDate' if left out would default to 7 days prior to the current UT date<br/> 'endDate' if left out would default to current UT date<br/> 'type' if left out would default to 'all'<br/> The request date range is limit to 30 days. If the request range is greater than 30 days, it would limit your request range to (endDate-30) to endDate.<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </p>"
  },
  {
    "id": "1",
    "name": "Earth",
    "summary": "Unlock the significant public investment in earth observation data",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"earth\">Earth</h1> <p>  Landsat imagery is provided to the public as a joint project between NASA and USGS. A recent industry <a href=\"http://www.fgdc.gov/ngac/meetings/december-2014/ngac-landsat-economic-value-paper-2014-update.pdf\">report</a> on landsat satellite imagery data estimates that total annual value to the economy of $2.19 billion, far exceeding the multi-year total cost of building, launching, and managing Landsat satellites and sensors. The value is derived from consumers <em>use</em> of the data. The objective of this endpoint is to give you an easy to use taste of what Landsat imagery data can provide. There are more complicated APIs available if you want to build models on top of satellite imagery, apply machine-learning, or minimize clouds in your image. NASA's Earth Science Devision has a variety of Earth imagery APIs for developers, which you can find out about in the <a href='https://earthdata.nasa.gov/collaborate/open-data-services-and-software/api'> Earthdata Developer Portal</a>. Specifically, the <a href='https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+API+for+Developers'>GIBS</a> (Global Imagery Browse Services) API may be of interest. The <a href='https://earthengine.google.com/'>Google Earth Engine API</a> is another powerful option. This API is powered by Google Earth Engine API, and currently only supports pan-sharpened Landsat 8 imagery.  </p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/houston_2.png\"/></p><p>This example image shows downtown Houston, Texas USA. It should be what is returned if you use the example query below. If you discover any cool applications, <a href='https://github.com/nasa/api-docs/issues/125'>please let us know</a>. </p><h2 id=\"imagery\">Imagery</h2> <p>This endpoint retrieves the Landsat 8 image for the supplied location and date. The response will include the date and URL to the image that is closest to the supplied date. The requested resource may not be available for the <em>exact</em> date in the request. You can retrieve a JSON that contains the inputs you provided and a URL to the resulting image through the assets endpoint. The assets endpoint no longer returns a list of potential images within your date range due to a change on the Google Earth Engine API side. </p><p>The cloud score was an optional calculation that returns the percentage of the queried image that is covered by clouds, but it is not available in current versions of the API. If <code class=\"prettyprint\">False</code> If <code class=\" </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/imagery </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>dim</td><td>float</td><td>0.025</td><td>width and height of image in degrees</td></tr><tr> <td>date</td><td>YYYY-MM-DD</td><td><em>today</em></td><td> date of image; if not supplied, then the most recent image (i.e., closest to today) is returned </td></tr><tr> <td>cloud_score</td><td>bool</td><td>False</td><td>[NOT CURRENTLY AVAILABLE!!!!] calculate the percentage of the image covered by clouds</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/imagery?lon=-95.33&amp;lat=29.78&amp;date=2018-01-01&amp;dim=0.15&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/imagery?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;api_key=DEMO_KEY</code></a></p><aside class=\"notice\"> Note that the returned object may not match the supplied date exactly. Instead, the image closest to the supplied date is returned. </aside> <h2 id=\"assets\">Assets</h2> <p>This endpoint retrieves the date-times and asset names for closest available imagery for a supplied location and date. The satellite passes over each point on earth roughly once every sixteen days. <a href=\"//earthobservatory.nasa.gov/Features/LandsatBigData/\">This is an amazing visualization</a> of the acquisition pattern for Landsat 8 imagery. The objective of this endpoint is primarily to support the use of the <a href=\"/api.html#imagery\">imagery endpoint</a>. </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/assets </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>date</td><td>YYYY-MM-DD</td><td>n/a</td><td>beginning of 30 day date range that will be used to look for closest image to that date</td></tr><tr> <td>dim</td><td>float</td><td>0.025</td><td>width and height of image in degrees</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/assets?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;dim=0.15&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/assets?lon=-95.33&amp;lat=29.78&amp;date=2018-01-01&amp;&dim=0.10&amp;api_key=DEMO_KEY</code></a></p>"
  },
  {
    "id": "1",
    "name": "EONET",
    "summary": "The Earth Observatory Natural Event Tracker",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"eonet\">EONET</h1> <p> More and more NASA imagery is being made available via web services (WMS, WMTS, etc.) and a significant percentage of it is being produced and published in near real time (NRT=within a few hours after acquisition). This ability means that NASA imagery can be used more routinely to examine current natural events as they happen. </p><p> Using client applications, such as <a href=\"https://worldview.earthdata.nasa.gov/\">NASA EOSDIS’ Worldview</a>, users can browse the entire globe daily and look for natural events as they occur. Storms are regularly spotted in the tropics, dust storms over deserts, forest fires in the summers. These events are occurring constantly and NASA NRT imagery can represent them all using a variety of different data parameters. However, the user’s experience is tailored, and therefore restricted, by the client application. What if there was an API that provided a curated list of natural events and provided a way to link those events to event-related NRT image layers? Enter EONET. </p><p> The Earth Observatory Natural Event Tracker (EONET) is a prototype web service with the goal of: </p><p> providing a curated source of continuously updated natural event metadata; providing a service that links those natural events to thematically-related web service-enabled image sources (e.g., via WMS, WMTS, etc.). Please see our <a href=\"http://eonet.gsfc.nasa.gov/docs/v2.1\">API documentation</a> to learn more about how to use the EONET web services. </p><p> Development of EONET began in 2015 and has been supported by <a href=\"http://earthobservatory.nasa.gov/\">NASA’s Earth Observatory</a> and <a href=\"https://earthdata.nasa.gov/about/esdis-project\">Earth Science Data and Information System (ESDIS) Project</a>. </p>"
  },
  {
    "id": "1",
    "name": "EPIC",
    "summary": "Earth Polychromatic Imaging Camera",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"EPIC\">EPIC</h1> <p> The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides full disc imagery of the Earth and captures unique perspectives of certain astronomical events such as lunar transits using a 2048x2048 pixel CCD (Charge Coupled Device) detector coupled to a 30-cm aperture Cassegrain telescope. </p><p> Image metadata and key information are provided by the JSON API and can be requested by date and for the most recent available date. A listing of all available dates can also be retrieved via the API for more granular control. </p><p> Development of the EPIC API began in 2015, and is supported by the web development team for the <a href='http://atmospheres.gsfc.nasa.gov' target='_blank'>Laboratory for Atmospheres</a> in the Earth Sciences Division of the Goddard Space Flight Center. More information regarding the API and retrieval of the imagery for download can be found on the <a href='http://epic.gsfc.nasa.gov' target='_blank'>EPIC website</a>. </p><h3>Retrievable Metadata</h3> <p> The following information is available for every image in the collection: </p><ul> <li>Image [name]</li><li>Date</li><li>Caption</li><li>centroid_coordinates</li><li>dscovr_j2000_position</li><li>lunar_j2000_position</li><li>sun_j2000_position</li><li>attitude_quaternions</li></ul> <br><p><strong>Example image:</strong></p><p><img style='width:75%;' src=\"https://api.nasa.gov/EPIC/archive/natural/2019/05/30/png/epic_1b_20190530011359.png?api_key=DEMO_KEY\"/></p><h3 id=\"example-query\">Querying by Date(s)</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>natural</td><td>string</td><td>Most Recent Natural Color</td><td>Metadata on the most recent date of natural color imagery.</td></tr><tr> <td>natural/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for natural color imagery available for a given date.</td></tr><tr> <td>natural/all</td><td>string</td><td>Dates for Natural Color</td><td>A listing of all dates with available natural color imagery.</td></tr><tr> <td>natural/available</td><td>string</td><td>Dates for Natural Color</td><td>Alternate listing of all dates with available natural color imagery.</td></tr><tr> <td>enhanced</td><td>string</td><td>Most Recent Enhanced Color</td><td>Metadata on the most recent date of enhanced color imagery.</td></tr><tr> <td>enhanced/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for enhanced color imagery for a given date.</td></tr><tr> <td>enhanced/all</td><td>string</td><td>Dates for Enhanced Imagery</td><td>A listing of all dates with available enhanced color imagery.</td></tr><tr> <td>enhanced/available</td><td>string</td><td>Dates for Enhanced Imagery</td><td>Alternate listing of all dates with available enhanced color imagery.</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>API key from api.nasa.gov for expanded usage.</td></tr></tbody> </table> <h3 id=\"example-query\">Example queries</h3> <p> <a href=\"https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/natural/date/2019-05-30?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/date/2019-05-30?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/natural/all?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/all?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/archive/natural/2019/05/30/png/epic_1b_20190530011359.png?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/archive/natural/2019/05/30/png/epic_1b_20190530011359.png?api_key=DEMO_KEY </code> </a> </p><p> More examples and usage tips can be found on the <a href='https://epic.gsfc.nasa.gov/about/api' target='_blank'>EPIC API Documentation Page</a>. </p><p>&nbsp;</p>"
  },
  {
    "id": "1",
    "name": "Exoplanet",
    "summary": "Programmatic access to NASA's Exoplanet Archive database",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"exoPlanet\" style=\"margin-top: 0px;\">Exoplanet Archive</h1> <h2 id=\"exoPlanetIntro\">Introduction</h2> <p>The Exoplanet Archive API allows programatic access to <a href=\"https://exoplanetarchive.ipac.caltech.edu/index.html\">NASA's Exoplanet Archive</a> database. This API contains a ton of options so to get started please visit <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html\">this page</a> for introductory materials. To see <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/data.html\">what data</a> is available in this API <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#data\">visit here</a> and also be sure to check out <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#troubleshoot\">best-practices and troubleshooting</a> in case you get stuck. Happy planet hunting! </p><p><img src=\"https://exoplanetarchive.ipac.caltech.edu/images/news/news-image-generic-transit.jpg\"/></p><h2 id=\"exoPlanetExamples\">Example Queries</h2> <table> <thead> <tr> <th style=\"text-align: left\">Example API</th> <th style=\"text-align: left\">URL</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">Confirmed planets in the Kepler field </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">Confirmed planets that transit their host stars </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">All planetary candidates smaller than 2Re with equilibrium temperatures between 180-303K</a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'</a></td></tr></tbody> </table> <p><a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/API_queries.html\">More examples here.</a></p>"
  },
  {
    "id": "1",
    "name": "GeneLab",
    "summary": "Programmatic interface for GeneLab's public data repository website",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<div><h1><strong>GeneLab Public API</strong></h1><p> <span> NASA GeneLab provides a RESTful Application Programming Interface (API) to its full-text search, and data and metadata retrieval capabilities. The API provides a choice of standard weboutput formats, either JavaScript Object Notation (JSON) or Hyper Text Markup Language (HTML), of query results. The GeneLab Data Query API returns metadataon data files associated with dataset(s), including the location of these files for download via https. The GeneLabMetadata Query API returns entire sets of metadata for <span>inputdataset accession numbers</span>. <span> </span>TheGeneLab Dataset Search API <span>can be used</span> to searchdataset metadata by keywords and/or metadata. It <span>can also be used</span>to provide search of three other omics databases: the National Institutes of Health (NIH) / National Center for Biotechnology Information's (NCBI) GeneExpression Omnibus (GEO); the European Bioinformatics Institute's (EBI)Proteomics Identification (PRIDE); the Argonne National Laboratory's (ANL)Metagenomics Rapid Annotations using Subsystems Technology (MG-RAST). </span></p><h2> <span> Data Query API </span></h2><h3> <span> Syntax </span></h3><p> <span><a href=\"https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/%7bGLDS_STUDY_IDs%7d/?page=%7bCURRENT_PAGE_NUMBER%7d&amp;size=%7bRESULTS_PER_PAGE%7d\">https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/{GLDS_STUDY_IDs}/?page={CURRENT_PAGE_NUMBER}&amp;size={RESULTS_PER_PAGE}</a></span></p><h3><span>Returns: JSON-formatted response</span></h3><div><table border=1 cellspacing=0 cellpadding=0><colgroup><col><col><col><col><col></colgroup><tr><td><p align=center style='text-align:center'> <b> <span> Parameters </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Data Type </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Notes </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Values </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Required </span> </b></p></td></tr><tr><td><p> <span> {GLDS_STUDY_IDs} </span></p></td><td><p> <span> Integers </span></p></td><td><p>Comma separated list with mixture of single GLDS accession numbers and ranges</p></td><td><p> <span> ex. 87-95,137 </span></p></td><td><p> <span> Yes </span></p></td></tr><tr style='mso-yfti-irow:2;page-break-inside:avoid'><td><p> <span> {CURRENT_PAGE_NUMBER} </span></p></td><td><p> <span> Integer </span></p></td><td><p> <span> Current page number in pagination </span></p></td><td><p> <span> Starts from 0 </span></p></td><td><p> <span> No </span></p></td></tr><tr><td><p> <span> {RESULTS_PER_PAGE} </span></p></td><td><p> <span> Integer </span></p></td><td><p> <span> Number of results returned per page in pagination </span></p></td><td><p> <span> Max 25 results per page </span></p></td><td><p> <span> No </span></p></td></tr></table></div><h4> <span>Example requests: </span></h4><ul type=disc><li> <span> Single study request using GLDS accession number </span></li><ul type=circle><li> <span> <a href=\"https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/87\">https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/87</a> </span></li></ul><li> <span> Multiple studies request using combination of range and comma separated list </span></li><ul type=circle><li> <span> <a href=\"https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/137,87-95,13,20-50\"> https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/137,87-95,13,20-50</a> </span></li></ul></ul><h3> <span>&nbsp;<br>NOTE: </span> <span> <span>study_files </span> </span> <span> element in the JSON response has the </span> <span> <span>remote_url </span> </span> <span> attribute, which <span>can be used </span> to obtain the specific download URL for the file by prefacing with the GeneLab data server address, </span> <span><a href=\"https://genelab-data.ndc.nasa.gov\">https://genelab-data.ndc.nasa.gov</a></span> <span>. In the example query/response below, the first study file for GLDS-87 study in the response below can be downloaded from </span> <span><a href=\"https://genelab-data.ndc.nasa.gov/datamanager/file/Home/genelab/genelab-data/GLDS-87/metadata/GLDS-87_metadata_Zanello_STS135-ISA.zip\">https://genelab-data.ndc.nasa.gov/datamanager/file/Home/genelab/genelab-data/GLDS-87/metadata/GLDS-87_metadata_Zanello_STS135-ISA.zip</a> </span></h3><h3> <span> Example Requests: </span></h3><h4> <span>Single Study Request: </span></h4><h4> <span> <span>· <span style='font:7.0pt \"Times New Roman\"'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> </span> </span> <span> <a href=\"https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/87\">https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/87</a> </span></h4><h4> <span> Response: </span></h4><p></p><div><div><pre> {<br> \"hits\": 1,<br> \"input\": \"87\",<br> \"studies\": {<br> \"GLDS-87\": {<br> \"file_count\": 7,<br> \"study_files\": [<br> {<br> \"date_created\": 1516405876433,<br> \"file_name\": \"GLDS-87_metadata_Zanello_STS135-ISA.zip\",<br> \"file_size\": 4809,<br> \"remote_url\": \"/datamanager/file/Home/genelab/genelab-data/GLDS-87/metadata/GLDS-87_metadata_Zanello_STS135-ISA.zip\"<br> },<br> {<br> \"date_created\": 1506008634109,<br> \"file_name\": \"GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6374949,<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\"<br> },<br> {<br> \"date_created\": 1506008634109,<br> \"file_name\": \"GLDS-87_microarray_16R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6274393,<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_16R_(Mouse430_2).CEL.gz\"<br> },<br> {<br> \"date_created\": 1506008634109,<br> \"file_name\": \"GLDS-87_microarray_20R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6384622,<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_20R_(Mouse430_2).CEL.gz\"<br> },<br> {<br> \"date_created\": 1506008634109,<br> \"file_name\": \"GLDS-87_microarray_52R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6297226,<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_52R_(Mouse430_2).CEL.gz\"<br> },<br> {<br> \"date_created\": 1506008634109,<br> \"file_name\": \"GLDS-87_microarray_54R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6017124,<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_54R_(Mouse430_2).CEL.gz\"<br> },<br> {<br> \"date_created\": 1506008634109,<br> \"file_name\": \"GLDS-87_microarray_58R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6329707,<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_58R_(Mouse430_2).CEL.gz\"<br> }<br> ]<br> }<br> },<br> \"success\": true,<br> \"total_hits\": 2,<br> \"valid_input\": [<br> \"87\"<br> ]<br>} </pre></div></div><p></p><h4 id=\"IntegratedSearchandDataRESTfulAPIs-MultipleStudyRequest:\"> <span>Multiple Study Data Files Request: </span></h4><ul type=disc><li style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto; mso-list:l1 level1 lfo3;tab-stops:list .5in'> <span> https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/137,86-87 </span></li></ul><h4 id=\"IntegratedSearchandDataRESTfulAPIs-Response:.1\"> <span> Response: </span></h4><p></p><div><div><pre> {<br> \"hits\": 3,<br> \"input\": \"137,86-87\",<br> \"studies\": {<br> \"GLDS-137\": {<br> \"study_files\": [<br> {<br> \"file_name\": \"GLDS-137_metadata_RR3-Liver.zip\",<br> \"remote_url\": \"/datamanager/file/Home/genelab/genelab-data/GLDS-137/metadata/GLDS-137_metadata_RR3-Liver.zip\",<br> \"file_size\": 9408,<br> \"date_created\": 1522174143201<br> },<br> {<br> \"file_name\": \"GLDS-137_transcriptomics_RR3-BSL-B1.tar.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-137/transcriptomics/GLDS-137_transcriptomics_RR3-BSL-B1.tar.gz\",<br> \"file_size\": 14879922202,<br> \"date_created\": 1506008636839<br> },<br> {<br> \"file_name\": \"GLDS-137_transcriptomics_RR3-BSL-B2.tar.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-137/transcriptomics/GLDS-137_transcriptomics_RR3-BSL-B2.tar.gz\",<br> \"file_size\": 15103810246,<br> \"date_created\": 1506008636839<br> },<br> ...<br> ...<br> {<br> \"file_name\": \"GLDS-137_proteomics_RR3_Liver_raw.tar.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-137/proteomics/GLDS-137_proteomics_RR3_Liver_raw.tar.gz\",<br> \"file_size\": 19986955105,<br> \"date_created\": 1506008636839<br> }<br> ],<br> \"file_count\": 39,<br> \"study_metadata\": {<br> \"date_created\": 1522174145534,<br> \"isa2json\": {<br> ...<br> ...<br> },<br> \"date_modified\": 1522174145534<br> }<br> },<br> \"GLDS-87\": {<br> \"study_files\": [<br> {<br> \"file_name\": \"GLDS-87_metadata_Zanello_STS135-ISA.zip\",<br> \"remote_url\": \"/datamanager/file/Home/genelab/genelab-data/GLDS-87/metadata/GLDS-87_metadata_Zanello_STS135-ISA.zip\",<br> \"file_size\": 4809,<br> \"date_created\": 1516405876433<br> },<br> {<br> \"file_name\": \"GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_14R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6374949,<br> \"date_created\": 1506008634109<br> },<br> {<br> \"file_name\": \"GLDS-87_microarray_16R_(Mouse430_2).CEL.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_16R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6274393,<br> \"date_created\": 1506008634109<br> },<br> {<br> \"file_name\": \"GLDS-87_microarray_20R_(Mouse430_2).CEL.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_20R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6384622,<br> \"date_created\": 1506008634109<br> },<br> {<br> \"file_name\": \"GLDS-87_microarray_52R_(Mouse430_2).CEL.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_52R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6297226,<br> \"date_created\": 1506008634109<br> },<br> {<br> \"file_name\": \"GLDS-87_microarray_54R_(Mouse430_2).CEL.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_54R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6017124,<br> \"date_created\": 1506008634109<br> },<br> {<br> \"file_name\": \"GLDS-87_microarray_58R_(Mouse430_2).CEL.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-87/microarray/GLDS-87_microarray_58R_(Mouse430_2).CEL.gz\",<br> \"file_size\": 6329707,<br> \"date_created\": 1506008634109<br> }<br> ],<br> \"file_count\": 7,<br> \"study_metadata\": {<br> \"date_created\": 1516405879029,<br> \"isa2json\": {<br> ...<br> ...<br> },<br> \"date_modified\": 1516405879029<br> }<br> },<br> \"GLDS-86\": {<br> \"study_files\": [<br> {<br> \"file_name\": \"GLDS-86_metadata_GSE65477-ISA.zip\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-86/metadata/GLDS-86_metadata_GSE65477-ISA.zip\",<br> \"file_size\": 4659,<br> \"date_created\": 1506008635554<br> },<br> {<br> \"file_name\": \"GLDS-86_epigenomics_SRR1781971_1.fastq.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-86/epigenomics/GLDS-86_epigenomics_SRR1781971_1.fastq.gz\",<br> \"file_size\": 1438278406,<br> \"date_created\": 1506008635554<br> },<br> {<br> \"file_name\": \"GLDS-86_epigenomics_SRR1781971_2.fastq.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-86/epigenomics/GLDS-86_epigenomics_SRR1781971_2.fastq.gz\",<br> \"file_size\": 1425601005,<br> \"date_created\": 1506008635554<br> },<br> {<br> \"file_name\": \"GLDS-86_epigenomics_SRR1781972_1.fastq.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-86/epigenomics/GLDS-86_epigenomics_SRR1781972_1.fastq.gz\",<br> \"file_size\": 1432085756,<br> \"date_created\": 1506008635554<br> },<br> ...<br> ...<br> {<br> \"file_name\": \"GLDS-86_epigenomics_SRR1781978_2.fastq.gz\",<br> \"remote_url\": \"/datamanager/file/Home/Public/genelab/GLDS-86/epigenomics/GLDS-86_epigenomics_SRR1781978_2.fastq.gz\",<br> \"file_size\": 3851398439,<br> \"date_created\": 1506008635554<br> }<br> ],<br> \"file_count\": 17,<br> \"study_metadata\": {<br> \"date_created\": 1506008631030,<br> \"isa2json\": {<br> ...<br> ...<br> },<br> \"date_modified\": 1506008631030<br> }<br> }<br> },<br> <br> \"success\": true,<br> \"total_hits\": 3,<br> \"valid_input\": [\"86, \"87\", \"137\"]<br> <br>}<br> </pre></div></div><h2> <span> GeneLab MetadataAPI </span></h2><h3> <span> Syntax </span></h3><p> <span> https://genelab-data.ndc.nasa.gov/genelab/data/glds/meta/{GLDS_STUDY_ID} </span></p><table border=1 cellspacing=0 cellpadding=0><tr><td><p align=center style='text-align:center'> <b> <span> Parameters </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Data Type </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Notes </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Values </span> </b></p></td><td><p align=center style='text-align:center'> <b> <span> Required </span> </b></p></td></tr><tr><td><p> <span> {GLDS_STUDY_ID} </span></p></td><td><p> <span> Integer </span></p></td><td><p> Single GLDS accession number</p></td><td><p> <span> Example: 87 </span></p></td><td><p> <span> Yes </span></p></td></tr></table><h4> <span> Single StudyMetadata Request: </span></h4><ul type=disc><li> <span> Example: https://genelab-data.ndc.nasa.gov/genelab/data/glds/meta/137 </span></li></ul><h3><span>Returns: JSON-formatted response</span></h3><h4> <span> Response: </span></h4><p></p><div><div><pre> {<br> \"hits\": 1, <br> \"input\": \"137\", <br> \"study\": {<br> \"GLDS-137\": {<br> \"isa2json\": {<br> \"additionalInformation\": {<br> \"assays\": {<br> \"a_rr3_liver_DNA_methylation_profiling_nucleotide_sequencing-txt\": {<br> \"header\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100000samplename\", <br> \"title\": \"Sample Name\", <br> \"width\": 200<br> }, <br> ...<br> ...<br> {<br> \"encoded\": false, <br> \"field\": \"a100022deriveddatafile\", <br> \"title\": \"Derived Data File\", <br> \"width\": 200<br> }, <br> {<br> \"columns\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100017commentexport\", <br> \"title\": \"Export\", <br> \"width\": 200<br> }<br> ], <br> \"title\": \"Comment\"<br> }<br> ], <br> \"raw\": [<br> {<br> \"a100000samplename\": \"RR3_BSL_B1_LVR\", <br> \"a100001protocolref\": \"nucleic acid extraction\", <br> ...<br> ...<br> \"a100022deriveddatafile\": \"\"<br> }, <br> ...<br> ...<br> {<br> \"a100000samplename\": \"RR3_GC_G7_LVR\", <br> \"a100001protocolref\": \"nucleic acid extraction\", <br> ...<br> ...<br> \"a100022deriveddatafile\": \"\"<br> }<br> ], <br> \"table\": [<br> {<br> \"a100000samplename\": \"RR3_BSL_B1_LVR\", <br> \"a100001protocolref\": \"nucleic acid extraction\", <br> ...<br> ...<br> \"a100022deriveddatafile\": \"\"<br> }, <br> ...<br> ...<br> {<br> \"a100000samplename\": \"RR3_GC_G7_LVR\", <br> \"a100001protocolref\": \"nucleic acid extraction\", <br> ...<br> ...<br> \"a100022deriveddatafile\": \"\"<br> }<br> ]<br> }, <br> \"a_rr3_liver_protein_expression_profiling_mass_spectrometry-txt\": {<br> \"header\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100000samplename\", <br> \"title\": \"Sample Name\", <br> \"width\": 200<br> }, <br> ...<br> ...<br> {<br> \"encoded\": false, <br> \"field\": \"a100033proteinassignmentfile\", <br> \"title\": \"Protein Assignment File\", <br> \"width\": 200<br> }, <br> {<br> \"columns\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100001commentcorefacilitysamplename\", <br> \"title\": \"Core Facility Sample Name\", <br> \"width\": 200<br> }, <br> ...<br> ...<br> {<br> \"encoded\": false, <br> \"field\": \"a100034commentbyonicoutputfile\", <br> \"title\": \"Byonic Output File\", <br> \"width\": 200<br> }<br> ], <br> \"title\": \"Comment\"<br> }<br> ], <br> \"raw\": [<br> {<br> \"a100000samplename\": \"RR3_BSL_B1_LVR\", <br> \"a100001commentcorefacilitysamplename\": \"B1\", <br> ...<br> ...<br> \"a100034commentbyonicoutputfile\": \"170322_SHLai....byspec2_20170326_Byonic.mzid\"<br> }, <br> ...<br> ...<br> {<br> \"a100000samplename\": \"RR3_FLT_F6_LVR\", <br> \"a100001commentcorefacilitysamplename\": \"F6\", <br> ...<br> ...<br> \"a100034commentbyonicoutputfile\": \"170322_SHLai....byspec2_20170326_Byonic.mzid\"<br> }<br> ], <br> \"table\": [<br> {<br> \"a100000samplename\": \"RR3_BSL_B1_LVR\", <br> \"a100001commentcorefacilitysamplename\": \"B1\", <br> ...<br> ...<br> \"a100034commentbyonicoutputfile\": \"170322_SHLai....byspec2_20170326_Byonic.mzid\"<br> }, <br> ...<br> ...<br> {<br> \"a100000samplename\": \"RR3_FLT_F6_LVR\", <br> \"a100001commentcorefacilitysamplename\": \"F6\", <br> ...<br> ...<br> \"a100034commentbyonicoutputfile\": \"170322_SHLai....byspec2_20170326_Byonic.mzid\"<br> }<br> ]<br> }, <br> \"a_rr3_liver_transcription_profiling_nucleotide_sequencing-txt\": {<br> \"header\": [<br> ...<br> ...<br> ], <br> \"raw\": [<br> ...<br> ...<br> ], <br> \"table\": [<br> ...<br> ...<br> ]<br> }<br> }, <br> \"description\": {<br> \"assays\": [<br> {<br> \"Assay Type\": \"transcription profiling\", <br> \"Device Platform\": \"Illumina\", <br> \"Device Type\": \"nucleotide sequencing\"<br> }, <br> {<br> \"Assay Type\": \"protein expression profiling\", <br> \"Device Platform\": \"LTQ Orbitrap Velos (Thermo Scientific)\", <br> \"Device Type\": \"mass spectrometry\"<br> }, <br> {<br> \"Assay Type\": \"<a target=\"_blank\" href=\"OBI:0000634\" title=\"an assay which aims to provide information about state of methylation of DNA molecules using genomic DNA collected from a material entity using a range of techniques and instrument such as DNA sequencers and often relying on treatment with bisulfites to ensure cytosine conversion. DNA methylation profiling\" source=\"OBI\">DNA methylation profiling</a>\", <br> \"Device Platform\": \"Illumina\", <br> \"Device Type\": \"<a target=\"_blank\" href=\"OBI:0000626\" title=\"DNA sequencing is a sequencing process which uses deoxyribonucleic acid as input and results in a the creation of DNA sequence information artifact using a DNA sequencer instrument. nucleotide sequencing\" source=\"OBI\">nucleotide sequencing</a>\"<br> }<br> ], <br> \"factors\": [<br> {<br> \"Ontology: Concept\": \"<a target=\"_blank\" href=\"http://purl.bioontology.org/ontology/MESH/D014893\" title=\"Condition in which no acceleration, whether due to gravity or any other force, can be detected by an observer within a system. It also means the absence of weight or the absence of the force of gravity acting on a body. Microgravity, gravitational force between 0 and 10 -6 g, is included here. (From NASA Thesaurus, 1988) Gravity, Zero, Zero Gravity, Microgravity\" source=\"MESH\">Weightlessness</a>\", <br> \"factor\": \"Microgravity\"<br> }, <br> {<br> \"Ontology: Concept\": \"<a target=\"_blank\" href=\"http://www.ebi.ac.uk/efo/EFO_0000727\" title=\"A process in which the act is intended to modify or alter some other material entity,\" source=\"EFO\">treatment</a>\", <br> \"factor\": \"Treatment\"<br> }<br> ]<br> }, <br> \"ontologies\": {<br> \"OBI:0000626\": {<br> \"@context\": {<br> \"@vocab\": \"http://data.bioontology.org/metadata/\", <br> \"cui\": \"http://data.bioontology.org/metadata/umlscui\", <br> \"definition\": \"http://data.bioontology.org/metadata/skosdefinition\", <br> \"obsolete\": \"http://data.bioontology.org/metadata/owlobsolete\", <br> \"prefLabel\": \"http://data.bioontology.org/metadata/skosprefLabel\", <br> \"semanticType\": \"http://data.bioontology.org/metadata/umlssemanticType\", <br> \"synonym\": \"http://data.bioontology.org/metadata/skossynonym\"<br> }, <br> \"@id\": \"http://purl.obolibrary.org/obo/OBI_0000626\", <br> \"@type\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"cui\": [], <br> \"definition\": [<br> \"DNA sequencing is a sequencing process which uses deoxyribonucleic acid as input and results in a the creation of DNA sequence information artifact using a DNA sequencer instrument.\"<br> ], <br> \"links\": {<br> \"@context\": {<br> \"ancestors\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"children\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"descendants\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"instances\": \"http://data.bioontology.org/metadata/Instance\", <br> \"mappings\": \"http://data.bioontology.org/metadata/Mapping\", <br> \"notes\": \"http://data.bioontology.org/metadata/Note\", <br> \"ontology\": \"http://data.bioontology.org/metadata/Ontology\", <br> \"parents\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"self\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"tree\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"ui\": \"http://www.w3.org/2002/07/owl#Class\"<br> }, <br> \"ancestors\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/ancestors\", <br> \"children\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/children\", <br> \"descendants\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/descendants\", <br> \"instances\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/instances\", <br> \"mappings\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/mappings\", <br> \"notes\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/notes\", <br> \"ontology\": \"http://data.bioontology.org/ontologies/OBI\", <br> \"parents\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/parents\", <br> \"self\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626\", <br> \"tree\": \"http://data.bioontology.org/ontologies/OBI/classes/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626/tree\", <br> \"ui\": \"http://bioportal.bioontology.org/ontologies/OBI?p=classes&conceptid=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000626\"<br> }, <br> \"obsolete\": false, <br> \"prefLabel\": \"DNA sequencing\", <br> \"semanticType\": [], <br> \"synonym\": [<br> \"nucleotide sequencing\"<br> ]<br> }, <br> ...<br> ...<br> }, <br> \"organisms\": {<br> \"links\": {<br> \"musmusculus\": \"<a target=\"_blank\" href=\"http://purl.bioontology.org/ontology/NCBITAXON/10090\" title=\"mouse &lt;Mus musculus&gt;\" source=\"NCBITAXON\">Mus musculus </a>\"<br> }, <br> \"ontologies\": {<br> \"musmusculus\": {<br> \"@context\": {<br> \"@vocab\": \"http://data.bioontology.org/metadata/\", <br> \"cui\": \"http://data.bioontology.org/metadata/umlscui\", <br> \"definition\": \"http://data.bioontology.org/metadata/skosdefinition\", <br> \"obsolete\": \"http://data.bioontology.org/metadata/owlobsolete\", <br> \"prefLabel\": \"http://data.bioontology.org/metadata/skosprefLabel\", <br> \"semanticType\": \"http://data.bioontology.org/metadata/umlssemanticType\", <br> \"synonym\": \"http://data.bioontology.org/metadata/skossynonym\"<br> }, <br> \"@id\": \"http://purl.bioontology.org/ontology/NCBITAXON/10090\", <br> \"@type\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"cui\": [<br> \"C0025914\"<br> ], <br> \"definition\": [], <br> \"links\": {<br> \"@context\": {<br> \"ancestors\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"children\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"descendants\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"instances\": \"http://data.bioontology.org/metadata/Instance\", <br> \"mappings\": \"http://data.bioontology.org/metadata/Mapping\", <br> \"notes\": \"http://data.bioontology.org/metadata/Note\", <br> \"ontology\": \"http://data.bioontology.org/metadata/Ontology\", <br> \"parents\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"self\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"tree\": \"http://www.w3.org/2002/07/owl#Class\", <br> \"ui\": \"http://www.w3.org/2002/07/owl#Class\"<br> }, <br> \"ancestors\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/ancestors\", <br> \"children\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/children\", <br> \"descendants\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/descendants\", <br> \"instances\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/instances\", <br> \"mappings\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/mappings\", <br> \"notes\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/notes\", <br> \"ontology\": \"http://data.bioontology.org/ontologies/NCBITAXON\", <br> \"parents\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/parents\", <br> \"self\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090\", <br> \"tree\": \"http://data.bioontology.org/ontologies/NCBITAXON/classes/http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090/tree\", <br> \"ui\": \"http://bioportal.bioontology.org/ontologies/NCBITAXON?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FNCBITAXON%2F10090\"<br> }, <br> \"obsolete\": false, <br> \"prefLabel\": \"Mus musculus\", <br> \"semanticType\": [<br> \"http://purl.bioontology.org/ontology/STY/T015\"<br> ], <br> \"synonym\": [<br> \"mouse <Mus musculus>\"<br> ]<br> }<br> }<br> }, <br> \"samples\": {<br> \"s_RR3_Liver-txt\": {<br> \"header\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100000sourcename\", <br> \"title\": \"Source Name\", <br> \"width\": 200<br> }, <br> ...<br> ...<br> {<br> \"encoded\": false, <br> \"field\": \"a100047parametervaluesamplestoragemethod\", <br> \"title\": \"Parameter Value[Sample Storage Method]\", <br> \"width\": 200<br> }, <br> {<br> \"columns\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100002characteristicsorganism\", <br> \"title\": \"Organism\", <br> \"width\": 200<br> }, <br> ...<br> ...<br> {<br> \"encoded\": false, <br> \"field\": \"a100019characteristicscarcassweight\", <br> \"title\": \"Carcass weight\", <br> \"width\": 200<br> }<br> ], <br> \"title\": \"Characteristics\"<br> }, <br> {<br> \"columns\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100001commentsourcedescription\", <br> \"title\": \"Source description\", <br> \"width\": 200<br> }, <br> ...<br> ...<br> {<br> \"encoded\": false, <br> \"field\": \"a100052commentlsdabiospecimensubjectid\", <br> \"title\": \"LSDA Biospecimen Subject ID\", <br> \"width\": 200<br> }<br> ], <br> \"title\": \"Comment\"<br> }, <br> {<br> \"columns\": [<br> {<br> \"encoded\": false, <br> \"field\": \"a100023factorvaluetreatment\", <br> \"title\": \"Treatment\", <br> \"width\": 200<br> }, <br> {<br> \"encoded\": false, <br> \"field\": \"a100026factorvaluemicrogravity\", <br> \"title\": \"Microgravity\", <br> \"width\": 200<br> }<br> ], <br> \"title\": \"Factor Value\"<br> }<br> ], <br> \"raw\": [<br> {<br> \"a100000sourcename\": \"Liv-4 CB1\", <br> \"a100001commentsourcedescription\": \"previously dissected\", <br> ...<br> ...<br> \"a100051commentlsdabiospecimensourceid\": \"5417\", <br> \"a100052commentlsdabiospecimensubjectid\": \"551\"<br> }, <br> ...<br> ...<br> {<br> \"a100000sourcename\": \"Liv-4 CF6\", <br> \"a100001commentsourcedescription\": \"previously dissected\", <br> ...<br> ...<br> \"a100051commentlsdabiospecimensourceid\": \"5415\", <br> \"a100052commentlsdabiospecimensubjectid\": \"549\"<br> }<br> ], <br> \"table\": [<br> {<br> \"a100000sourcename\": \"Liv-4 CB1\", <br> \"a100001commentsourcedescription\": \"previously dissected\", <br> ...<br> ...<br> \"a100051commentlsdabiospecimensourceid\": \"5417\", <br> \"a100052commentlsdabiospecimensubjectid\": \"551 degree Celsius\"<br> }, <br> ...<br> ...<br> {<br> \"a100000sourcename\": \"Liv-4 CF6\", <br> \"a100001commentsourcedescription\": \"previously dissected\", <br> ...<br> ...<br> \"a100051commentlsdabiospecimensourceid\": \"5415\", <br> \"a100052commentlsdabiospecimensubjectid\": \"549 degree Celsius\"<br> }<br> ]<br> }<br> }<br> }, <br> \"comments\": [<br> {<br> \"name\": \"Last Opened With Configuration\", <br> \"value\": \"\"<br> }, <br> {<br> \"name\": \"Created with configuration\", <br> \"value\": \"\"<br> }, <br> {<br> \"name\": \"Created With Configuration\", <br> \"value\": \"\"<br> }<br> ], <br> \"description\": \"\", <br> \"identifier\": \"1499794379203\", <br> \"ontologySourceReferences\": [<br> {<br> \"description\": \"Medical Subject Headings\", <br> \"file\": \"http://data.bioontology.org/ontologies/MESH\", <br> \"name\": \"MESH\", <br> \"version\": \"13\"<br> }, <br> {<br> \"description\": \"Ontology for Biomedical Investigations\", <br> \"file\": \"http://data.bioontology.org/ontologies/OBI\", <br> \"name\": \"OBI\", <br> \"version\": \"32\"<br> }, <br> ...<br> ...<br> {<br> \"description\": \"Units of Measurement Ontology\", <br> \"file\": \"http://data.bioontology.org/ontologies/UO\", <br> \"name\": \"UO\", <br> \"version\": \"43\"<br> }, <br> {<br> \"description\": \"\", <br> \"file\": \"\", <br> \"name\": \"\", <br> \"version\": \"\"<br> }<br> ], <br> \"people\": [], <br> \"publicReleaseDate\": \"\", <br> \"publications\": [], <br> \"studies\": [<br> {},<br> {}<br> ], <br> \"submissionDate\": \"\", <br> \"title\": \"Investigation\"<br> }<br> }<br> },<br> <br> \"success\": true<br>}<br> </pre></div></div><h2> <strong><span>GLDS PublicRESTful Dataset Search API</span></strong> <span> </span></h2><h3> <span> Syntax 1 (returns JSON response) </span></h3><p> <span> https://genelab-data.ndc.nasa.gov/genelab/data/search?&lt;PARAMETER-LIST&gt; </span></p><table border=1 cellspacing=0 cellpadding=0 align=left><tr><td><p align=center> <span><b><span>parameters</span></b></span> <b> <span> </span> </b></p></td><td><p align=center> <b> <span> definition </span> </b></p></td><td><p align=center> <b> <span> values </span> </b></p></td></tr><tr><td><p> <span> term </span></p></td><td><p> <span><span>search keyword</span></span> <span> </span></p></td><td><p> <span> string </span></p></td></tr><tr style='mso-yfti-irow:2;page-break-inside:avoid'><td><p> <span> from </span></p></td><td><p> <span> starting page </span></p></td><td><p> <span> integer (single value) </span></p></td></tr><tr><td><p> <span> size </span></p></td><td><p> <span>search result display count</span></p></td><td><p> <span> integer (single value) </span></p></td></tr><tr><td><p> <span> type </span></p></td><td><p> <span>datasource</span></p></td><td><p> <span>cgene</span> <span> , <span>nih_geo</span>, <span>ebi_pride</span>, <span>mg_rast</span> (accepts multiple value separated by comma separated) </span></p></td></tr><tr><td><p> <span> sort </span></p></td><td><p> <span> sort field </span></p></td><td><p> <span> string (Field Name) </span></p></td></tr><tr><td><p> <span> order </span></p></td><td><p> <span> sort order </span></p></td><td><p> <span> ASC - ascending order; DESC - descending order </span></p></td></tr><tr><td><p> <span><span>ffield</span></span> <span> </span></p></td><td><p> <span> filter field </span></p></td><td><p> <span> string (should always be pared with <span>fvalue</span>); append .raw to the end of the field to use the exact match index; see metadata queries above for field names and example values </span></p></td></tr><tr><td><p> <span><span>fvalue</span></span></p></td><td><p> <span> filter value </span></p></td><td><p> <span> string (should always be pared with <span>ffield</span>) </span></p></td></tr></table><p> <span>POST and GET requests accept the URL encodedname/value pairs for submission</span></p><p> <span>Example: </span> <span>https://genelab-data.ndc.nasa.gov/genelab/data/search?term=space&amp;from=0&amp;type=cgene,nih_geo_gse&amp;ffield=links&amp;fvalue=GPL16417&amp;ffield=Data%20Source%20Accession.raw&amp;fvalue=GSE82255</span></p><h2> <span style='font-size:13.5pt;mso-bidi-font-weight:normal'> Syntax2 (returns HTML response): </span></h2><p> <br> <span>https://genelab-data.ndc.nasa.gov/genelab/search_studies/?q=&lt;SEARCH-TERMS&gt;&amp; <span>data_source</span> =&lt;DATASOURCE (see tablebelow)&gt; </span> <b> </b></p><p>Example:&nbsp; <a href=\"https://genelab-data.ndc.nasa.gov/genelab/search_studies/?q=cancer&amp;data_source=cgene\"> https://genelab-data.ndc.nasa.gov/genelab/search_studies/?q=cancer&amp;data_source=cgene </a>&nbsp;</p><p> <a href=\"https://genelab-data.ndc.nasa.gov/genelab/search_studies/?q=mouse%20AND%20liver&amp;data_source=cgene\"> https://genelab-data.ndc.nasa.gov/genelab/search_studies/?q=mouse%20AND%20liver&amp;data_source=cgene </a></p><p> <span> <b>Data sources</b> </span></p><div><table border=1 cellspacing=0 cellpadding=0><colgroup><col><col></colgroup><tr><td width=131><p><b><span>Datasource</span></b></p></td><td width=150><p> <b> <span> Query Parameter </span> </b></p></td><td width=257 valign=top><p> <b> <span> Usage </span> </b></p></td></tr><tr><td width=131><p> <span> C-GENE </span></p></td><td width=150><p> <span>cgene</span></p></td><td width=257 valign=top><p> <span> Search authoritative data records in NASA GeneLab Data Repository </span></p></td></tr><tr><td width=131><p> <span> NIH GSE </span></p></td><td width=150><p> <span>nih_geo_gse</span></p></td><td width=257 valign=top><p> <span> Search authoritative data records in NIH Gene Expression Omnibus database </span></p></td></tr><tr><td width=131><p> <span> EBI </span></p></td><td width=150><p> <span>ebi_pride</span></p></td><td width=257 valign=top><p> <span> Search authoritative data records in the European Bioinformatics Institute Proteomics Identification database </span></p></td></tr><tr><td width=131><p> <span> MG-RAST </span></p></td><td width=150><p> <span>mg_rast</span></p></td><td width=257 valign=top><p> <span> Search authoritative data records in the <span>Metagenomic</span> Rapid Annotations using Subsystems Technology database </span></p></td></tr></table></div><p> <span>Boolean Operators</span></p><div><table border=1 cellspacing=0 cellpadding=0><colgroup><col><col></colgroup><tr><td><p align=center style='text-align:center'> <b> <span> Operator </span> </b></p></td><td></td></tr><tr><td><p> <span> AND </span></p></td><td><p> <span>ALL&nbsp;search terms must be present&nbsp;(default <span>boolean</span>search) </span></p></td></tr><tr><td><p> <span> OR </span></p></td><td><p> <span>ANY of your search terms can be present</span></p></td></tr><tr><td><p> <span> NOT </span></p></td><td><p> <span> exclude words from your search </span></p></td></tr></table></div><p> <span>If no conjunctive or disjunctive operator specified, the default is \"AND\" </span></p></div>",
    "html_template_old": " <h1 id=\"genelab\">GeneLab Search</h1> <p>GeneLab provides a RESTful Application Programming Interface (API) to its full-text search capability, which provides the same functionality available through the GeneLab <a href=\"https://genelab-data.ndc.nasa.gov/genelab/\" target=\"_blank\">public data repository website</a>. The API provides a choice of standardized web output formats, such as JavaScript Object Notation (JSON) or Hyper Text Markup Language (HTML), of the search results. The GeneLab Search API can also federate with other heterogeneous external bioinformatics databases, such as the National Institutes of Health (NIH) / National Center for Biotechnology Information's (NCBI) <a href=\"https://www.ncbi.nlm.nih.gov/geo/\" target=\"_blank\">Gene Expression Omnibus (GEO)</a>; the European Bioinformatics Institute's (EBI) <a href=\"https://www.ebi.ac.uk/pride/archive/\" target=\"_blank\">Proteomics Identification (PRIDE)</a>; the Argonne National Laboratory's (ANL) <a href=\"http://metagenomics.anl.gov\" target=\"_blank\">Metagenomics Rapid Annotations using Subsystems Technology (MG-RAST)</a>. </p><br/> <p><strong>GeneLab Sample JSON Search API Output:</strong></p><p><img width=\"65%\" src=\"assets/img/general/genelab_search_json_api.png\"/></p><h3 id=\"http-request\">HTTP Request for JSON results</h3> <p> <code class=\"prettyprint\"> GET https://genelab-data.ndc.nasa.gov/genelab/data/search?term=mouse%20liver&type=cgene </code> </p><br/> <br/> <p><strong>GeneLab Sample HTML Search API Output:</strong></p><p><img width=\"65%\" src=\"assets/img/general/genelab_search_html_api.png\"/></p><h3 id=\"http-request\">HTTP Request for HTML results</h3> <p> <code class=\"prettyprint\"> GET https://genelab-data.ndc.nasa.gov/genelab/search_studies/?q=mouse%20liver&data_source=cgene </code> </p><br/> <h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>term</td><td>String (optional multiple values)</td><td><em>Query all GeneLab data sets</em></td><td>Keyword(s) to search on along with optional case-insensitive boolean operators, such as: AND, OR, NOT (Note: Default search is a boolean \"AND\" for all keyword searches) </td></tr><tr> <td>type</td><td>String (multiple valid values: cgene, nih_geo_gse, ebi_pride, mg_rast)</td><td><em>cgene (GeneLab database)</em></td><td>Specific database(s) to query on (e.g., values available cgene=GeneLab, nih_geo_gse=NIH GEO, ebi_pride=EBI PRIDE, or mg_rast=MG-RAST database with optional multiple values separated by comma delimiter) </td></tr><tr> <td>from</td><td>Integer (single value)</td><td><em>0 (first index page)</em></td><td>Search result sets pagination start page (defaults to 0)</td></tr><tr> <td>size</td><td>Integer (single value)</td><td><em>25</em></td><td>Search result sets display count (defaults to 25)</td></tr><tr> <td>sort</td><td>String (single value)</td><td><em>GeneLab Accession Number (descending order)</em></td><td>Sort by a specific field or attribute name</td></tr><tr> <td>order</td><td>String (single value)</td><td><em>DESC (descending order)</em></td><td>Sort order (e.g., either ASC for ascending or DESC for descending)</td></tr><tr> <td>ffield</td><td>String (single value; should always be paired with fvalue parameter)</td><td><em>N/A</em></td><td>Search filter field is only for GeneLab database (cgene) at this time. Other databases will be included at a later time </td></tr><tr> <td>fvalue</td><td>String (single value; should always be paired with ffield parameter)</td><td><em>N/A</em></td><td>Search filter value is only for GeneLab database (cgene) at this time. Other databases will be included at a later time </td></tr></tbody> </table> <h3 id=\"example-query\">Sample query</h3> <p> <a href=\"https://genelab-data.ndc.nasa.gov/genelab/data/search?term=space&from=0&type=cgene,nih_geo_gse&ffield=links&fvalue=GPL16417&ffield=Data Source Accession&fvalue=GSE82255&api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://genelab-data.ndc.nasa.gov/genelab/data/search?term=space&from=0&type=cgene,nih_geo_gse&ffield=links&fvalue=GPL16417&ffield=Data Source Accession&fvalue=GSE82255&api_key=DEMO_KEY </code> </a> </p>"
  },
  {
    "id": "1",
    "name": "Insight",
    "summary": "Mars Weather Service API",
    "html_template": "<h1 id=\"insight_weather\">InSight: Mars Weather Service API</h1><p>(Last Updated: 3/30/2021)</p><p><b>THIS SERVICE HAS SIGNIFICANT MISSING DATA DUE TO INSIGHT NEEDING TO MANAGE POWER USE</b>:Please check out the <a href='https://mars.nasa.gov/insight/weather/'> seasonal weather report plot</a> for an illustration of missing data and read <a href='https://mars.nasa.gov/news/8858/insight-is-meeting-the-challenge-of-winter-on-dusty-mars/?site=insight'>this article</a> about how dust and distance from the sun affect Insight's power situation. </p><p>NASA’s InSight Mars lander takes continuous weather measurements (temperature, wind, pressure) on the surface of Mars at Elysium Planitia, a flat, smooth plain near Mars’ equator. Please note that there are sometimes problems with the sensors on Mars that result in missing data! If you see a long gap, a search result may bring up more information on whether it is a long-lasting problem.  Summaries of these data are available at <a href=\"https://mars.nasa.gov/insight/weather/\">https://mars.nasa.gov/insight/weather/</a>. </p><p>This API provides per-Sol summary data for each of the last seven available Sols (Martian Days). As more data from a particular Sol are downlinked from the spacecraft (sometimes several days later), these values are recalculated, and consequently may change as more data are received on Earth. Additionally, please note that wind and other sensor data may not exist for certain date ranges. You can check out https://mars.nasa.gov/insight/weather/ and scroll down to the 'seasonal weather report' you'll see the gaps where no data exists for some sensors.</p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/insight_photo.png\" /></p><p>This API is maintained and provided by NASA Jet Propulsion Laboratory and Cornell University. If you find bugs in this API, please use the contact form found at <a href=\"https://mars.nasa.gov/feedback/\">https://mars.nasa.gov/feedback/</a>. The rate limit for this API is every hour no more than 2000 hits for each individual IP.</p><h3>Defining the Data</h3><p>The summary data are provided as an object in a JSON stream, a formal definition of JSON is <a href=\"https://tools.ietf.org/html/rfc7159\">RFC 7159</a>.  Appendix A contains an abridged, typical JSON stream for this API as an example.</p><h3 id=\"http-request\">HTTP Request</h3><p><code class=\"prettyprint\">GET https: //api.nasa.gov/insight_weather/?api_key=DEMO_KEY&feedtype=json&ver=1.0</code></p><h3 id=\"query-parameters\">Query Parameters</h3><table><thead><tr><th>Parameter</th><th>Type</th><th>Default</th><th>Description</th></tr></thead><tbody><tr><td>version</td><td>float</td><td><em>1.0</em></td><td>The version of this API</td></tr><tr><td>feedtype</td><td>string</td><td>json</td><td>The format of what is returned. Currently the default is JSON and only JSON works.</td></tr><tr><td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.data.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p><a href=\"https://api.nasa.gov/insight_weather/?api_key=DEMO_KEY&feedtype=json&ver=1.0\"><code class=\"prettyprint\">https://api.nasa.gov/insight_weather/?api_key=DEMO_KEY&feedtype=json&ver=1.0</code></a></p><h5><a href=\"./assets/insight/InSight%20Weather%20API%20Documentation.pdf\">This document</a> describes the API in more detail.</h5><h5><a href=\"./assets/insight/insight_mars_wind_rose.html\">This self-contained HTML document</a> is an example that draws a wind rose using InSight Wind Direction frequency distribution data, which data are part of the JSON object returned by this API.</h5><p>Here is something like what that wind rose looks like:<br><img src=\"./assets/insight/insight_mars_wind_rose.png\" style=\"max-width: 50%;\" /></p>"
  },
  {
    "id": "1",
    "name": "Mars Rover Photos",
    "summary": "Image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"MarsPhotos\">Mars Rover Photos</h1> <p> This API is designed to collect image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars and make it more easily available to other developers, educators, and citizen scientists. This API is maintained by <a href=\"https://github.com/chrisccerami/mars-photo-api\">Chris Cerami</a>. </p><p> Each rover has its own set of photos stored in the database, which can be queried separately. There are several possible queries that can be made against the API. Photos are organized by the sol (Martian rotation or day) on which they were taken, counting up from the rover's landing date. A photo taken on Curiosity's 1000th Martian sol exploring Mars, for example, will have a sol attribute of 1000. If instead you prefer to search by the Earth date on which a photo was taken, you can do that, too. </p><p> Along with querying by date, results can also be filtered by the camera with which it was taken and responses will be limited to 25 photos per call. Queries that should return more than 25 photos will be split onto several pages, which can be accessed by adding a 'page' param to the query. </p><p> Each camera has a unique function and perspective, and they are named as follows: </p><h3 id=\"query-parameters\">Rover Cameras</h3> <table> <thead> <tr> <th>Abbreviation</th> <th>Camera</th> <th class=\"markerBox\">Curiosity</th> <th class=\"markerBox\">Opportunity</th> <th class=\"markerBox\">Spirit</th> </tr></thead> <tbody> <tr> <td>FHAZ</td><td>Front Hazard Avoidance Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>RHAZ</td><td>Rear Hazard Avoidance Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>MAST</td><td>Mast Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>CHEMCAM</td><td>Chemistry and Camera Complex</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>MAHLI</td><td>Mars Hand Lens Imager</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>MARDI</td><td>Mars Descent Imager</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>NAVCAM</td><td>Navigation Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>PANCAM</td><td>Panoramic Camera</td><td class=\"markerBox\"></td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>MINITES</td><td>Miniature Thermal Emission Spectrometer (Mini-TES)</td><td class=\"markerBox\"></td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr></tbody> </table> <h3 id=\"example-query\">Querying by Martian sol</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>sol</td><td>int</td><td>none</td><td>sol (ranges from 0 to max found in endpoint)</td></tr><tr> <td>camera</td><td>string</td><td>all</td><td>see table above for abbreviations</td></tr><tr> <td>page</td><td>int</td><td>1</td><td>25 items per page returned</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example queries</h3> <p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&amp;api_key=DEMO_KEY </code> </a> </p><p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&camera=fhaz&api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&camera=fhaz&api_key=DEMO_KEY </code> </a> </p><p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&page=2&api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&page=2&api_key=DEMO_KEY </code> </a> </p><h3 id=\"example-query\">Querying by Earth date</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>earth_date</td><td>YYYY-MM-DD</td><td>none</td><td>corresponding date on earth for the given sol</td></tr><tr> <td>camera</td><td>string</td><td>all</td><td>see table above for abbreviations</td></tr><tr> <td>page</td><td>int</td><td>1</td><td>25 items per page returned</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?earth_date=2015-6-3&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?earth_date=2015-6-3&amp;api_key=DEMO_KEY </code> </a> </p><h3>Mission Manifest</h3> <p> A mission manifest is available for each Rover at /manifests/rover_name. This manifest will list details of the Rover's mission to help narrow down photo queries to the API. The information in the manifest includes: </p><table> <thead> <tr> <th>Key</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>name</td><td>Name of the Rover</td></tr><tr> <td>landing_date</td><td>The Rover's landing date on Mars</td></tr><tr> <td>launch_date</td><td>The Rover's launch date from Earth</td></tr><tr> <td>status</td><td>The Rover's mission status</td></tr><tr> <td>max_sol</td><td>The most recent Martian sol from which photos exist</td></tr><tr> <td>max_date</td><td>The most recent Earth date from which photos exist</td></tr><tr> <td>total_photos</td><td>Number of photos taken by that Rover</td></tr><tr> <td></td><td></td></tr></tbody> </table> <p>It also includes a list of objects under the \"photos\" key which are grouped by sol, and each of which contains:</p><table> <thead> <tr> <th>Key</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>sol</td><td>Martian sol of the Rover's mission</td></tr><tr> <td>total_photos</td><td>Number of photos taken by that Rover on that sol</td></tr><tr> <td>cameras</td><td>Cameras for which there are photos by that Rover on that sol</td></tr></tbody> </table> <p>An example entry from a sol at /manifests/Curiosity might look like:</p><p><code>{sol: 0, total_photos: 3702, cameras: [ \"CHEMCAM\", \"FHAZ\", \"MARDI\", \"RHAZ\"]}</code> </p><p>This would tell you that this rover, on sol 0, took 3702 photos, and those are from among the CHEMCAM, FHAZ, MARDI, and RHAZ cameras.</p>"
  },
  {
    "id": "1",
    "name": "NASA Image and Video Library",
    "summary": "API to access the NASA Image and Video Library site at images.nasa.gov",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"images\">NASA Image and Video Library</h1> <p> Use this API to access the NASA Image and Video Library site at <a href=\"https://images.nasa.gov/#/\">images.nasa.gov</a>. For the latest documentation, please go <a href=\"https://images.nasa.gov/docs/images.nasa.gov_api_docs.pdf\">here</a>. </p><p> The images.nasa.gov API is organized around REST, has predictable/resource\u00AD-oriented URLs and uses HTTP response codes to indicate API errors. This API uses built-\u00ADin HTTP features such as HTTP authentication and HTTP verbs, which are understood by many off-\u00ADthe-\u00ADshelf HTTP clients. Please note that JSON is returned by all API responses, including errors. Each of the endpoints described below also contains example snippets which use the curl command\u00AD-line tool, Unix pipelines, and the python command\u00AD-line tool to output API responses in an easy\u00AD to \u00ADread format. </p><h2 id=\"images-endpoints\" style=\"margin-top: 0em; border-top: none;\">Available Endpoints</h2> <p> The images API contains 4 endpoints <code class=\"prettyprint\"> GET https://images-api.nasa.gov </code> </p><h3 id=\"images-endpoints2\">Endpoints</h3> <table> <thead> <tr> <th>Endpoint</th> <th>Description</th> </tr></thead> <tbody> <tr> <th>GET /search?q={q}</th> <th>Performing a search</th> </tr><tr> <th>GET /asset/{nasa_id}</th> <th>Retrieving a media asset’s manifest</th> </tr><tr> <th>GET /metadata/{nasa_id}</th> <th>Retrieving a media asset’s metadata location</th> </tr><tr> <th>GET /captions/{nasa_id}</th> <th>Retrieving a video asset’s captions location</th> </tr></tbody> </table> <p> For complete usage information and detailed examples, please visit the <a href=\"https://images.nasa.gov/docs/images.nasa.gov_api_docs.pdf\">NASA Image and Video Library API documentation</a>. </p>"
  },
  {
    "id": "1",
    "name": "TechTransfer",
    "summary": "Patents, Software, and Tech Transfer Reports",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"techtransfer\">TechTransfer</h1> <p>NASA's Technology Transfer Program ensures that innovations developed for exploration and discovery are broadly available to the public. The NASA patent portfolio is available to benefit US citizens. Through partnerships and licensing agreements with industry, these patents ensure that NASA&rsquo;s investments in pioneering research find secondary uses that benefit the economy, create jobs, and improve quality of life. This endpoint provides structured, searchable developer access to NASA&rsquo;s patents, software, and technology spinoff descriptions that have been curated to support technology transfer. More information can be found at <a href='https://technology.nasa.gov/'>technology.nasa.gov</a> and <a href='https://software.nasa.gov/'>software.nasa.gov</a> and <a href='https://spinoff.nasa.gov/'>spinoff.nasa.gov</a>.</p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\">GET https://api.nasa.gov/techtransfer</code></p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody><tr><td>patent</td><td>string</td><td>None</td><td>Return a JSON of patents that match the string provided</td></tr><tr> <td>patent_issued</td><td>string</td><td><em>None</em></td><td>Returns patent results in a JSON that match the string within the information about how issued each patent</td></tr><tr> <td>software</td><td>string</td><td>None</td><td>Returns JSON of NASA software that matches given string.</td></tr><tr> <td>Spinoff</td><td>string</td><td>None</td><td>Returns spinoff examples that match given word.</td></tr><tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/techtransfer/patent/?engine&api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/techtransfer/patent/?engine&api_key=DEMO_KEY</code></a></p>"
  },
  {
    "id": "1",
    "name": "Satellite Situation Center",
    "summary": "System to cast geocentric spacecraft location information into a framework of (empirical) geophysical regions",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"SSC\" style=\"margin-top: 0px;\">Satellite Situation Center</h1> <p>The <a href=\"https://sscweb.sci.gsfc.nasa.gov/WebServices/REST/\">Satellite Situation Center Web (SSCWeb) service</a> has been developed and is operated jointly by the <a href=\"https://spdf.gsfc.nasa.gov/\">NASA/GSFC Space Physics Data Facility (SPDF)</a> and the National Space Science Data Center (NSSDC) to support a range of NASA science programs and to fulfill key international NASA responsibilities including those of NSSDC and the World Data Center-A for Rockets and Satellites. The software and associated database of SSCWeb together form a system to cast geocentric spacecraft location information into a framework of (empirical) geophysical regions and mappings of spacecraft locations along lines of the Earth's magnetic field. This capability is one key to mission science planning (both single missions and coordinated observations of multiple spacecraft with ground-based investigations) and to subsequent multi-mission data analysis. To get started with this API please <a href=\"https://sscweb.sci.gsfc.nasa.gov/WebServices/REST/json/\">visit this page</a>. </p>"
  },
  {
    "id": "1",
    "name": "SSD/CNEOS",
    "summary": "Solar System Dynamics and Center for Near-Earth Object Studies",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"ssd_CNEOS\" style=\"margin-top: 0px;\">SSD/CNEOS</h1> <p>Welcome to JPL’s <a href=\"http://ssd.jpl.nasa.gov/\">SSD</a> (Solar System Dynamics) and <a href=\"http://cneos.jpl.nasa.gov\">CNEOS</a> (Center for Near-Earth Object Studies) API (Application Program Interface) service. This service provides an interface to machine-readable data (<a href=\"http://www.json.org/\">JSON</a>-format) related to <a href=\"http://ssd.jpl.nasa.gov\">SSD</a> and <a href=\"http://cneos.jpl.nasa.gov\">CNEOS</a>.If you are looking for human-readable data, please go to the main websites for <a href=\"http://ssd.jpl.nasa.gov/\">SSD</a> and/or <a href=\"http://cneos.jpl.nasa.gov/\">CNEOS</a>. For further information on this API and its component services, please visit the <a href=\"http://ssd-api.jpl.nasa.gov/\">JPL SSD/CNEOS API</a> main website or contact <a href=\"mailto:contact-ssd-api@jpl.nasa.gov\">contact-ssd-api@jpl.nasa.gov</a>. </p><p>This API consists of the following component services:</p><table> <thead> <tr> <th style=\"text-align: left\">API</th> <th style=\"text-align: left\">Description</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#CAD\">CAD</a></td><td style=\"text-align: left\">Asteroid and comet close approaches to the planets in the past and future</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#Fireball\">Fireball</a></td><td style=\"text-align: left\">Fireball atmospheric impact data reported by US Government sensors</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#MissionDesign\">Mission Design</a></td><td style=\"text-align: left\">Mission Design - Small-body mission design suite</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#NHATS\">NHATS</a></td><td style=\"text-align: left\">Human-accessible NEOs data</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#Scout\">Scout</a></td><td style=\"text-align: left\">NEOCP orbits, ephemerides, and impact risk data</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#Sentry\">Sentry</a></td><td style=\"text-align: left\">NEO Earth impact risk assessment data</td></tr></tbody> </table> <h2 id=\"CAD\">CAD</h2> <p> This API provides access to current close-approach data for all asteroids and comets in JPL’s <a href=\"http://ssd.jpl.nasa.gov/sbdb.cgi\">SBDB</a> (Small-Body DataBase). Defaults for query parameters are setup for a typical CNEOS web-site search: NEO Earth close-approaches less than 0.05 au in the next 60 days sorted by date. </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/cad.html\">JPL SBDB Close-Approach Data API</a> website. </p><h2 id=\"Fireball\">Fireball</h2> <p>The fireball data API provides a method of requesting specific records from the available data-set. Every successful query will return content representing one or more fireball data records. See the CNEOS page on <a href=\"http://cneos.jpl.nasa.gov/fireballs/\">fireballs</a> for details on this data-set. </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/fireball.html\">JPL Fireball Data API</a> website. </p><h2 id=\"MissionDesign\">Mission Design</h2> <p>This API provides access to the JPL/SSD small-body mission design suite. Please see the <a href=\"https://ssd-api.jpl.nasa.gov/doc/mdesign.html\">Mission Design web-page</a> for details about Mission Design. </p><p> For complete API documentation please visit the <a href=\"https://ssd-api.jpl.nasa.gov/doc/mdesign.html\">JPL Mission Design API</a> website. </p><h2 id=\"NHATS\">NHATS</h2> <p>The NHATS API provides a method of requesting data from the NHATS-related tables in the SBDB. These data will primarily support the CNEOS “Accessible NEAs” web-page. Please see the <a href=\"http://cneos.jpl.nasa.gov/nhats/\">NHATS web-page</a> for details about NHATS. </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/nhats.html\">JPL NHATS API</a> website. </p><h2 id=\"Scout\">Scout</h2> <p>This API provides access to near-realtime results from the CNEOS Scout system. Various query modes provide access to available subsets of data. Please see the <a href=\"https://ssd-api.jpl.nasa.gov/doc/scout.html\">Scout web-page</a> for details about Scout. </p><p> For complete API documentation please visit the <a href=\"https://ssd-api.jpl.nasa.gov/doc/scout.html\">JPL Scout API</a> website. </p><h2 id=\"Sentry\">Sentry</h2> <p> This API provides access to results from the <a href=\"http://cneos.jpl.nasa.gov/risk/\">CNEOS Sentry system</a>. There are various \"modes\" used to obtain desired data. * <code class=\"highlighter-rouge\">O</code> - object-specific details table * <code class=\"highlighter-rouge\">S</code> - summary table * <code class=\"highlighter-rouge\">V</code> - VI (virtual impactor) table * <code class=\"highlighter-rouge\">R</code> - removed-objects table </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/sentry.html\">JPL Sentry API</a> website. </p>"
  },
  {
    "id": "1",
    "name": "Techport",
    "summary": "API to make NASA technology project data available in a machine-readable format",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
[...]
