[
  {
    "id": "1",
    "name": "APOD",
    "summary": "Astronomy Picture of the Day",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"apod\">APOD</h1><p>One of the most popular websites at NASA is the <a href=\"http://apod.nasa.gov/apod/astropix.html\">Astronomy Picture of the Day</a>. In fact, this website is one of the <a href=\"https://analytics.usa.gov\">most popular websites</a> across all federal agencies. It has the popular appeal of a Justin Bieber video. This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the <code class=\"prettyprint\">concept_tags</code> parameter is set to <code class=\"prettyprint\">True</code>, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery.</p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/apod.jpg\"/></p><h3 id=\"http-request\">HTTP Request</h3><p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/apod </code></p><p><b>concept_tags are now disabled in this service. Also, an optional return parameter <i>copyright</i> is returned if the image is not public domain.</b></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>date</td><td>YYYY-MM-DD</td><td><em>today</em></td><td>The date of the APOD image to retrieve</td></tr><!-- <tr> <td><del>concept_tags</del></td><td>bool</td><td>False</td><td>Return an ordered dictionary of concepts from the APOD explanation</td></tr>--> <tr> <td>hd</td><td>bool</td><td>False</td><td>Retrieve the URL for the high resolution image</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p><a href=\"https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY\"> <code class=\"prettyprint\">https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY </code></a></p>",
    "configurations": {
      "overview": {
        "poc_name": "",
        "poc_email": "",
        "api_name": "",
        "backend_protocol": "",
        "server": "",
        "frontend_host": "",
        "backend_host": "",
        "matching_url_prefixes": [
          {
            "frontend_prefix": "",
            "backend_prefix": ""
          }
        ]
      },
      "global_request_settings": {
        "append_query_string_parameters": "",
        "set_request_headers": "",
        "http_basic_authentication": "",
        "https_requirements": "",
        "api_key_checks": "",
        "api_key_verification_requirements": "",
        "required_roles": "",
        "rate_limit": "",
        "default_response_headers": "",
        "override_response_headers": ""
      },
      "sub_url_request_settings": [
        {
          "http_method": "",
          "regex": "",
          "https_requirements": "",
          "api_key_checks": "",
          "api_key_verification_requirements": "",
          "required_roles": "",
          "override_required_roles_from_global_request_settings": "",
          "rate_limit": "",
          "default_response_headers": "",
          "override_response_headers": ""
        }
      ],
      "advanced_requests_rewriting": [
        {
          "matcher_type": "",
          "http_method": "",
          "frontend_matcher": "",
          "backend_replacement": ""
        }
      ],
      "advanced_settings": {
        "balance_algorithm": "",
        "json_template": "",
        "xml_template": "",
        "csv_template": "",
        "common_all_errors": "",
        "api_key_missing": "",
        "api_key_invalid": "",
        "api_key_disabled": "",
        "api_key_unauthorized": "",
        "over_rate_limit": "",
        "https_required": ""
      }
    },
    "swagger_data": {
      "swagger": "2.0",
      "info": {
        "description": "This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the concept_tags parameter is set to True, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery",
        "version": "1.0.0",
        "title": "APOD",
        "termsOfService": "",
        "contact": {
          "email": "evan.t.yates@nasa.gov"
        },
        "license": {
          "name": "Apache 2.0",
          "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
      },
      "host": "api.nasa.gov",
      "basePath": "/planetary",
      "tags": [
        {
          "name": "request tag",
          "description": "An example tag",
          "externalDocs": {
            "description": "Here's a link",
            "url": "https://example.com"
          }
        }
      ],
      "schemes": [
        "https",
        "http"
      ],
      "paths": {
        "/apod": {
          "get": {
            "tags": [
              "request tag"
            ],
            "summary": "Returns images",
            "descriptions": "Returns the picture of the day",
            "produces": [
              "application/json"
            ],
            "security": [
              {
                "api_key": []
              }
            ],
            "parameters": [
              {
                "name": "date",
                "in": "query",
                "description": "The date of the APOD image to retrieve",
                "required": false,
                "type": "string",
                "schema": "date"
              },
              {
                "name": "hd",
                "in": "query",
                "description": "Retrieve the URL for the high resolution image",
                "required": false,
                "type": "boolean"
              }
            ],
            "responses": {
              "200": {
                "description": "successful operation",
                "schema": {
                  "type": "array",
                  "items": {
                    "thing": "ok"
                  }
                }
              },
              "400": {
                "description": "Date must be between Jun 16, 1995 and Mar 28, 2019."
              }
            }
          }
        }
      },
      "securityDefinitions": {
        "api_key": {
          "type": "apiKey",
          "name": "api_key",
          "in": "query"
        }
      }
    }
  },
  {
    "id": "1",
    "name": "Asteroids NeoWs",
    "summary": "Near Earth Object Web Service",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"NeoWS\">Asteroids - NeoWs</h1><p> NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a user can: search for Asteroids based on their closest approach date to Earth, lookup a specific Asteroid with its NASA JPL small body id, as well as browse the overall data-set.</p><p> Data-set: All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/).</p><p> This API is maintained by <a href=\"https://github.com/SpaceRocks/\">SpaceRocks Team: David Greenfield, Arezu Sarvestani, Jason English and Peter Baunach</a>.</p><h2 id=\"neows-feed\">Neo - Feed</h2><p> Retrieve a list of Asteroids based on their closest approach date to Earth. <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/feed?start_date=START_DATE&end_date=END_DATE&api_key=API_KEY </code></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>start_date</td><td>YYYY-MM-DD</td><td>none</td><td>Starting date for asteroid search</td></tr><tr> <td>end_date</td><td>YYYY-MM-DD</td><td>7 days after start_date</td><td>Ending date for asteroid search</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-lookup\">Neo - Lookup</h2><p> Lookup a specific Asteroid based on its <a href=\"http://ssd.jpl.nasa.gov/sbdb_query.cgi\">NASA JPL small body (SPK-ID) ID</a> <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/ <Asteroid_ID> </code></p><h3 id=\"query-parameters\">Path Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <th>asteroid_id</th> <th>int</th> <th>none</th> <th>Asteroid SPK-ID correlates to the NASA JPL small body</th> </tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-browse\">Neo - Browse</h2><p> Browse the overall Asteroid data-set <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/browse/ </code></p><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY </code> </a></p><!--<h2 id=\"neows-swagger\">Neo - Live Documents</h2><iframe class=\"\" id=\"\" src=\"https://api.nasa.gov/neo/?api_key=DEMO_KEY\" style=\"border: 1px solid rgb(170, 170, 170); width: 100%; min-height: 725px; max-height: 725px; height: 30px;\"></iframe>-->"
  },
  {
    "id": "1",
    "name": "DONKI",
    "summary": "Space Weather Database Of Notifications, Knowledge, Information",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"DONKI\" style=\"margin-top: 0px;\">DONKI</h1> <p>The <a href=\"https://ccmc.gsfc.nasa.gov/donki/\">Space Weather Database Of Notifications, Knowledge, Information (DONKI)</a> is a comprehensive on-line tool for space weather forecasters, scientists, and the general space science community. DONKI provides chronicles the daily interpretations of space weather observations, analysis, models, forecasts, and notifications provided by the Space Weather Research Center (SWRC), comprehensive knowledge-base search functionality to support anomaly resolution and space science research, intelligent linkages, relationships, cause-and-effects between space weather activities and comprehensive webservice API access to information stored in DONKI. </p><p>This API consists of the following component services:</p><table> <thead> <tr> <th style=\"text-align: left\">API</th> <th style=\"text-align: left\">Example</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCME\">Coronal Mass Ejection (CME)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiGST\">Geomagnetic Storm (GST)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiIPS\">Interplanetary Shock (IPS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiFLR\">Solar Flare (FLR)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiSEP\">Solar Energetic Particle (SEP)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiMPC\">Magnetopause Crossing (MPC)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiRBE\">Radiation Belt Enhancement (RBE)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiHSS\">Hight Speed Stream (HSS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiWSA\">WSA+EnlilSimulation</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiNotifications\">Notifications</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </td></tr></tbody> </table> <h2 id=\"donkiCME\">Coronal Mass Ejection (CME)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis </h2> <p> <b>startDate:</b> default 30 days prior to current UTC time<br/> <b>endDate:</b> default to current UTC time<br/> <b>mostAccurateOnly:</b> default is set to true<br/> <b>completeEntryOnly:</b> default is set to true<br/> <b>speed (lower limit):</b> default is set to 0<br/> <b>halfAngle (lower limit):</b> default is set to 0<br/> <b>catalog:</b> default is set to ALL (choices: ALL, SWRC_CATALOG, JANG_ET_AL_CATALOG)<br/> <b>keyword:</b> default is set to NONE (example choices: swpc_annex)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </p><h2 id=\"donkiGST\">Geomagnetic Storm (GST) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiIPS\">Interplanetary Shock (IPS) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <b>location:</b> default to ALL (choices: Earth, MESSENGER, STEREO A, STEREO B)<br/> <b>catalog:</b> default to ALL (choices: SWRC_CATALOG, WINSLOW_MESSENGER_ICME_CATALOG)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </p><h2 id=\"donkiFLR\">Solar Flare (FLR) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY </a> </p><h2 id=\"donkiSEP\">Solar Energetic Particle (SEP) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiMPC\">Magnetopause Crossing (MPC) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiRBE\">Radiation Belt Enhancement (RBE) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiHSS\">Hight Speed Stream (HSS)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiWSA\">WSA+EnlilSimulation </h2> <p> <b>startDate:</b> default to 7 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY</a> </p><h2 id=\"donkiNotifications\">Notifications</h2> <p> <b>parameters:</b><br/> 'startDate' and 'endDate' are in format 'yyyy-MM-dd' UT<br/> 'type' could be: all, FLR, SEP, CME, IPS, MPC, GST, RBE, report<br/> <br/><b>Note:</b><br/> 'startDate' if left out would default to 7 days prior to the current UT date<br/> 'endDate' if left out would default to current UT date<br/> 'type' if left out would default to 'all'<br/> The request date range is limit to 30 days. If the request range is greater than 30 days, it would limit your request range to (endDate-30) to endDate.<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </p>"
  },
  {
    "id": "1",
    "name": "Earth",
    "summary": "Unlock the significant public investment in earth observation data",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"earth\">Earth</h1> <p>NOTE: THIS API IS CURRENTLY ONLY WORKING FOR A LIMITED DATE RANGE. WE ARE ATTEMPTING TO GET IT FIXED WORKING WITH API OWNERS. A recent industry <a href=\"http://www.fgdc.gov/ngac/meetings/december-2014/ngac-landsat-economic-value-paper-2014-update.pdf\">report</a> estimates that total annual value of $2.19 billion, far exceeding the multi-year total cost of building, launching, and managing Landsat satellites and sensors. The value is derived from consumer <em>use</em> of the data. There is no inherent value in idle data. The objective of this endpoint is to unlock the significant public investment in earth observation data. This open and documented API should dramatically reduce the transaction costs to engage with the imagery.The API is powered by Google Earth Engine, and currently only supports pan-sharpened Landsat 8 imagery. </p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/earth.png\"/></p><p>Imagine the possibilities associated with this imagery, like <a href=\"http://www.globalforestwatch.org\">monitoring deforestation at 15-meter resolution</a> or assessing the damage from natural disasters. If you discover any cool applications, <a href=\"mailto:nasa-api@lists.arc.nasa.gov\">please let us know</a> so that we can showcase them on <a href=\"//open.nasa.gov\">open.nasa.gov</a>. </p><h2 id=\"imagery\">Imagery</h2> <p>This endpoint retrieves the Landsat 8 image for the supplied location and date. The response will include the date and URL to the image that is closest to the supplied date. The requested resource may not be available for the <em>exact</em> date in the request. You can retrieve a list of available resources through the <a href=\"/api.html#assets\">assets endpoint</a>. </p><p>The cloud score is an optional calculation that returns the percentage of the queried image that is covered by clouds. If <code class=\"prettyprint\">False</code> is supplied to the <code class=\"prettyprint\">cloud_score</code> parameter, then no keypair is returned. If <code class=\"prettyprint\">True</code> is supplied, then a keypair will always be returned, even if the backend algorithm is not able to calculate a score. Note that this is a rough calculation, mainly used to filter out exceedingly cloudy images. </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/imagery </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>dim</td><td>float</td><td>0.025</td><td>width and height of image in degrees</td></tr><tr> <td>date</td><td>YYYY-MM-DD</td><td><em>today</em></td><td> date of image; if not supplied, then the most recent image (i.e., closest to today) is returned </td></tr><tr> <td>cloud_score</td><td>bool</td><td>False</td><td>calculate the percentage of the image covered by clouds</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/imagery?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;cloud_score=True&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/imagery?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;cloud_score=True&amp;api_key=DEMO_KEY</code></a></p><aside class=\"notice\"> Note that the returned object may not match the supplied date exactly. Instead, the image closest to the supplied date is returned. </aside> <h2 id=\"assets\">Assets</h2> <p>This endpoint retrieves the date-times and asset names for available imagery for a supplied location. The satellite passes over each point on earth roughly once every sixteen days. <a href=\"//earthobservatory.nasa.gov/Features/LandsatBigData/\">This is an amazing visualization</a> of the acquisition pattern for Landsat 8 imagery. The objective of this endpoint is primarily to support the use of the <a href=\"/api.html#imagery\">imagery endpoint</a>. </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/assets </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>begin</td><td>YYYY-MM-DD</td><td>n/a</td><td>beginning of date range</td></tr><tr> <td>end</td><td>YYYY-MM-DD</td><td><em>today</em></td><td>end of date range</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/assets?lon=100.75&amp;lat=1.5&amp;begin=2014-02-01&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/assets?lon=100.75&amp;lat=1.5&amp;begin=2014-02-01&amp;api_key=DEMO_KEY</code></a></p>"
  },
  {
    "id": "1",
    "name": "EONET",
    "summary": "The Earth Observatory Natural Event Tracker",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"EONET\">EONET</h1> <p> More and more NASA imagery is being made available via web services (WMS, WMTS, etc.) and a significant percentage of it is being produced and published in near real time (NRT=within a few hours after acquisition). This ability means that NASA imagery can be used more routinely to examine current natural events as they happen. </p><p> Using client applications, such as <a href=\"https://worldview.earthdata.nasa.gov/\">NASA EOSDIS’ Worldview</a>, users can browse the entire globe daily and look for natural events as they occur. Storms are regularly spotted in the tropics, dust storms over deserts, forest fires in the summers. These events are occurring constantly and NASA NRT imagery can represent them all using a variety of different data parameters. However, the user’s experience is tailored, and therefore restricted, by the client application. What if there was an API that provided a curated list of natural events and provided a way to link those events to event-related NRT image layers? Enter EONET. </p><p> The Earth Observatory Natural Event Tracker (EONET) is a prototype web service with the goal of: </p><p> providing a curated source of continuously updated natural event metadata; providing a service that links those natural events to thematically-related web service-enabled image sources (e.g., via WMS, WMTS, etc.). Please see our <a href=\"http://eonet.sci.gsfc.nasa.gov/docs/v2.1\">API documentation</a> to learn more about how to use the EONET web services. </p><p> Development of EONET began in 2015 and has been supported by <a href=\"http://earthobservatory.nasa.gov/\">NASA’s Earth Observatory</a> and <a href=\"https://earthdata.nasa.gov/about/esdis-project\">Earth Science Data and Information System (ESDIS) Project</a>. </p>"
  },
  {
    "id": "1",
    "name": "EPIC",
    "summary": "Earth Polychromatic Imaging Camera",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"EPIC\">EPIC</h1> <p> The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides full disc imagery of the Earth and captures unique perspectives of certain astronomical events such as lunar transits using a 2048x2048 pixel CCD (Charge Coupled Device) detector coupled to a 30-cm aperture Cassegrain telescope. </p><p> Image metadata and key information are provided by the JSON API and can be requested by date and for the most recent available date. A listing of all available dates can also be retrieved via the API for more granular control. </p><p> Development of the EPIC API began in 2015, and is supported by the web development team for the <a href='http://atmospheres.gsfc.nasa.gov' target='_blank'>Laboratory for Atmospheres</a> in the Earth Sciences Division of the Goddard Space Flight Center. More information regarding the API and retrieval of the imagery for download can be found on the <a href='http://epic.gsfc.nasa.gov' target='_blank'>EPIC website</a>. </p><h3>Retrievable Metadata</h3> <p> The following information is available for every image in the collection: </p><ul> <li>Image [name]</li><li>Date</li><li>Caption</li><li>centroid_coordinates</li><li>dscovr_j2000_position</li><li>lunar_j2000_position</li><li>sun_j2000_position</li><li>attitude_quaternions</li></ul> <br><p><strong>Example image:</strong></p><p><img style='width:75%;' src=\"https://api.nasa.gov/EPIC/archive/natural/2015/06/13/png/epic_1b_20150613110250.png?api_key=DEMO_KEY\"/></p><h3 id=\"example-query\">Querying by Date(s)</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>natural</td><td>string</td><td>Most Recent Natural Color</td><td>Metadata on the most recent date of natural color imagery.</td></tr><tr> <td>natural/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for natural color imagery available for a given date.</td></tr><tr> <td>natural/all</td><td>string</td><td>Dates for Natural Color</td><td>A listing of all dates with available natural color imagery.</td></tr><tr> <td>natural/available</td><td>string</td><td>Dates for Natural Color</td><td>Alternate listing of all dates with available natural color imagery.</td></tr><tr> <td>enhanced</td><td>string</td><td>Most Recent Enhanced Color</td><td>Metadata on the most recent date of enhanced color imagery.</td></tr><tr> <td>enhanced/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for enhanced color imagery for a given date.</td></tr><tr> <td>enhanced/all</td><td>string</td><td>Dates for Enhanced Imagery</td><td>A listing of all dates with available enhanced color imagery.</td></tr><tr> <td>enhanced/available</td><td>string</td><td>Dates for Enhanced Imagery</td><td>Alternate listing of all dates with available enhanced color imagery.</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>API key from api.nasa.gov for expanded usage.</td></tr></tbody> </table> <h3 id=\"example-query\">Example queries</h3> <p> <a href=\"https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/natural/date/2015-10-31?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/date/2015-10-31?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/enhanced/all?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/enhanced/all?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/archive/enhanced/2016/12/04/png/epic_RBG_20161204003633.png?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/archive/enhanced/2016/12/04/png/epic_RBG_20161204003633.png?api_key=DEMO_KEY </code> </a> </p><p> More examples and usage tips can be found on the <a href='https://epic.gsfc.nasa.gov/about/api' target='_blank'>EPIC API Documentation Page</a>. </p><p>&nbsp;</p>"
  },
  {
    "id": "1",
    "name": "Exoplanet",
    "summary": "Programmatic access to NASA's Exoplanet Archive database",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"exoPlanet\" style=\"margin-top: 0px;\">Exoplanet Archive</h1> <h2 id=\"exoPlanetIntro\">Introduction</h2> <p>The Exoplanet Archive API allows programatic access to <a href=\"https://exoplanetarchive.ipac.caltech.edu/index.html\">NASA's Exoplanet Archive</a> database. This API contains a ton of options so to get started please visit <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html\">this page</a> for introductory materials. To see <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/data.html\">what data</a> is available in this API <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#data\">visit here</a> and also be sure to check out <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#troubleshoot\">best-practices and troubleshooting</a> in case you get stuck. Happy planet hunting! </p><p><img src=\"https://exoplanetarchive.ipac.caltech.edu/images/news/news-image-generic-transit.jpg\"/></p><h2 id=\"exoPlanetExamples\">Example Queries</h2> <table> <thead> <tr> <th style=\"text-align: left\">Example API</th> <th style=\"text-align: left\">URL</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">Confirmed planets in the Kepler field </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">Confirmed planets that transit their host stars </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">All planetary candidates smaller than 2Re with equilibrium temperatures between 180-303K</a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'</a></td></tr></tbody> </table> <p><a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/API_queries.html\">More examples here.</a></p>"
  },
  {
    "id": "1",
    "name": "GeneLab Search",
    "summary": "Programmatic interface for GeneLab's public data repository website",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"genelab\">GeneLab Search</h1> <p>GeneLab provides a RESTful Application Programming Interface (API) to its full-text search capability, which provides the same functionality available through the GeneLab <a href=\"https://genelab-data.ndc.nasa.gov/genelab/\" target=\"_blank\">public data repository website</a>. The API provides a choice of standardized web output formats, such as JavaScript Object Notation (JSON) or Hyper Text Markup Language (HTML), of the search results. The GeneLab Search API can also federate with other heterogeneous external bioinformatics databases, such as the National Institutes of Health (NIH) / National Center for Biotechnology Information's (NCBI) <a href=\"https://www.ncbi.nlm.nih.gov/geo/\" target=\"_blank\">Gene Expression Omnibus (GEO)</a>; the European Bioinformatics Institute's (EBI) <a href=\"https://www.ebi.ac.uk/pride/archive/\" target=\"_blank\">Proteomics Identification (PRIDE)</a>; the Argonne National Laboratory's (ANL) <a href=\"http://metagenomics.anl.gov\" target=\"_blank\">Metagenomics Rapid Annotations using Subsystems Technology (MG-RAST)</a>. </p><br/> <p><strong>GeneLab Sample JSON Search API Output:</strong></p><p><img width=\"65%\" src=\"assets/img/general/genelab_search_json_api.png\"/></p><h3 id=\"http-request\">HTTP Request for JSON results</h3> <p> <code class=\"prettyprint\"> GET https://genelab-data.ndc.nasa.gov/genelab/data/search?term=mouse%20liver&type=cgene </code> </p><br/> <br/> <p><strong>GeneLab Sample HTML Search API Output:</strong></p><p><img width=\"65%\" src=\"assets/img/general/genelab_search_html_api.png\"/></p><h3 id=\"http-request\">HTTP Request for HTML results</h3> <p> <code class=\"prettyprint\"> GET https://genelab-data.ndc.nasa.gov/genelab/search_studies/?q=mouse%20liver&data_source=cgene </code> </p><br/> <h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>term</td><td>String (optional multiple values)</td><td><em>Query all GeneLab data sets</em></td><td>Keyword(s) to search on along with optional case-insensitive boolean operators, such as: AND, OR, NOT (Note: Default search is a boolean \"AND\" for all keyword searches) </td></tr><tr> <td>type</td><td>String (multiple valid values: cgene, nih_geo_gse, ebi_pride, mg_rast)</td><td><em>cgene (GeneLab database)</em></td><td>Specific database(s) to query on (e.g., values available cgene=GeneLab, nih_geo_gse=NIH GEO, ebi_pride=EBI PRIDE, or mg_rast=MG-RAST database with optional multiple values separated by comma delimiter) </td></tr><tr> <td>from</td><td>Integer (single value)</td><td><em>0 (first index page)</em></td><td>Search result sets pagination start page (defaults to 0)</td></tr><tr> <td>size</td><td>Integer (single value)</td><td><em>25</em></td><td>Search result sets display count (defaults to 25)</td></tr><tr> <td>sort</td><td>String (single value)</td><td><em>GeneLab Accession Number (descending order)</em></td><td>Sort by a specific field or attribute name</td></tr><tr> <td>order</td><td>String (single value)</td><td><em>DESC (descending order)</em></td><td>Sort order (e.g., either ASC for ascending or DESC for descending)</td></tr><tr> <td>ffield</td><td>String (single value; should always be paired with fvalue parameter)</td><td><em>N/A</em></td><td>Search filter field is only for GeneLab database (cgene) at this time. Other databases will be included at a later time </td></tr><tr> <td>fvalue</td><td>String (single value; should always be paired with ffield parameter)</td><td><em>N/A</em></td><td>Search filter value is only for GeneLab database (cgene) at this time. Other databases will be included at a later time </td></tr></tbody> </table> <h3 id=\"example-query\">Sample query</h3> <p> <a href=\"https://genelab-data.ndc.nasa.gov/genelab/data/search?term=space&from=0&type=cgene,nih_geo_gse&ffield=links&fvalue=GPL16417&ffield=Data Source Accession&fvalue=GSE82255&api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://genelab-data.ndc.nasa.gov/genelab/data/search?term=space&from=0&type=cgene,nih_geo_gse&ffield=links&fvalue=GPL16417&ffield=Data Source Accession&fvalue=GSE82255&api_key=DEMO_KEY </code> </a> </p>"
  },
  {
    "id": "1",
    "name": "Insight",
    "summary": "Mars Weather Service API",
    "html_template": "<h1 id=\"insight_weather\">InSight: Mars Weather Service API</h1><p>(Last Updated: 8/28/2019)</p><p>NASA’s InSight Mars lander takes continuous weather measurements (temperature, wind, pressure) on the surface of Mars at Elysium Planitia, a flat, smooth plain near Mars’ equator.  Summaries of these data are available at <a href=\"https://mars.nasa.gov/insight/weather/\">https://mars.nasa.gov/insight/weather/</a>. </p><p>This API provides per-Sol summary data for each of the last seven available Sols (Martian Days). As more data from a particular Sol are downlinked from the spacecraft (sometimes several days later), these values are recalculated, and consequently may change as more data are received on Earth.</p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/insight_photo.png\" /></p><p>This API is maintained and provided by NASA Jet Propulsion Laboratory and Cornell University. If you find bugs in this API, please use the contact form found at <a href=\"https://mars.nasa.gov/feedback/\">https://mars.nasa.gov/feedback/</a>. The rate limit for this API is every hour no more than 2000 hits for each individual IP.</p><h3>Defining the Data</h3><p>The summary data are provided as an object in a JSON stream, a formal definition of JSON is <a href=\"https://tools.ietf.org/html/rfc7159\">RFC 7159</a>.  Appendix A contains an abridged, typical JSON stream for this API as an example.</p><h3 id=\"http-request\">HTTP Request</h3><p><code class=\"prettyprint\">GET https: //api.nasa.gov/insight_weather/?api_key=DEMO_KEY&feedtype=json&ver=1.0</code></p><h3 id=\"query-parameters\">Query Parameters</h3><table><thead><tr><th>Parameter</th><th>Type</th><th>Default</th><th>Description</th></tr></thead><tbody><tr><td>version</td><td>float</td><td><em>1.0</em></td><td>The version of this API</td></tr><tr><td>feedtype</td><td>string</td><td>json</td><td>The format of what is returned. Currently the default is JSON and only JSON works.</td></tr><tr><td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.data.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p><a href=\"https://api.nasa.gov/insight_weather/?api_key=DEMO_KEY&feedtype=json&ver=1.0\"><code class=\"prettyprint\">https://api.nasa.gov/insight_weather/?api_key=DEMO_KEY&feedtype=json&ver=1.0</code></a></p><h5><a href=\"./assets/insight/InSight%20Weather%20API%20Documentation.pdf\">This document</a> describes the API in more detail.</h5><h5><a href=\"./assets/insight/insight_mars_wind_rose.html\">This self-contained HTML document</a> is an example that draws a wind rose using InSight Wind Direction frequency distribution data, which data are part of the JSON object returned by this API.</h5><p>Here is something like what that wind rose looks like:<br><img src=\"./assets/insight/insight_mars_wind_rose.png\" style=\"max-width: 50%;\" /></p>"
  },
  {
    "id": "1",
    "name": "Mars Rover Photos",
    "summary": "Image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"MarsPhotos\">Mars Rover Photos</h1> <p> This API is designed to collect image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars and make it more easily available to other developers, educators, and citizen scientists. This API is maintained by <a href=\"https://github.com/chrisccerami/mars-photo-api\">Chris Cerami</a>. </p><p> Each rover has its own set of photos stored in the database, which can be queried separately. There are several possible queries that can be made against the API. Photos are organized by the sol (Martian rotation or day) on which they were taken, counting up from the rover's landing date. A photo taken on Curiosity's 1000th Martian sol exploring Mars, for example, will have a sol attribute of 1000. If instead you prefer to search by the Earth date on which a photo was taken, you can do that too. </p><p> Along with querying by date, results can also be filtered by the camera with which it was taken and responses will be limited to 25 photos per call. Queries that should return more than 25 photos will be split onto several pages, which can be accessed by adding a 'page' param to the query. </p><p> Each camera has a unique function and perspective, and they are named as follows: </p><h3 id=\"query-parameters\">Rover Cameras</h3> <table> <thead> <tr> <th>Abbreviation</th> <th>Camera</th> <th class=\"markerBox\">Curiousity</th> <th class=\"markerBox\">Opportunity</th> <th class=\"markerBox\">Spirit</th> </tr></thead> <tbody> <tr> <td>FHAZ</td><td>Front Hazard Avoidance Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>RHAZ</td><td>Rear Hazard Avoidance Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>MAST</td><td>Mast Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>CHEMCAM</td><td>Chemistry and Camera Complex</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>MAHLI</td><td>Mars Hand Lens Imager</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>MARDI</td><td>Mars Descent Imager</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\"></td><td class=\"markerBox\"></td></tr><tr> <td>NAVCAM</td><td>Navigation Camera</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>PANCAM</td><td>Panoramic Camera</td><td class=\"markerBox\"></td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr><tr> <td>MINITES</td><td>Miniature Thermal Emission Spectrometer (Mini-TES)</td><td class=\"markerBox\"></td><td class=\"markerBox\">&#10004;</td><td class=\"markerBox\">&#10004;</td></tr></tbody> </table> <h3 id=\"example-query\">Querying by Martian sol</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>sol</td><td>int</td><td>none</td><td>sol (ranges from 0 to max found in endpoint)</td></tr><tr> <td>camera</td><td>string</td><td>all</td><td>see table above for abbreviations</td></tr><tr> <td>page</td><td>int</td><td>1</td><td>25 items per page returned</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example queries</h3> <p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&amp;api_key=DEMO_KEY </code> </a> </p><p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&camera=fhaz&api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&camera=fhaz&api_key=DEMO_KEY </code> </a> </p><p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&page=2&api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&page=2&api_key=DEMO_KEY </code> </a> </p><h3 id=\"example-query\">Querying by Earth date</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>earth_date</td><td>YYYY-MM-DD</td><td>none</td><td>sol (ranges from 0 to max found in endpoint)</td></tr><tr> <td>camera</td><td>string</td><td>all</td><td>see table above for abbreviations</td></tr><tr> <td>page</td><td>int</td><td>1</td><td>25 items per page returned</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p> <a href=\"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?earth_date=2015-6-3&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?earth_date=2015-6-3&amp;api_key=DEMO_KEY </code> </a> </p><h3>Mission Manifest</h3> <p> A mission manifest is available for each Rover at /manifests/rover_name. This manifest will list details of the Rover's mission to help narrow down photo queries to the API. The information in the manifest includes: </p><table> <thead> <tr> <th>Key</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>name</td><td>Name of the Rover</td></tr><tr> <td>landing_date</td><td>The Rover's landing date on Mars</td></tr><tr> <td>launch_date</td><td>The Rover's launch date from Earth</td></tr><tr> <td>status</td><td>The Rover's mission status</td></tr><tr> <td>max_sol</td><td>The most recent Martian sol from which photos exist</td></tr><tr> <td>max_date</td><td>The most recent Earth date from which photos exist</td></tr><tr> <td>total_photos</td><td>Number of photos taken by that Rover</td></tr><tr> <td></td><td></td></tr></tbody> </table> <p>It also includes a list of objects under the \"photos\" key which are grouped by sol, and each of which contains:</p><table> <thead> <tr> <th>Key</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>sol</td><td>Martian sol of the Rover's mission</td></tr><tr> <td>total_photos</td><td>Number of photos taken by that Rover on that sol</td></tr><tr> <td>cameras</td><td>Cameras for which there are photos by that Rover on that sol</td></tr></tbody> </table> <p>An example entry from a sol at /manifests/Curiosity might look like:</p><p><code>{sol: 0, total_photos: 3702, cameras: [ \"CHEMCAM\", \"FHAZ\", \"MARDI\", \"RHAZ\"]}</code> </p><p>This would tell you that this rover, on sol 0, took 3702 photos, and those are from among the CHEMCAM, FHAZ, MARDI, and RHAZ cameras.</p>"
  },
  {
    "id": "1",
    "name": "NASA Image and Video Library",
    "summary": "API to access the NASA Image and Video Library site at images.nasa.gov",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"images\">NASA Image and Video Library</h1> <p> Use this API to access the NASA Image and Video Library site at <a href=\"https://images.nasa.gov/#/\">images.nasa.gov</a>. For the latest documentation, please go <a href=\"https://images.nasa.gov/docs/images.nasa.gov_api_docs.pdf\">here</a>. </p><p> The images.nasa.gov API is organized around REST, has predictable/resource\u00AD-oriented URLs and uses HTTP response codes to indicate API errors. This API uses built-\u00ADin HTTP features such as HTTP authentication and HTTP verbs, which are understood by many off-\u00ADthe-\u00ADshelf HTTP clients. Please note that JSON is returned by all API responses, including errors. Each of the endpoints described below also contains example snippets which use the curl command\u00AD-line tool, Unix pipelines, and the python command\u00AD-line tool to output API responses in an easy\u00AD to \u00ADread format. </p><h2 id=\"images-endpoints\" style=\"margin-top: 0em; border-top: none;\">Available Endpoints</h2> <p> The images API contains 4 endpoints <code class=\"prettyprint\"> GET https://images-api.nasa.gov </code> </p><h3 id=\"images-endpoints2\">Endpoints</h3> <table> <thead> <tr> <th>Endpoint</th> <th>Description</th> </tr></thead> <tbody> <tr> <th>GET /search?q={q}</th> <th>Performing a search</th> </tr><tr> <th>GET /asset/{nasa_id}</th> <th>Retrieving a media asset’s manifest</th> </tr><tr> <th>GET /metadata/{nasa_id}</th> <th>Retrieving a media asset’s metadata location</th> </tr><tr> <th>GET /captions/{nasa_id}</th> <th>Retrieving a video asset’s captions location</th> </tr></tbody> </table> <p> For complete usage information and detailed examples, please visit the <a href=\"https://images.nasa.gov/docs/images.nasa.gov_api_docs.pdf\">NASA Image and Video Library API documentation</a>. </p>"
  },
  {
    "id": "1",
    "name": "Patents",
    "summary": "Structured, searchable developer access to NASA’s patents",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"patents\">Patents</h1> <p>NOTE: THIS IS DOWN CURRENTLY: The NASA patent portfolio is available to benefit US citizens. Through partnerships and licensing agreements with industry, these patents ensure that NASA&rsquo;s investments in pioneering research find secondary uses that benefit the economy, create jobs, and improve quality of life. This endpoint provides structured, searchable developer access to NASA&rsquo;s patents that have been curated to support technology transfer. </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\">GET https://api.nasa.gov/patents</code></p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>query</td><td>string</td><td>None</td><td>Search text to filter results</td></tr><tr> <td>concept_tags</td><td>bool</td><td>False</td><td>Return an ordered dictionary of concepts from the patent abstract</td></tr><tr> <td>limit</td><td>int</td><td><em>all</em></td><td>number of patents to return</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/patents/content?query=temperature&amp;limit=5&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/patents/content?query=temperature&amp;limit=5&amp;api_key=DEMO_KEY</code></a></p>"
  },
  {
    "id": "1",
    "name": "Satellite Situation Center",
    "summary": "System to cast geocentric spacecraft location information into a framework of (empirical) geophysical regions",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"SSC\" style=\"margin-top: 0px;\">Satellite Situation Center</h1> <p>The <a href=\"https://sscweb.sci.gsfc.nasa.gov/WebServices/REST/\">Satellite Situation Center Web (SSCWeb) service</a> has been developed and is operated jointly by the <a href=\"https://spdf.gsfc.nasa.gov/\">NASA/GSFC Space Physics Data Facility (SPDF)</a> and the National Space Science Data Center (NSSDC) to support a range of NASA science programs and to fulfill key international NASA responsibilities including those of NSSDC and the World Data Center-A for Rockets and Satellites. The software and associated database of SSCWeb together form a system to cast geocentric spacecraft location information into a framework of (empirical) geophysical regions and mappings of spacecraft locations along lines of the Earth's magnetic field. This capability is one key to mission science planning (both single missions and coordinated observations of multiple spacecraft with ground-based investigations) and to subsequent multi-mission data analysis. To get started with this API please <a href=\"https://sscweb.sci.gsfc.nasa.gov/WebServices/REST/json/\">visit this page</a>. </p>"
  },
  {
    "id": "1",
    "name": "SSD/CNEOS",
    "summary": "Solar System Dynamics and Center for Near-Earth Object Studies",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"ssd_CNEOS\" style=\"margin-top: 0px;\">SSD/CNEOS</h1> <p>Welcome to JPL’s <a href=\"http://ssd.jpl.nasa.gov/\">SSD</a> (Solar System Dynamics) and <a href=\"http://cneos.jpl.nasa.gov\">CNEOS</a> (Center for Near-Earth Object Studies) API (Application Program Interface) service. This service provides an interface to machine-readable data (<a href=\"http://www.json.org/\">JSON</a>-format) related to <a href=\"http://ssd.jpl.nasa.gov\">SSD</a> and <a href=\"http://cneos.jpl.nasa.gov\">CNEOS</a>.If you are looking for human-readable data, please go to the main websites for <a href=\"http://ssd.jpl.nasa.gov/\">SSD</a> and/or <a href=\"http://cneos.jpl.nasa.gov/\">CNEOS</a>. For further information on this API and its component services, please visit the <a href=\"http://ssd-api.jpl.nasa.gov/\">JPL SSD/CNEOS API</a> main website or contact <a href=\"mailto:contact-ssd-api@jpl.nasa.gov\">contact-ssd-api@jpl.nasa.gov</a>. </p><p>This API consists of the following component services:</p><table> <thead> <tr> <th style=\"text-align: left\">API</th> <th style=\"text-align: left\">Description</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#CAD\">CAD</a></td><td style=\"text-align: left\">Asteroid and comet close approaches to the planets in the past and future</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#Fireball\">Fireball</a></td><td style=\"text-align: left\">Fireball atmospheric impact data reported by US Government sensors</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#MissionDesign\">Mission Design</a></td><td style=\"text-align: left\">Mission Design - Small-body mission design suite</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#NHATS\">NHATS</a></td><td style=\"text-align: left\">Human-accessible NEOs data</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#Scout\">Scout</a></td><td style=\"text-align: left\">NEOCP orbits, ephemerides, and impact risk data</td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#Sentry\">Sentry</a></td><td style=\"text-align: left\">NEO Earth impact risk assessment data</td></tr></tbody> </table> <h2 id=\"CAD\">CAD</h2> <p> This API provides access to current close-approach data for all asteroids and comets in JPL’s <a href=\"http://ssd.jpl.nasa.gov/sbdb.cgi\">SBDB</a> (Small-Body DataBase). Defaults for query parameters are setup for a typical CNEOS web-site search: NEO Earth close-approaches less than 0.05 au in the next 60 days sorted by date. </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/cad.html\">JPL SBDB Close-Approach Data API</a> website. </p><h2 id=\"Fireball\">Fireball</h2> <p>The fireball data API provides a method of requesting specific records from the available data-set. Every successful query will return content representing one or more fireball data records. See the CNEOS page on <a href=\"http://cneos.jpl.nasa.gov/fireballs/\">fireballs</a> for details on this data-set. </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/fireball.html\">JPL Fireball Data API</a> website. </p><h2 id=\"MissionDesign\">Mission Design</h2> <p>This API provides access to the JPL/SSD small-body mission design suite. Please see the <a href=\"https://ssd-api.jpl.nasa.gov/doc/mdesign.html\">Mission Design web-page</a> for details about Mission Design. </p><p> For complete API documentation please visit the <a href=\"https://ssd-api.jpl.nasa.gov/doc/mdesign.html\">JPL Mission Design API</a> website. </p><h2 id=\"NHATS\">NHATS</h2> <p>The NHATS API provides a method of requesting data from the NHATS-related tables in the SBDB. These data will primarily support the CNEOS “Accessible NEAs” web-page. Please see the <a href=\"http://cneos.jpl.nasa.gov/nhats/\">NHATS web-page</a> for details about NHATS. </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/nhats.html\">JPL NHATS API</a> website. </p><h2 id=\"Scout\">Scout</h2> <p>This API provides access to near-realtime results from the CNEOS Scout system. Various query modes provide access to available subsets of data. Please see the <a href=\"https://ssd-api.jpl.nasa.gov/doc/scout.html\">Scout web-page</a> for details about Scout. </p><p> For complete API documentation please visit the <a href=\"https://ssd-api.jpl.nasa.gov/doc/scout.html\">JPL Scout API</a> website. </p><h2 id=\"Sentry\">Sentry</h2> <p> This API provides access to results from the <a href=\"http://cneos.jpl.nasa.gov/risk/\">CNEOS Sentry system</a>. There are various \"modes\" used to obtain desired data. * <code class=\"highlighter-rouge\">O</code> - object-specific details table * <code class=\"highlighter-rouge\">S</code> - summary table * <code class=\"highlighter-rouge\">V</code> - VI (virtual impactor) table * <code class=\"highlighter-rouge\">R</code> - removed-objects table </p><p> For complete API documentation please visit the <a href=\"http://ssd-api.jpl.nasa.gov/doc/sentry.html\">JPL Sentry API</a> website. </p>"
  },
  {
    "id": "1",
    "name": "Techport",
    "summary": "API to make NASA technology project data available in a machine-readable format",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"techport\">Techport</h1> <p> Welcome to TechPort - NASA's resource for collecting and sharing information about NASA-funded technology development. Techport allows the public to discover the technologies NASA is working on every day to explore space, understand the universe, and improve aeronautics. NASA is developing technologies in areas such as propulsion, nanotechnology, robotics, and human health. NASA is committed to making its data available and machine-readable through an Application Programming Interface (API) to better serve its user communities. As such, the NASA TechPort system provides a RESTful web services API to make technology project data available in a machine-readable format. This API can be used to export TechPort data into either an XML or a JSON format, which can then be further processed and analyzed. Complete documentation (in Swagger 2.0 format) of the available objects, properties, RESTful URIs is available in the online API specification at:<br/> <a href=\"https://api.nasa.gov/techport/api/specification?api_key=DEMO_KEY\">https://api.nasa.gov/techport/api/specification?api_key=DEMO_KEY</a>. </p><p> In general, queries can be issued to the system with the following URI format: </p><p><code>GET https://api.nasa.gov/techport/api/projects/{id_parameter}?api_key=DEMO_KEY</a></code></p><table> <thead> <tr> <th style=\"text-align: left\">Parameter</th> <th style=\"text-align: left\">Required?</th> <th style=\"text-align: left\">Value</th> <th style=\"text-align: left\">Description</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\">id_parameter</td><td style=\"text-align: left\">Yes</td><td style=\"text-align: left\">Type:&nbsp;int<br/>Default:&nbsp;None</td><td style=\"text-align: left\">The id value of the TechPort record. ID values can be obtained through the standard TechPort search feature and are visible in the website URLs, e.g. http://techport.nasa.gov/view/0000, where 0000 is the ID value. Alternatively, a request to /api/projects will display all valid IDs in the system. </td></tr></tbody> </table> <h3 id=\"example-queries\">Example Queries</h3> <p><code>GET <a href=\"https://api.nasa.gov/techport/api/projects/17792?api_key=DEMO_KEY\">https://api.nasa.gov/techport/api/projects/17792?api_key=DEMO_KEY</a></code></p><p><code>GET <a href=\"https://api.nasa.gov/techport/api/projects/17792.json?api_key=DEMO_KEY\">https://api.nasa.gov/techport/api/projects/17792.xml?api_key=DEMO_KEY</a></code></p><p><code>GET <a href=\"https://api.nasa.gov/techport/api/projects?api_key=DEMO_KEY\">https://api.nasa.gov/techport/api/projects?api_key=DEMO_KEY</a></code></p><p><code>GET <a href=\"https://api.nasa.gov/techport/api/projects?updatedSince=2016-01-01&api_key=DEMO_KEY\">https://api.nasa.gov/techport/api/projects?updatedSince=2016-01-01&api_key=DEMO_KEY</a></code></p><p> For more information on Techport and additional example usage please visit <a href=\"http://techport.nasa.gov\">http://techport.nasa.gov</a>. </p>",
    "swagger_data": {
      "swagger": "2.0",
      "info": {
        "version": "3.4.0",
        "title": "TechPort",
        "description": "TechPort RESTful API",
        "contact": {
          "name": "TechPort Team",
          "email": "hq-techport@mail.nasa.gov",
          "url": "https://techport.nasa.gov"
        }
      },
      "host": "techport.nasa.gov",
      "basePath": "/api",
      "schemes": [
        "http",
        "https"
      ],
      "produces": [
        "application/xml",
        "application/json"
      ],
      "paths": {
        "/api": {
          "get": {
            "description": "Returns the swagger specification for the API.",
            "responses": {
              "200": {
                "description": "Successful response"
              },
              "default": {
                "description": "Object not found."
              }
            }
          }
        },
        "/api/projects{.format}": {
          "get": {
            "description": "Returns a list of available technology project IDs.",
            "parameters": [
              {
                "name": "updatedSince",
                "in": "query",
                "description": "ISO 8601 full-date in the format YYYY-MM-DD. Filters the list of available ID values by their lastUpdated parameter.",
                "required": true,
                "type": "string",
                "format": "date"
              },
              {
                "name": "format",
                "in": "path",
                "description": "The response type desired.",
                "required": false,
                "type": "string",
                "default": "json",
                "enum": [
                  "json",
                  "xml"
                ]
              }
            ],
            "responses": {
              "200": {
                "description": "Successful response",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "lastUpdated": {
                      "type": "string"
                    }
                  }
                }
              },
              "default": {
                "description": "Object not found."
              }
            }
          }
        },
        "/api/projects/{id}{.format}": {
          "get": {
            "description": "Returns information about a specific technology project.",
            "parameters": [
              {
                "name": "id",
                "in": "path",
                "description": "ID of project to fetch",
                "required": true,
                "type": "integer",
                "format": "int64"
              },
              {
                "name": "format",
                "in": "path",
                "description": "The response type desired.",
                "required": false,
                "type": "string",
                "default": "xml",
                "enum": [
                  "json",
                  "xml"
                ]
              }
            ],
            "responses": {
              "200": {
                "description": "Successful response",
                "schema": {
                  "$ref": "#/definitions/project"
                }
              },
              "default": {
                "description": "Object not found."
              }
            }
          }
        }
      },
      "definitions": {
        "project": {
          "type": "object",
          "description": "Top-level TechPort object representing a NASA technology project and its associated data.",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "Unique identifier for the project."
            },
            "lastUpdated": {
              "type": "string",
              "format": "date",
              "description": "ISO 8601 full-date in the format YYYY-MM-DD describing the last time this project was updated."
            },
            "title": {
              "type": "string",
              "description": "Title of the project."
            },
            "acronym": {
              "type": "string",
              "description": "Abbreviated name of the project."
            },
            "status": {
              "type": "string",
              "description": "Indicates whether the project is currently active, completed, or canceled."
            },
            "description": {
              "type": "string",
              "description": "A detailed description of the project."
            },
            "benefits": {
              "type": "string",
              "description": "Describes the benefits offered to NASA funded and planned missions, unfunded or planned missions, commercial space industry, and to the nation."
            },
            "startDate": {
              "type": "string",
              "description": "The month and year the project was authorized to proceed."
            },
            "endDate": {
              "type": "string",
              "description": "The month and year the project is expected to complete its work."
            },
            "technologyMaturityStart": {
              "type": "string",
              "description": "The technology maturity (technology readiness level) of the project at its beginning."
            },
            "technologyMaturityCurrent": {
              "type": "string",
              "description": "The current technology maturity (technology readiness level) of the project."
            },
            "technologyMaturityEnd": {
              "type": "string",
              "description": "The estimated technology maturity (technology readiness level) of the project at its end."
            },
            "primaryTas": {
              "type": "array",
              "description": "List of primary technolgy areas (from the NASA Technology Roadmap) associated with the project.",
              "items": {
                "$ref": "#/definitions/technologyArea"
              }
            },
            "additionalTas": {
              "type": "array",
              "description": "List of additional and cross-cutting technology areas associated with the project.",
              "items": {
                "$ref": "#/definitions/technologyArea"
              }
            },
            "destinations": {
              "type": "array",
              "description": "List of the NASA destinations the technology on this project helps achieve.",
              "items": {
                "$ref": "#/definitions/destination"
              }
            },
            "supportedMissionType": {
              "type": "string",
              "description": "The supported mission type (Projected Mission, Planned Mission, or Pull)."
            },
            "responsibleProgram": {
              "type": "string",
              "description": "The NASA program that is the primary funding source for this project."
            },
            "responsibleMissionDirectorateOrOffice": {
              "type": "string",
              "description": "The NASA Mission Directorate or Office that is the primary funding source for this project."
            },
            "leadOrganization": {
              "type": "object",
              "description": "The lead NASA Center / Facility or external organization that is conducting the majority of the work.",
              "$ref": "#/definitions/organization"
            },
            "supportingOrganizations": {
              "type": "array",
              "description": "The supporting organizations for this project that are conducting work on the project.",
              "items": {
                "$ref": "#/definitions/organization"
              }
            },
            "coFundingPartners": {
              "type": "array",
              "description": "Other government agencies, NASA Mission Directoratres, universities, or commercial entities performing contributing resources to this project.",
              "items": {
                "$ref": "#/definitions/organization"
              }
            },
            "workLocations": {
              "type": "array",
              "description": "States and territories with people performing work on this project.",
              "items": {
                "$ref": "#/definitions/workLocation"
              }
            },
            "programDirectors": {
              "type": "array",
              "description": "Names of the Program Directors responsible for the management of this project.",
              "items": {
                "$ref": "#/definitions/programDirector"
              }
            },
            "programManagers": {
              "type": "array",
              "description": "Names of the Program Managers responsible for the management of this project.",
              "items": {
                "$ref": "#/definitions/programManager"
              }
            },
            "projectManagers": {
              "type": "array",
              "description": "Names of the Project Managers responsible for the management of this project.",
              "items": {
                "$ref": "#/definitions/projectManager"
              }
            },
            "principalInvestigators": {
              "type": "array",
              "description": "Names of the Principal Investigators who are the lead scientists or engineers for this project.",
              "items": {
                "$ref": "#/definitions/principalInvestigator"
              }
            },
            "coInvestigators": {
              "type": "array",
              "description": "Names of the additional investigators who are scientists or engineers for this project.",
              "items": {
                "$ref": "#/definitions/coInvestigator"
              }
            },
            "website": {
              "type": "string",
              "description": "The URL for the associated website."
            },
            "libraryItems": {
              "type": "array",
              "description": "List of library items in the project library.",
              "items": {
                "$ref": "#/definitions/libraryItem"
              }
            },
            "closeoutSummary": {
              "type": "string",
              "description": "The project closeout summary excerpt."
            },
            "closeoutDocuments": {
              "type": "array",
              "description": "List of document files or links to the project final report closeout documentation.",
              "items": {
                "$ref": "#/definitions/closeoutDocument"
              }
            }
          }
        },
        "libraryItem": {
          "type": "object",
          "description": "Represents a specific library item that is part of this project.",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "Unique identifier for the library item."
            },
            "title": {
              "type": "string",
              "description": "Title of the library item"
            },
            "type": {
              "type": "string",
              "description": "Identifies the type of library item, e.g. Image"
            },
            "files": {
              "type": "array",
              "description": "List of files associated with the library item.",
              "items": {
                "$ref": "#/definitions/file"
              }
            },
            "description": {
              "type": "string",
              "description": "Description of the library item."
            },
            "externalUrl": {
              "type": "string",
              "description": "External URL for the library item."
            },
            "completionDate": {
              "type": "string",
              "description": "Date the library item was completed."
            },
            "publishedBy": {
              "type": "string",
              "description": "Publisher of the library item."
            },
            "publishedDate": {
              "type": "string",
              "description": "Date the library item was published."
            }
          }
        },
        "file": {
          "type": "object",
          "description": "Represents a file associated with a library item.",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "Unique identifier for the file."
            },
            "url": {
              "type": "string",
              "description": "The TechPort URL at which the file is accessible for download."
            },
            "size": {
              "type": "string",
              "description": "The size of the file in bytes."
            }
          }
        },
        "destination": {
          "type": "string",
          "description": "Represents a destination towards which the technology on this project helps advance the Agency goals."
        },
        "closeoutDocument": {
          "type": "string",
          "description": "Represents a file hyperlink or external hyperlink to a project closeout final report artifact."
        },
        "technologyArea": {
          "type": "object",
          "description": "The Technology Area for a given technology that corresponds to the NASA Technology Roadmap.",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64",
              "description": "Unique identifier for the Technology Area."
            },
            "code": {
              "type": "string",
              "description": "The code identifier for the Technology Area."
            },
            "name": {
              "type": "string",
              "description": "The name of the Technology Area."
            }
          }
        },
        "organization": {
          "type": "object",
          "description": "A NASA center/facility associated with an project.",
          "properties": {
            "name": {
              "type": "string",
              "description": "The name of the organization."
            },
            "acronym": {
              "type": "string",
              "description": "The acronym of the organization."
            },
            "city": {
              "type": "string",
              "description": "The city in which the organization is located."
            },
            "state": {
              "type": "string",
              "description": "The state in which the organization is located."
            }
          }
        },
        "workLocation": {
          "type": "string",
          "description": "A state/territory where work on this project is performed."
        },
        "programDirector": {
          "type": "string",
          "description": "The name of a Program Director responsible for management of an project."
        },
        "programManager": {
          "type": "string",
          "description": "The name of a Program Manager responsible for management of an project."
        },
        "projectManager": {
          "type": "string",
          "description": "The name of a Project Manager responsible for management of an project."
        },
        "principalInvestigator": {
          "type": "string",
          "description": "The name of the Principal Investigator who is a lead scientist or engineer for an project."
        },
        "coInvestigator": {
          "type": "string",
          "description": "The name of an investigator who is a scientist or engineer for an project."
        }
      }
    }
  },
  {
    "id": "1",
    "name": "TLE API",
    "summary": "Two line element data for earth-orbiting objects at a given point in time",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"tle\">TLE API</h1> <p>The TLE API provides up to date two line element set records, the data is updated daily from <a target=\"_blank\" href=\"https://celestrak.com\">CelesTrak</a> and served in JSON format. A two-line element set (TLE) is a data format encoding a list of orbital elements of an Earth-orbiting object for a given point in time. For more information on TLE data format visit <a target=\"_blank\" href=\"https://spaceflight.nasa.gov/realdata/sightings/SSapplications/Post/JavaSSOP/SSOP_Help/tle_def.html\">Definition of Two-line Element Set Coordinate System</a>. </p><p>Further documentation and response examples are available at: <a target=\"_blank\" href=\"http://data.ivanstanojevic.me/api/tle/docs\">http://data.ivanstanojevic.me/api/tle/docs</a></p><h3 id=\"tle-http-request\">Available endpoints</h3> <p> The TLE API consists of two endpoints <code class=\"prettyprint\"> GET http://data.ivanstanojevic.me </code> </p><table> <thead> <tr> <th>Endpoint</th> <th>Description</th> </tr></thead> <tbody> <tr> <th>GET /api/tle?search={q}</th> <th>Performing a search by satellite name</th> </tr><tr> <th>GET /api/tle/{q}</th> <th>Retrieving a single TLE record where query is satellite number</th> </tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p> <a target=\"_blank\" href=\"http://data.ivanstanojevic.me/api/tle\"> <code class=\"prettyprint\"> http://data.ivanstanojevic.me/api/tle </code> </a> </p><div style=\"height: 100px;\"></div>"
  },
  {
    "id": "1",
    "name": "Vesta/Moon/Mars Trek WMTS",
    "summary": "A Web Map Tile Service for the Vesta, Moon, and Mars Trek imagery projects",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"trek\">Vesta/Moon/Mars Trek WMTS</h1> <p> Here we have the collection of APIs that power the awesome <a href=\"http://marstrek.jpl.nasa.gov/\">Mars Trek</a> and <a href=\"http://vestatrek.jpl.nasa.gov/\">Vesta Trek</a> NASA web-based portals for exploration and have newly added <a href=\"https://moontrek.jpl.nasa.gov/\">Moon Trek</a>. These APIs can be leveraged using your favorite OGC RESTFul Web Map and Tile Service (WMTS) client. Please visit <a href=\"http://www.opengeospatial.org/standards/wmts\">http://www.opengeospatial.org/standards/wmts</a> for more information about WMTS. To help you get started, we've included some demos using the ESRI javascript client library for <a href=\"https://api.nasa.gov/mars-wmts/catalog/\">Mars</a> and <a href=\"https://api.nasa.gov/vesta-wmts/catalog/\">Vesta</a>. </p><p> This API is maintained and provided by the NASA <a href=\"http://sservi.nasa.gov/\">Solar System Exploration Research Virtual Institute (SSERVI)</a> and the <a href=\"mailto:MarsTrek@jpl.nasa.gov\">Jet Propulsion Lab (JPL) Trek team</a>. </p><aside class=\"success\"> Please note that the Vesta and Mars APIS are accessable via <a href=\"https://api.nasa.gov/api.html#trek\">api.nasa.gov</a> and the Moon APIS are available via <a href=\"https://moontrek.jpl.nasa.gov/TrekAPI/\">https://moontrek.jpl.nasa.gov/TrekAPI/</a> </aside> <h3 id=\"query-parameters\">Available Moon Mosaics</h3> <p> Here is basic information about how to request image tiles from a RESTful WMTS service. The basic URL template is as follows: </p><p><code>http://{WMTS endpoint}/1.0.0/{Style}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}.png</code></p><p> * Some services are .png and some are .jpg. Please look at WMTS GetCapabilities ResourcesURL element to find out what extension to use. In order to fill in the variables in the template URL, you need to parse the WMTS GetCapabilities XML. GetCapabilities XML can be found for each product below. From the WMTS GetCapabilities XML, find ows:Identifier element inside Style element. This value replaces{Style}. The ows:Identifier element inside TileMatrixSet element replaces{TileMatrixSet}. Inside the TileMatrixSet element in WMTS Capabilities, there is a list of TileMatrix. This is the Zoom level. Replace{TileMatrix}with the ows:Identifier found in TileMatrix element.{TileRow}and{TileCol}are row and col index for tiles. The first zoom level for a product that covers the entire globe will have two columns and one row so that the URLs are as follows: </p><p><code>http://moontrek.jpl.nasa.gov/trektiles/Moon/EQ/LRO_WAC_Mosaic_Global_303ppd_v02/1.0.0/default/default028mm/0/0/0.jpg <br/> http://moontrek.jpl.nasa.gov/trektiles/Moon/EQ/LRO_WAC_Mosaic_Global_303ppd_v02/1.0.0/default/default028mm/0/0/1.jpg</code> </p><p> The second zoom level has four columns and two rows and so on. If the image tile is missing, that means there is no data coverage in that area. You can also use coverage Bbox to calculate the coverage before requesting image tiles. </p><p> For a complete listing of the Moon's Equirectangular, North Polar and South Polar based Services, please see <a href=\"https://moontrek.jpl.nasa.gov/TrekAPI/\">https://moontrek.jpl.nasa.gov/TrekAPI/</a> </p><h3 id=\"query-parameters\">Available Mars Mosaics</h3> <table> <thead> <tr> <th>Mosaic</th> <th>Preview</th> <th>WMTS Capabilities</th> </tr></thead> <tbody> <tr> <td>Viking Color Mosaic - Global Map</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_Viking_MDIM21_ClrMosaic_global_232m.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_Viking_MDIM21_ClrMosaic_global_232m/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>CTX Mosaic - Curiosity Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/curiosity_ctx_mosaic.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/curiosity_ctx_mosaic/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HiRISE Mosaic - Curiosity Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/curiosity_hirise_mosaic.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/curiosity_hirise_mosaic/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HiRISE Mosaic - ESP_040776_2115</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/ESP_040776_2115_RED_A_01_ORTHO.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/ESP_040776_2115_RED_A_01_ORTHO/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HiRISE Mosaic - ESP_042252_1930_RED_B_01_ORTHO</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/ESP_042252_1930_RED_B_01_ORTHO.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/ESP_042252_1930_RED_B_01_ORTHO/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HiRISE Mosaic - ESP_042647_1760_RED_B_01_ORTHO</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/ESP_042647_1760_RED_B_01_ORTHO.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/ESP_042647_1760_RED_B_01_ORTHO/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HRSC Mosaic - Martian East</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/HRSC_Martian_east.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/HRSC_Martian_east/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HRSC Color Mosaic - MC11</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/MC11E_HRMOSCO_COL.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/MC11E_HRMOSCO_COL/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HRSC Mosaic - MC11</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/MC11E_HRMOSND_ND5.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/MC11E_HRMOSND_ND5/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HiRISE Mosaic - Spirit Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/spirit_hirise_mosaic.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/spirit_hirise_mosaic/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HiRISE Mosaic - Opportunity Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/opportunity_hirise_mosaic.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/opportunity_hirise_mosaic/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><!-- <tr> <td>Rover Path - Opportunity Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/arcgis/rest/services/opportunity_path/MapServer/WMTS.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/arcgis/rest/services/opportunity_path/MapServer/WMTS/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr>--> <tr> <td>HiRISE Mosaic - Phoenix Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/phoenix_hirise_mosaic.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/phoenix_hirise_mosaic/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HiRISE Mosaic - Sojourner Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/sojourner_hirise_mosaic.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/sojourner_hirise_mosaic/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Albedo Mosaic - Thermal Emission Spectrometer</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MGS_TES_Albedo_mosaic_global_7410m.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MGS_TES_Albedo_mosaic_global_7410m/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>DEM Grayscale - Mars Orbiter Laser Altimeter</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MGS_MOLA_DEM_mosaic_global_463m_8.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MGS_MOLA_DEM_mosaic_global_463m_8/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Color Hillshade - Mars Orbiter Laser Altimeter</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MGS_MOLA_ClrShade_merge_global_463m.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MGS_MOLA_ClrShade_merge_global_463m/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Experience Curiosity - Curiosity Landing Site</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/mars_pahrump_patch_8k_256m.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/mars_pahrump_patch_8k_256m/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Atlas Mosaic - Mars Orbiter Camera</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/msss_atlas_simp_clon.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/msss_atlas_simp_clon/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Infrared Night - Thermal Emission Imaging System</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MO_THEMIS-IR-Night_mosaic_60N60S_100m_v14_clon0_ly.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MO_THEMIS-IR-Night_mosaic_60N60S_100m_v14_clon0_ly/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Infrared Day - Thermal Emission Imaging System</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MO_THEMIS-IR-Day_mosaic_global_100m_v12_clon0_ly.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/Mars_MO_THEMIS-IR-Day_mosaic_global_100m_v12_clon0_ly/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HRSC Mosaic - Mawrth Vallis</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/hrsc_mawrth_vallis.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/hrsc_mawrth_vallis/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>HRSC Color Mosaic - Mawrth Vallis</td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/hrsc_mawrth_vallis_color.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/mars-wmts/catalog/hrsc_mawrth_vallis_color/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr></tbody> </table> <h3 id=\"query-parameters\">Available Vesta Mosaics</h3> <table> <thead> <tr> <th>Mosaic</th> <th>Preview</th> <th>WMTS Capabilities</th> </tr></thead> <tbody> <tr> <td>global_LAMO</td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/global_LAMO.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/global_LAMO/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Vesta_Dawn_HAMO_DTM_DLR_Global_48ppd 8Bit</td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_DTM_DLR_Global_48ppd8.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_DTM_DLR_Global_48ppd8/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <tr> <td>Vesta_Dawn_Geology_Global_32ppd_IAU</td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_Geology_Global_32ppd_IAU.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_Geology_Global_32ppd_IAU/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Vesta_Dawn_HAMO_ClrShade_DLR_Global_48ppd_IAU</td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_ClrShade_DLR_Global_48ppd_IAU.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_ClrShade_DLR_Global_48ppd_IAU/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Vesta_Dawn_HAMO_MinRatio_DLR_global_74ppd_IAU</td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_MinRatio_DLR_global_74ppd_IAU.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_MinRatio_DLR_global_74ppd_IAU/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Vesta_Dawn_HAMO_Shade_DLR_Global_48ppd_IAU</td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_Shade_DLR_Global_48ppd_IAU.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_Shade_DLR_Global_48ppd_IAU/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr><tr> <td>Vesta_Dawn_HAMO_TrueClr_DLR_global_74ppd</td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_TrueClr_DLR_global_74ppd.html\">Preview</a></td><td><a href=\"https://api.nasa.gov/vesta-wmts/catalog/Vesta_Dawn_HAMO_TrueClr_DLR_global_74ppd/1.0.0/WMTSCapabilities.xml\">WMTS Capabilities</a></td></tr></tbody> </table> <div style=\"height: 100px;\"></div>"
  }
]
