[
  {
    "id": "1",
    "name": "APOD",
    "summary": "Astronomy Picture of the Day",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"apod\">APOD</h1><p>One of the most popular websites at NASA is the <a href=\"http://apod.nasa.gov/apod/astropix.html\">Astronomy Picture of the Day</a>. In fact, this website is one of the <a href=\"https://analytics.usa.gov\">most popular websites</a> across all federal agencies. It has the popular appeal of a Justin Bieber video. This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the <code class=\"prettyprint\">concept_tags</code> parameter is set to <code class=\"prettyprint\">True</code>, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery.</p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/apod.jpg\"/></p><h3 id=\"http-request\">HTTP Request</h3><p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/apod </code></p><p><b>concept_tags are now disabled in this service. Also, an optional return parameter <i>copyright</i> is returned if the image is not public domain.</b></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>date</td><td>YYYY-MM-DD</td><td><em>today</em></td><td>The date of the APOD image to retrieve</td></tr><!-- <tr> <td><del>concept_tags</del></td><td>bool</td><td>False</td><td>Return an ordered dictionary of concepts from the APOD explanation</td></tr>--> <tr> <td>hd</td><td>bool</td><td>False</td><td>Retrieve the URL for the high resolution image</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p><a href=\"https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY\"> <code class=\"prettyprint\">https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY </code></a></p>",
    "configurations": {
      "overview": {
        "poc_name": "",
        "poc_email": "",
        "api_name": "",
        "backend_protocol": "",
        "server": "",
        "frontend_host": "",
        "backend_host": "",
        "matching_url_prefixes": [
          {
            "frontend_prefix": "",
            "backend_prefix": ""
          }
        ]
      },
      "global_request_settings": {
        "append_query_string_parameters": "",
        "set_request_headers": "",
        "http_basic_authentication": "",
        "https_requirements": "",
        "api_key_checks": "",
        "api_key_verification_requirements": "",
        "required_roles": "",
        "rate_limit": "",
        "default_response_headers": "",
        "override_response_headers": ""
      },
      "sub_url_request_settings": [
        {
          "http_method": "",
          "regex": "",
          "https_requirements": "",
          "api_key_checks": "",
          "api_key_verification_requirements": "",
          "required_roles": "",
          "override_required_roles_from_global_request_settings": "",
          "rate_limit": "",
          "default_response_headers": "",
          "override_response_headers": ""
        }
      ],
      "advanced_requests_rewriting": [
        {
          "matcher_type": "",
          "http_method": "",
          "frontend_matcher": "",
          "backend_replacement": ""
        }
      ],
      "advanced_settings": {
        "balance_algorithm": "",
        "json_template": "",
        "xml_template": "",
        "csv_template": "",
        "common_all_errors": "",
        "api_key_missing": "",
        "api_key_invalid": "",
        "api_key_disabled": "",
        "api_key_unauthorized": "",
        "over_rate_limit": "",
        "https_required": ""
      }
    },
    "swagger_data": {
      "swagger": "2.0",
      "info": {
        "description": "This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications. In addition, if the concept_tags parameter is set to True, then keywords derived from the image explanation are returned. These keywords could be used as auto-generated hashtags for twitter or instagram feeds; but generally help with discoverability of relevant imagery",
        "version": "1.0.0",
        "title": "APOD",
        "termsOfService": "",
        "contact": {
          "email": "evan.t.yates@nasa.gov"
        },
        "license": {
          "name": "Apache 2.0",
          "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
      },
      "host": "api.nasa.gov",
      "basePath": "/planetary",
      "tags": [
        {
          "name": "request tag",
          "description": "An example tag",
          "externalDocs": {
            "description": "Here's a link",
            "url": "https://example.com"
          }
        }
      ],
      "schemes": [
        "https",
        "http"
      ],
      "paths": {
        "/apod": {
          "get": {
            "tags": [
              "request tag"
            ],
            "summary": "Returns images",
            "descriptions": "Returns the picture of the day",
            "produces": [
              "application/json"
            ],
            "security": [
              {
                "api_key": []
              }
            ],
            "parameters": [
              {
                "name": "date",
                "in": "query",
                "description": "The date of the APOD image to retrieve",
                "required": false,
                "type": "string",
                "schema": "date"
              },
              {
                "name": "hd",
                "in": "query",
                "description": "Retrieve the URL for the high resolution image",
                "required": false,
                "type": "boolean"
              }
            ],
            "responses": {
              "200": {
                "description": "successful operation",
                "schema": {
                  "type": "array",
                  "items": {
                    "thing": "ok"
                  }
                }
              },
              "400": {
                "description": "Date must be between Jun 16, 1995 and Mar 28, 2019."
              }
            }
          }
        }
      },
      "securityDefinitions": {
        "api_key": {
          "type": "apiKey",
          "name": "api_key",
          "in": "query"
        }
      }
    }
  },
  {
    "id": "1",
    "name": "Asteroids NeoWs",
    "summary": "Near Earth Object Web Service",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"NeoWS\">Asteroids - NeoWs</h1><p> NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a user can: search for Asteroids based on their closest approach date to Earth, lookup a specific Asteroid with its NASA JPL small body id, as well as browse the overall data-set.</p><p> Data-set: All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/).</p><p> This API is maintained by <a href=\"https://github.com/SpaceRocks/\">SpaceRocks Team: David Greenfield, Arezu Sarvestani, Jason English and Peter Baunach</a>.</p><h2 id=\"neows-feed\">Neo - Feed</h2><p> Retrieve a list of Asteroids based on their closest approach date to Earth. <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/feed?start_date=START_DATE&end_date=END_DATE&api_key=API_KEY </code></p><h3 id=\"query-parameters\">Query Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>start_date</td><td>YYYY-MM-DD</td><td>none</td><td>Starting date for asteroid search</td></tr><tr> <td>end_date</td><td>YYYY-MM-DD</td><td>7 days after start_date</td><td>Ending date for asteroid search</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&amp;end_date=2015-09-08&amp;api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-lookup\">Neo - Lookup</h2><p> Lookup a specific Asteroid based on its <a href=\"http://ssd.jpl.nasa.gov/sbdb_query.cgi\">NASA JPL small body (SPK-ID) ID</a> <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/ <Asteroid_ID> </code></p><h3 id=\"query-parameters\">Path Parameters</h3><table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <th>asteroid_id</th> <th>int</th> <th>none</th> <th>Asteroid SPK-ID correlates to the NASA JPL small body</th> </tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody></table><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY </code> </a></p><h2 id=\"neows-browse\">Neo - Browse</h2><p> Browse the overall Asteroid data-set <code class=\"prettyprint\"> GET https://api.nasa.gov/neo/rest/v1/neo/browse/ </code></p><h3 id=\"example-query\">Example query</h3><p> <a href=\"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=DEMO_KEY </code> </a></p><!--<h2 id=\"neows-swagger\">Neo - Live Documents</h2><iframe class=\"\" id=\"\" src=\"https://api.nasa.gov/neo/?api_key=DEMO_KEY\" style=\"border: 1px solid rgb(170, 170, 170); width: 100%; min-height: 725px; max-height: 725px; height: 30px;\"></iframe>-->"
  },
  {
    "id": "1",
    "name": "DONKI",
    "summary": "Space Weather Database Of Notifications, Knowledge, Information",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"DONKI\" style=\"margin-top: 0px;\">DONKI</h1> <p>The <a href=\"https://ccmc.gsfc.nasa.gov/donki/\">Space Weather Database Of Notifications, Knowledge, Information (DONKI)</a> is a comprehensive on-line tool for space weather forecasters, scientists, and the general space science community. DONKI provides chronicles the daily interpretations of space weather observations, analysis, models, forecasts, and notifications provided by the Space Weather Research Center (SWRC), comprehensive knowledge-base search functionality to support anomaly resolution and space science research, intelligent linkages, relationships, cause-and-effects between space weather activities and comprehensive webservice API access to information stored in DONKI. </p><p>This API consists of the following component services:</p><table> <thead> <tr> <th style=\"text-align: left\">API</th> <th style=\"text-align: left\">Example</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCME\">Coronal Mass Ejection (CME)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiGST\">Geomagnetic Storm (GST)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiIPS\">Interplanetary Shock (IPS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiFLR\">Solar Flare (FLR)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiSEP\">Solar Energetic Particle (SEP)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiMPC\">Magnetopause Crossing (MPC)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiRBE\">Radiation Belt Enhancement (RBE)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiHSS\">Hight Speed Stream (HSS)</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiWSA\">WSA+EnlilSimulation</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY</a> </td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"#donkiNotifications\">Notifications</a></td><td style=\"text-align: left\"><a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </td></tr></tbody> </table> <h2 id=\"donkiCME\">Coronal Mass Ejection (CME)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CME?startDate=2017-01-03&endDate=2017-01-03&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CME?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiCMEAnalysis\">Coronal Mass Ejection (CME) Analysis </h2> <p> <b>startDate:</b> default 30 days prior to current UTC time<br/> <b>endDate:</b> default to current UTC time<br/> <b>mostAccurateOnly:</b> default is set to true<br/> <b>completeEntryOnly:</b> default is set to true<br/> <b>speed (lower limit):</b> default is set to 0<br/> <b>halfAngle (lower limit):</b> default is set to 0<br/> <b>catalog:</b> default is set to ALL (choices: ALL, SWRC_CATALOG, JANG_ET_AL_CATALOG)<br/> <b>keyword:</b> default is set to NONE (example choices: swpc_annex)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/CMEAnalysis?startDate=2016-09-01&endDate=2016-09-30&mostAccurateOnly=true&speed=500&halfAngle=30&catalog=ALL&api_key=DEMO_KEY</a> </p><h2 id=\"donkiGST\">Geomagnetic Storm (GST) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/GST?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/GST?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiIPS\">Interplanetary Shock (IPS) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <b>location:</b> default to ALL (choices: Earth, MESSENGER, STEREO A, STEREO B)<br/> <b>catalog:</b> default to ALL (choices: SWRC_CATALOG, WINSLOW_MESSENGER_ICME_CATALOG)<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/IPS?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/IPS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&location=LOCATION&catalog=CATALOG&api_key=DEMO_KEY</a> </p><h2 id=\"donkiFLR\">Solar Flare (FLR) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/FLR?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/FLR?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY </a> </p><h2 id=\"donkiSEP\">Solar Energetic Particle (SEP) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/SEP?startDate=2016-01-01&endDate=2016-01-30&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/SEP?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiMPC\">Magnetopause Crossing (MPC) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/MPC?startDate=2016-01-01&endDate=2016-03-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/MPC?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiRBE\">Radiation Belt Enhancement (RBE) </h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/RBE?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/RBE?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiHSS\">Hight Speed Stream (HSS)</h2> <p> <b>startDate:</b> default to 30 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/HSS?startDate=2016-01-01&endDate=2016-01-31&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/HSS?startDate=yyyy-MM-dd&endDate=yyyy-MM-dd&api_key=DEMO_KEY</a> </p><h2 id=\"donkiWSA\">WSA+EnlilSimulation </h2> <p> <b>startDate:</b> default to 7 days prior to current UTC date<br/> <b>endDate:</b> default to current UTC date<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2016-01-06&endDate=2016-01-06&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/WSAEnlilSimulations?startDate=2011-09-19&endDate=2011-09-20&api_key=DEMO_KEY</a> </p><h2 id=\"donkiNotifications\">Notifications</h2> <p> <b>parameters:</b><br/> 'startDate' and 'endDate' are in format 'yyyy-MM-dd' UT<br/> 'type' could be: all, FLR, SEP, CME, IPS, MPC, GST, RBE, report<br/> <br/><b>Note:</b><br/> 'startDate' if left out would default to 7 days prior to the current UT date<br/> 'endDate' if left out would default to current UT date<br/> 'type' if left out would default to 'all'<br/> The request date range is limit to 30 days. If the request range is greater than 30 days, it would limit your request range to (endDate-30) to endDate.<br/> <br/><b>Example:</b><br/> <a href=\"https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY\"> https://api.nasa.gov/DONKI/notifications?startDate=2014-05-01&endDate=2014-05-08&type=all&api_key=DEMO_KEY</a> </p>"
  },
  {
    "id": "1",
    "name": "Earth",
    "summary": "Unlock the significant public investment in earth observation data",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": " <h1 id=\"earth\">Earth</h1> <p>NOTE: THIS API IS CURRENTLY ONLY WORKING FOR A LIMITED DATE RANGE. WE ARE ATTEMPTING TO GET IT FIXED WORKING WITH API OWNERS. MORE INFORMATION <a href='https://github.com/nasa/api-docs/issues/102'>HERE</a>. A recent industry <a href=\"http://www.fgdc.gov/ngac/meetings/december-2014/ngac-landsat-economic-value-paper-2014-update.pdf\">report</a> estimates that total annual value of $2.19 billion, far exceeding the multi-year total cost of building, launching, and managing Landsat satellites and sensors. The value is derived from consumer <em>use</em> of the data. There is no inherent value in idle data. The objective of this endpoint is to unlock the significant public investment in earth observation data. This open and documented API should dramatically reduce the transaction costs to engage with the imagery.The API is powered by Google Earth Engine, and currently only supports pan-sharpened Landsat 8 imagery. </p><p><strong>Example image:</strong></p><p><img src=\"assets/img/general/earth.png\"/></p><p>Imagine the possibilities associated with this imagery, like <a href=\"http://www.globalforestwatch.org\">monitoring deforestation at 15-meter resolution</a> or assessing the damage from natural disasters. If you discover any cool applications, <a href=\"mailto:nasa-api@lists.arc.nasa.gov\">please let us know</a> so that we can showcase them on <a href=\"//open.nasa.gov\">open.nasa.gov</a>. </p><h2 id=\"imagery\">Imagery</h2> <p>This endpoint retrieves the Landsat 8 image for the supplied location and date. The response will include the date and URL to the image that is closest to the supplied date. The requested resource may not be available for the <em>exact</em> date in the request. You can retrieve a list of available resources through the <a href=\"/api.html#assets\">assets endpoint</a>. </p><p>The cloud score is an optional calculation that returns the percentage of the queried image that is covered by clouds. If <code class=\"prettyprint\">False</code> is supplied to the <code class=\"prettyprint\">cloud_score</code> parameter, then no keypair is returned. If <code class=\"prettyprint\">True</code> is supplied, then a keypair will always be returned, even if the backend algorithm is not able to calculate a score. Note that this is a rough calculation, mainly used to filter out exceedingly cloudy images. </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/imagery </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>dim</td><td>float</td><td>0.025</td><td>width and height of image in degrees</td></tr><tr> <td>date</td><td>YYYY-MM-DD</td><td><em>today</em></td><td> date of image; if not supplied, then the most recent image (i.e., closest to today) is returned </td></tr><tr> <td>cloud_score</td><td>bool</td><td>False</td><td>calculate the percentage of the image covered by clouds</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/imagery?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;cloud_score=True&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/imagery?lon=100.75&amp;lat=1.5&amp;date=2014-02-01&amp;cloud_score=True&amp;api_key=DEMO_KEY</code></a></p><aside class=\"notice\"> Note that the returned object may not match the supplied date exactly. Instead, the image closest to the supplied date is returned. </aside> <h2 id=\"assets\">Assets</h2> <p>This endpoint retrieves the date-times and asset names for available imagery for a supplied location. The satellite passes over each point on earth roughly once every sixteen days. <a href=\"//earthobservatory.nasa.gov/Features/LandsatBigData/\">This is an amazing visualization</a> of the acquisition pattern for Landsat 8 imagery. The objective of this endpoint is primarily to support the use of the <a href=\"/api.html#imagery\">imagery endpoint</a>. </p><h3 id=\"http-request\">HTTP Request</h3> <p><code class=\"prettyprint\"> GET https://api.nasa.gov/planetary/earth/assets </code> </p><h3 id=\"query-parameters\">Query Parameters</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>lat</td><td>float</td><td>n/a</td><td>Latitude</td></tr><tr> <td>lon</td><td>float</td><td>n/a</td><td>Longitude</td></tr><tr> <td>begin</td><td>YYYY-MM-DD</td><td>n/a</td><td>beginning of date range</td></tr><tr> <td>end</td><td>YYYY-MM-DD</td><td><em>today</em></td><td>end of date range</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>api.nasa.gov key for expanded usage</td></tr></tbody> </table> <h3 id=\"example-query\">Example query</h3> <p><a href=\"https://api.nasa.gov/planetary/earth/assets?lon=100.75&amp;lat=1.5&amp;begin=2014-02-01&amp;api_key=DEMO_KEY\"><code class=\"prettyprint\">https://api.nasa.gov/planetary/earth/assets?lon=100.75&amp;lat=1.5&amp;begin=2014-02-01&amp;api_key=DEMO_KEY</code></a></p>"
  },
  {
    "id": "1",
    "name": "EONET",
    "summary": "The Earth Observatory Natural Event Tracker",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"EONET\">EONET</h1> <p> More and more NASA imagery is being made available via web services (WMS, WMTS, etc.) and a significant percentage of it is being produced and published in near real time (NRT=within a few hours after acquisition). This ability means that NASA imagery can be used more routinely to examine current natural events as they happen. </p><p> Using client applications, such as <a href=\"https://worldview.earthdata.nasa.gov/\">NASA EOSDIS’ Worldview</a>, users can browse the entire globe daily and look for natural events as they occur. Storms are regularly spotted in the tropics, dust storms over deserts, forest fires in the summers. These events are occurring constantly and NASA NRT imagery can represent them all using a variety of different data parameters. However, the user’s experience is tailored, and therefore restricted, by the client application. What if there was an API that provided a curated list of natural events and provided a way to link those events to event-related NRT image layers? Enter EONET. </p><p> The Earth Observatory Natural Event Tracker (EONET) is a prototype web service with the goal of: </p><p> providing a curated source of continuously updated natural event metadata; providing a service that links those natural events to thematically-related web service-enabled image sources (e.g., via WMS, WMTS, etc.). Please see our <a href=\"http://eonet.sci.gsfc.nasa.gov/docs/v2.1\">API documentation</a> to learn more about how to use the EONET web services. </p><p> Development of EONET began in 2015 and has been supported by <a href=\"http://earthobservatory.nasa.gov/\">NASA’s Earth Observatory</a> and <a href=\"https://earthdata.nasa.gov/about/esdis-project\">Earth Science Data and Information System (ESDIS) Project</a>. </p>"
  },
  {
    "id": "1",
    "name": "EPIC",
    "summary": "Earth Polychromatic Imaging Camera",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"EPIC\">EPIC</h1> <p> The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides full disc imagery of the Earth and captures unique perspectives of certain astronomical events such as lunar transits using a 2048x2048 pixel CCD (Charge Coupled Device) detector coupled to a 30-cm aperture Cassegrain telescope. </p><p> Image metadata and key information are provided by the JSON API and can be requested by date and for the most recent available date. A listing of all available dates can also be retrieved via the API for more granular control. </p><p> Development of the EPIC API began in 2015, and is supported by the web development team for the <a href='http://atmospheres.gsfc.nasa.gov' target='_blank'>Laboratory for Atmospheres</a> in the Earth Sciences Division of the Goddard Space Flight Center. More information regarding the API and retrieval of the imagery for download can be found on the <a href='http://epic.gsfc.nasa.gov' target='_blank'>EPIC website</a>. </p><h3>Retrievable Metadata</h3> <p> The following information is available for every image in the collection: </p><ul> <li>Image [name]</li><li>Date</li><li>Caption</li><li>centroid_coordinates</li><li>dscovr_j2000_position</li><li>lunar_j2000_position</li><li>sun_j2000_position</li><li>attitude_quaternions</li></ul> <br><p><strong>Example image:</strong></p><p><img style='width:75%;' src=\"https://api.nasa.gov/EPIC/archive/natural/2015/06/13/png/epic_1b_20150613110250.png?api_key=DEMO_KEY\"/></p><h3 id=\"example-query\">Querying by Date(s)</h3> <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Default</th> <th>Description</th> </tr></thead> <tbody> <tr> <td>natural</td><td>string</td><td>Most Recent Natural Color</td><td>Metadata on the most recent date of natural color imagery.</td></tr><tr> <td>natural/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for natural color imagery available for a given date.</td></tr><tr> <td>natural/all</td><td>string</td><td>Dates for Natural Color</td><td>A listing of all dates with available natural color imagery.</td></tr><tr> <td>natural/available</td><td>string</td><td>Dates for Natural Color</td><td>Alternate listing of all dates with available natural color imagery.</td></tr><tr> <td>enhanced</td><td>string</td><td>Most Recent Enhanced Color</td><td>Metadata on the most recent date of enhanced color imagery.</td></tr><tr> <td>enhanced/date</td><td>YYYY-MM-DD</td><td>Most Recent Available</td><td>Metadata for enhanced color imagery for a given date.</td></tr><tr> <td>enhanced/all</td><td>string</td><td>Dates for Enhanced Imagery</td><td>A listing of all dates with available enhanced color imagery.</td></tr><tr> <td>enhanced/available</td><td>string</td><td>Dates for Enhanced Imagery</td><td>Alternate listing of all dates with available enhanced color imagery.</td></tr><tr> <td>api_key</td><td>string</td><td>DEMO_KEY</td><td>API key from api.nasa.gov for expanded usage.</td></tr></tbody> </table> <h3 id=\"example-query\">Example queries</h3> <p> <a href=\"https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/images?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/natural/date/2015-10-31?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/natural/date/2015-10-31?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/api/enhanced/all?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/api/enhanced/all?api_key=DEMO_KEY </code> </a> <br><a href=\"https://api.nasa.gov/EPIC/archive/enhanced/2016/12/04/png/epic_RBG_20161204003633.png?api_key=DEMO_KEY\"> <code class=\"prettyprint\"> https://api.nasa.gov/EPIC/archive/enhanced/2016/12/04/png/epic_RBG_20161204003633.png?api_key=DEMO_KEY </code> </a> </p><p> More examples and usage tips can be found on the <a href='https://epic.gsfc.nasa.gov/about/api' target='_blank'>EPIC API Documentation Page</a>. </p><p>&nbsp;</p>"
  },
  {
    "id": "1",
    "name": "Exoplanet",
    "summary": "Programmatic access to NASA's Exoplanet Archive database",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<h1 id=\"exoPlanet\" style=\"margin-top: 0px;\">Exoplanet Archive</h1> <h2 id=\"exoPlanetIntro\">Introduction</h2> <p>The Exoplanet Archive API allows programatic access to <a href=\"https://exoplanetarchive.ipac.caltech.edu/index.html\">NASA's Exoplanet Archive</a> database. This API contains a ton of options so to get started please visit <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html\">this page</a> for introductory materials. To see <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/data.html\">what data</a> is available in this API <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#data\">visit here</a> and also be sure to check out <a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html#troubleshoot\">best-practices and troubleshooting</a> in case you get stuck. Happy planet hunting! </p><p><img src=\"https://exoplanetarchive.ipac.caltech.edu/images/news/news-image-generic-transit.jpg\"/></p><h2 id=\"exoPlanetExamples\">Example Queries</h2> <table> <thead> <tr> <th style=\"text-align: left\">Example API</th> <th style=\"text-align: left\">URL</th> </tr></thead> <tbody> <tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">Confirmed planets in the Kepler field </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_kepflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">Confirmed planets that transit their host stars </a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?&table=exoplanets&format=ipac&where=pl_tranflag=1</a></td></tr><tr valign=\"top\"> <td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">All planetary candidates smaller than 2Re with equilibrium temperatures between 180-303K</a></td><td style=\"text-align: left\"><a href=\"https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'\">https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=cumulative&where=koi_prad<2 and koi_teq>180 and koi_teq<303 and koi_disposition like 'CANDIDATE'</a></td></tr></tbody> </table> <p><a href=\"https://exoplanetarchive.ipac.caltech.edu/docs/API_queries.html\">More examples here.</a></p>"
  },
  {
    "id": "1",
    "name": "GeneLab",
    "summary": "Programmatic interface for GeneLab's public data repository website",
    "tags": [
      "tags1",
      "tags2",
      "tags3",
      "tags4"
    ],
    "html_template": "<html xmlns:v=\"urn:schemas-microsoft-com:vml\"xmlns:o=\"urn:schemas-microsoft-com:office:office\"xmlns:w=\"urn:schemas-microsoft-com:office:word\"xmlns:m=\"http://schemas.microsoft.com/office/2004/12/omml\"xmlns=\"http://www.w3.org/TR/REC-html40\"><head><meta http-equiv=Content-Type content=\"text/html; charset=unicode\"><meta name=ProgId content=Word.Document><meta name=Generator content=\"Microsoft Word 15\"><meta name=Originator content=\"Microsoft Word 15\"><link rel=File-Listhref=\"Integrated+Search+and+Data+RESTful+APIs-Dec-2019_files/filelist.xml\"><title>Integrated Search and Data RESTful APIs</title><!--[if gte mso 9]><xml> <o:DocumentProperties> <o:Author>Berrios, Daniel C. (ARC-SCR)[UNIVERSITIES SPACE RESEARCH ASSN]</o:Author> <o:LastAuthor>Berrios, Daniel C. (ARC-SCR)[UNIVERSITIES SPACE RESEARCH ASSN]</o:LastAuthor> <o:Revision>3</o:Revision> <o:TotalTime>1526</o:TotalTime> <o:Created>2019-12-11T22:49:00Z</o:Created> <o:LastSaved>2019-12-11T22:50:00Z</o:LastSaved> <o:Pages>1</o:Pages> <o:Words>5304</o:Words> <o:Characters>30237</o:Characters> <o:Company>HPES ACES</o:Company> <o:Lines>251</o:Lines> <o:Paragraphs>70</o:Paragraphs> <o:CharactersWithSpaces>35471</o:CharactersWithSpaces> <o:Version>16.00</o:Version> </o:DocumentProperties> <o:OfficeDocumentSettings> <o:AllowPNG/> </o:OfficeDocumentSettings></xml><![endif]--><link rel=themeData href=\"Integrated+Search+and+Data+RESTful+APIs-Dec-2019_files/themedata.thmx\"><link rel=colorSchemeMappinghref=\"Integrated+Search+and+Data+RESTful+APIs-Dec-2019_files/colorschememapping.xml\"><!--[if gte mso 9]><xml> <w:WordDocument> <w:SpellingState>Clean</w:SpellingState> <w:GrammarState>Clean</w:GrammarState> <w:TrackMoves>false</w:TrackMoves> <w:TrackFormatting/> <w:ValidateAgainstSchemas/> <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid> <w:IgnoreMixedContent>false</w:IgnoreMixedContent> <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText> <w:DoNotPromoteQF/> <w:LidThemeOther>EN-US</w:LidThemeOther> <w:LidThemeAsian>X-NONE</w:LidThemeAsian> <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript> <w:Compatibility> <w:BreakWrappedTables/> <w:SplitPgBreakAndParaMark/> </w:Compatibility> <w:DoNotOptimizeForBrowser/> <m:mathPr> <m:mathFont m:val=\"Cambria Math\"/> <m:brkBin m:val=\"before\"/> <m:brkBinSub m:val=\"&#45;-\"/> <m:smallFrac m:val=\"off\"/> <m:dispDef/> <m:lMargin m:val=\"0\"/> <m:rMargin m:val=\"0\"/> <m:defJc m:val=\"centerGroup\"/> <m:wrapIndent m:val=\"1440\"/> <m:intLim m:val=\"subSup\"/> <m:naryLim m:val=\"undOvr\"/> </m:mathPr></w:WordDocument></xml><![endif]--><!--[if gte mso 9]><xml> <w:LatentStyles DefLockedState=\"false\" DefUnhideWhenUsed=\"false\" DefSemiHidden=\"false\" DefQFormat=\"false\" DefPriority=\"99\" LatentStyleCount=\"371\"> <w:LsdException Locked=\"false\" Priority=\"0\" QFormat=\"true\" Name=\"Normal\"/> <w:LsdException Locked=\"false\" Priority=\"9\" QFormat=\"true\" Name=\"heading 1\"/> <w:LsdException Locked=\"false\" Priority=\"9\" QFormat=\"true\" Name=\"heading 2\"/> <w:LsdException Locked=\"false\" Priority=\"9\" QFormat=\"true\" Name=\"heading 3\"/> <w:LsdException Locked=\"false\" Priority=\"9\" QFormat=\"true\" Name=\"heading 4\"/> <w:LsdException Locked=\"false\" Priority=\"9\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"heading 5\"/> <w:LsdException Locked=\"false\" Priority=\"9\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"heading 6\"/> <w:LsdException Locked=\"false\" Priority=\"9\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"heading 7\"/> <w:LsdException Locked=\"false\" Priority=\"9\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"heading 8\"/> <w:LsdException Locked=\"false\" Priority=\"9\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"heading 9\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 5\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 6\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 7\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 8\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index 9\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 1\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 2\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 3\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 4\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 5\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 6\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 7\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 8\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toc 9\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Normal Indent\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"footnote text\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"annotation text\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"header\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"footer\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"index heading\"/> <w:LsdException Locked=\"false\" Priority=\"35\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"caption\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"table of figures\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"envelope address\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"envelope return\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"footnote reference\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"annotation reference\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"line number\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"page number\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"endnote reference\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"endnote text\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"table of authorities\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"macro\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"toa heading\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Bullet\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Number\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List 5\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Bullet 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Bullet 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Bullet 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Bullet 5\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Number 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Number 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Number 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Number 5\"/> <w:LsdException Locked=\"false\" Priority=\"10\" QFormat=\"true\" Name=\"Title\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Closing\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Signature\"/> <w:LsdException Locked=\"false\" Priority=\"1\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Default Paragraph Font\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text Indent\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Continue\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Continue 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Continue 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Continue 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"List Continue 5\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Message Header\"/> <w:LsdException Locked=\"false\" Priority=\"11\" QFormat=\"true\" Name=\"Subtitle\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Salutation\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Date\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text First Indent\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text First Indent 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Note Heading\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text Indent 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Body Text Indent 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Block Text\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Hyperlink\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"FollowedHyperlink\"/> <w:LsdException Locked=\"false\" Priority=\"22\" QFormat=\"true\" Name=\"Strong\"/> <w:LsdException Locked=\"false\" Priority=\"20\" QFormat=\"true\" Name=\"Emphasis\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Document Map\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Plain Text\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"E-mail Signature\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Top of Form\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Bottom of Form\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Normal (Web)\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Acronym\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Address\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Cite\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Code\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Definition\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Keyboard\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Preformatted\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Sample\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Typewriter\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"HTML Variable\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Normal Table\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"annotation subject\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"No List\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Outline List 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Outline List 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Outline List 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Simple 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Simple 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Simple 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Classic 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Classic 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Classic 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Classic 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Colorful 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Colorful 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Colorful 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Columns 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Columns 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Columns 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Columns 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Columns 5\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 5\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 6\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 7\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Grid 8\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 4\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 5\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 6\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 7\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table List 8\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table 3D effects 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table 3D effects 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table 3D effects 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Contemporary\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Elegant\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Professional\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Subtle 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Subtle 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Web 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Web 2\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Web 3\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Balloon Text\"/> <w:LsdException Locked=\"false\" Priority=\"39\" Name=\"Table Grid\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Table Theme\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" Name=\"Placeholder Text\"/> <w:LsdException Locked=\"false\" Priority=\"1\" QFormat=\"true\" Name=\"No Spacing\"/> <w:LsdException Locked=\"false\" Priority=\"60\" Name=\"Light Shading\"/> <w:LsdException Locked=\"false\" Priority=\"61\" Name=\"Light List\"/> <w:LsdException Locked=\"false\" Priority=\"62\" Name=\"Light Grid\"/> <w:LsdException Locked=\"false\" Priority=\"63\" Name=\"Medium Shading 1\"/> <w:LsdException Locked=\"false\" Priority=\"64\" Name=\"Medium Shading 2\"/> <w:LsdException Locked=\"false\" Priority=\"65\" Name=\"Medium List 1\"/> <w:LsdException Locked=\"false\" Priority=\"66\" Name=\"Medium List 2\"/> <w:LsdException Locked=\"false\" Priority=\"67\" Name=\"Medium Grid 1\"/> <w:LsdException Locked=\"false\" Priority=\"68\" Name=\"Medium Grid 2\"/> <w:LsdException Locked=\"false\" Priority=\"69\" Name=\"Medium Grid 3\"/> <w:LsdException Locked=\"false\" Priority=\"70\" Name=\"Dark List\"/> <w:LsdException Locked=\"false\" Priority=\"71\" Name=\"Colorful Shading\"/> <w:LsdException Locked=\"false\" Priority=\"72\" Name=\"Colorful List\"/> <w:LsdException Locked=\"false\" Priority=\"73\" Name=\"Colorful Grid\"/> <w:LsdException Locked=\"false\" Priority=\"60\" Name=\"Light Shading Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"61\" Name=\"Light List Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"62\" Name=\"Light Grid Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"63\" Name=\"Medium Shading 1 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"64\" Name=\"Medium Shading 2 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"65\" Name=\"Medium List 1 Accent 1\"/> <w:LsdException Locked=\"false\" SemiHidden=\"true\" Name=\"Revision\"/> <w:LsdException Locked=\"false\" Priority=\"34\" QFormat=\"true\" Name=\"List Paragraph\"/> <w:LsdException Locked=\"false\" Priority=\"29\" QFormat=\"true\" Name=\"Quote\"/> <w:LsdException Locked=\"false\" Priority=\"30\" QFormat=\"true\" Name=\"Intense Quote\"/> <w:LsdException Locked=\"false\" Priority=\"66\" Name=\"Medium List 2 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"67\" Name=\"Medium Grid 1 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"68\" Name=\"Medium Grid 2 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"69\" Name=\"Medium Grid 3 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"70\" Name=\"Dark List Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"71\" Name=\"Colorful Shading Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"72\" Name=\"Colorful List Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"73\" Name=\"Colorful Grid Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"60\" Name=\"Light Shading Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"61\" Name=\"Light List Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"62\" Name=\"Light Grid Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"63\" Name=\"Medium Shading 1 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"64\" Name=\"Medium Shading 2 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"65\" Name=\"Medium List 1 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"66\" Name=\"Medium List 2 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"67\" Name=\"Medium Grid 1 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"68\" Name=\"Medium Grid 2 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"69\" Name=\"Medium Grid 3 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"70\" Name=\"Dark List Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"71\" Name=\"Colorful Shading Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"72\" Name=\"Colorful List Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"73\" Name=\"Colorful Grid Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"60\" Name=\"Light Shading Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"61\" Name=\"Light List Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"62\" Name=\"Light Grid Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"63\" Name=\"Medium Shading 1 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"64\" Name=\"Medium Shading 2 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"65\" Name=\"Medium List 1 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"66\" Name=\"Medium List 2 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"67\" Name=\"Medium Grid 1 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"68\" Name=\"Medium Grid 2 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"69\" Name=\"Medium Grid 3 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"70\" Name=\"Dark List Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"71\" Name=\"Colorful Shading Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"72\" Name=\"Colorful List Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"73\" Name=\"Colorful Grid Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"60\" Name=\"Light Shading Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"61\" Name=\"Light List Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"62\" Name=\"Light Grid Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"63\" Name=\"Medium Shading 1 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"64\" Name=\"Medium Shading 2 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"65\" Name=\"Medium List 1 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"66\" Name=\"Medium List 2 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"67\" Name=\"Medium Grid 1 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"68\" Name=\"Medium Grid 2 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"69\" Name=\"Medium Grid 3 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"70\" Name=\"Dark List Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"71\" Name=\"Colorful Shading Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"72\" Name=\"Colorful List Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"73\" Name=\"Colorful Grid Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"60\" Name=\"Light Shading Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"61\" Name=\"Light List Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"62\" Name=\"Light Grid Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"63\" Name=\"Medium Shading 1 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"64\" Name=\"Medium Shading 2 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"65\" Name=\"Medium List 1 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"66\" Name=\"Medium List 2 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"67\" Name=\"Medium Grid 1 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"68\" Name=\"Medium Grid 2 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"69\" Name=\"Medium Grid 3 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"70\" Name=\"Dark List Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"71\" Name=\"Colorful Shading Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"72\" Name=\"Colorful List Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"73\" Name=\"Colorful Grid Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"60\" Name=\"Light Shading Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"61\" Name=\"Light List Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"62\" Name=\"Light Grid Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"63\" Name=\"Medium Shading 1 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"64\" Name=\"Medium Shading 2 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"65\" Name=\"Medium List 1 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"66\" Name=\"Medium List 2 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"67\" Name=\"Medium Grid 1 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"68\" Name=\"Medium Grid 2 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"69\" Name=\"Medium Grid 3 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"70\" Name=\"Dark List Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"71\" Name=\"Colorful Shading Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"72\" Name=\"Colorful List Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"73\" Name=\"Colorful Grid Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"19\" QFormat=\"true\" Name=\"Subtle Emphasis\"/> <w:LsdException Locked=\"false\" Priority=\"21\" QFormat=\"true\" Name=\"Intense Emphasis\"/> <w:LsdException Locked=\"false\" Priority=\"31\" QFormat=\"true\" Name=\"Subtle Reference\"/> <w:LsdException Locked=\"false\" Priority=\"32\" QFormat=\"true\" Name=\"Intense Reference\"/> <w:LsdException Locked=\"false\" Priority=\"33\" QFormat=\"true\" Name=\"Book Title\"/> <w:LsdException Locked=\"false\" Priority=\"37\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" Name=\"Bibliography\"/> <w:LsdException Locked=\"false\" Priority=\"39\" SemiHidden=\"true\" UnhideWhenUsed=\"true\" QFormat=\"true\" Name=\"TOC Heading\"/> <w:LsdException Locked=\"false\" Priority=\"41\" Name=\"Plain Table 1\"/> <w:LsdException Locked=\"false\" Priority=\"42\" Name=\"Plain Table 2\"/> <w:LsdException Locked=\"false\" Priority=\"43\" Name=\"Plain Table 3\"/> <w:LsdException Locked=\"false\" Priority=\"44\" Name=\"Plain Table 4\"/> <w:LsdException Locked=\"false\" Priority=\"45\" Name=\"Plain Table 5\"/> <w:LsdException Locked=\"false\" Priority=\"40\" Name=\"Grid Table Light\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"Grid Table 1 Light\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"Grid Table 2\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"Grid Table 3\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"Grid Table 4\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"Grid Table 5 Dark\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"Grid Table 6 Colorful\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"Grid Table 7 Colorful\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"Grid Table 1 Light Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"Grid Table 2 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"Grid Table 3 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"Grid Table 4 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"Grid Table 5 Dark Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"Grid Table 6 Colorful Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"Grid Table 7 Colorful Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"Grid Table 1 Light Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"Grid Table 2 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"Grid Table 3 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"Grid Table 4 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"Grid Table 5 Dark Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"Grid Table 6 Colorful Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"Grid Table 7 Colorful Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"Grid Table 1 Light Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"Grid Table 2 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"Grid Table 3 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"Grid Table 4 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"Grid Table 5 Dark Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"Grid Table 6 Colorful Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"Grid Table 7 Colorful Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"Grid Table 1 Light Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"Grid Table 2 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"Grid Table 3 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"Grid Table 4 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"Grid Table 5 Dark Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"Grid Table 6 Colorful Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"Grid Table 7 Colorful Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"Grid Table 1 Light Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"Grid Table 2 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"Grid Table 3 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"Grid Table 4 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"Grid Table 5 Dark Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"Grid Table 6 Colorful Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"Grid Table 7 Colorful Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"Grid Table 1 Light Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"Grid Table 2 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"Grid Table 3 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"Grid Table 4 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"Grid Table 5 Dark Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"Grid Table 6 Colorful Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"Grid Table 7 Colorful Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"List Table 1 Light\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"List Table 2\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"List Table 3\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"List Table 4\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"List Table 5 Dark\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"List Table 6 Colorful\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"List Table 7 Colorful\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"List Table 1 Light Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"List Table 2 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"List Table 3 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"List Table 4 Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"List Table 5 Dark Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"List Table 6 Colorful Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"List Table 7 Colorful Accent 1\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"List Table 1 Light Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"List Table 2 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"List Table 3 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"List Table 4 Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"List Table 5 Dark Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"List Table 6 Colorful Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"List Table 7 Colorful Accent 2\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"List Table 1 Light Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"List Table 2 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"List Table 3 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"List Table 4 Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"List Table 5 Dark Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"List Table 6 Colorful Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"List Table 7 Colorful Accent 3\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"List Table 1 Light Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"List Table 2 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"List Table 3 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"List Table 4 Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"List Table 5 Dark Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"List Table 6 Colorful Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"List Table 7 Colorful Accent 4\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"List Table 1 Light Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"List Table 2 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"List Table 3 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"List Table 4 Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"List Table 5 Dark Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"List Table 6 Colorful Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"List Table 7 Colorful Accent 5\"/> <w:LsdException Locked=\"false\" Priority=\"46\" Name=\"List Table 1 Light Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"47\" Name=\"List Table 2 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"48\" Name=\"List Table 3 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"49\" Name=\"List Table 4 Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"50\" Name=\"List Table 5 Dark Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"51\" Name=\"List Table 6 Colorful Accent 6\"/> <w:LsdException Locked=\"false\" Priority=\"52\" Name=\"List Table 7 Colorful Accent 6\"/> </w:LatentStyles></xml><![endif]--><style>@media print{#main{padding-bottom:1em !important}body{font-family:Arial,Helvetica,FreeSans,sans-serif;font-size:10pt;line-height:1.2}body, #full-height-container, #main, #page, #content, .has-personal-sidebar #content{background:#fff !important;color:#000 !important;border:0 !important;width:100% !important;height:auto !important;min-height:auto !important;margin:0 !important;padding:0 !important;display:block !important}a,a:link,a:visited,a:focus,a:hover,a:active{color:#000}#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{font-family:Arial,Helvetica,FreeSans,sans-serif;page-break-after:avoid}pre{font-family:Monaco,\"Courier New\",monospace}#header, .aui-header-inner, #navigation, #sidebar, .sidebar, #personal-info-sidebar, .ia-fixed-sidebar, .page-actions, .navmenu, .ajs-menu-bar, .noprint, .inline-control-link, .inline-control-link a,a.show-labels-editor,.global-comment-actions,.comment-actions,.quick-comment-container,#addcomment{display:none !important}#splitter-content{position:relative !important}.comment .date::before{content:none !important}h1.pagetitle img{height:auto;width:auto}.print-only{display:block}#footer{position:relative !important;margin:0;padding:0;background:none;clear:both}#poweredby{border-top:none;background:none}#poweredby li.print-only{display:list-item;font-style:italic}#poweredby li.noprint{display:none}.wiki-content .table-wrap, .wiki-content p, .panel .codeContent, .panel .codeContent pre,.image-wrap{overflow:visible !important}#children-section, #comments-section .comment, #comments-section .comment .comment-body, #comments-section .comment .comment-content, #comments-section .comment p{page-break-inside:avoid}#page-children a{text-decoration:none}#comments-section.pageSection .section-header, #comments-section.pageSection .section-title, #children-section.pageSection .section-header, #children-section.pageSection .section-title,.children-show-hide{padding-left:0;margin-left:0}.children-show-hide.icon{display:none}.has-personal-sidebar #content{margin-right:0px}.has-personal-sidebar #content .pageSection{margin-right:0px}.no-print, .no-print *{display:none !important}}@font-face{font-family:Wingdings;panose-1:5 0 0 0 0 0 0 0 0 0;mso-font-charset:2;mso-generic-font-family:auto;mso-font-pitch:variable;mso-font-signature:0 268435456 0 0 -2147483648 0}@font-face{font-family:\"Cambria Math\";panose-1:2 4 5 3 5 4 6 3 2 4;mso-font-charset:1;mso-generic-font-family:roman;mso-font-pitch:variable;mso-font-signature:-536869121 1107305727 33554432 0 415 0}@font-face{font-family:Consolas;panose-1:2 11 6 9 2 2 4 3 2 4;mso-font-charset:0;mso-generic-font-family:modern;mso-font-pitch:fixed;mso-font-signature:-536869121 64767 1 0 415 0}p.MsoNormal,li.MsoNormal,div.MsoNormal{mso-style-unhide:no;mso-style-qformat:yes;mso-style-parent:\"\";margin:0in;margin-bottom:.0001pt;mso-pagination:widow-orphan;font-size:12.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast}h1{mso-style-priority:9;mso-style-unhide:no;mso-style-qformat:yes;mso-style-link:\"Heading 1 Char\";mso-margin-top-alt:auto;margin-right:0in;mso-margin-bottom-alt:auto;margin-left:0in;mso-pagination:widow-orphan;mso-outline-level:1;font-size:24.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast;font-weight:bold}h2{mso-style-priority:9;mso-style-unhide:no;mso-style-qformat:yes;mso-style-link:\"Heading 2 Char\";mso-margin-top-alt:auto;margin-right:0in;mso-margin-bottom-alt:auto;margin-left:0in;mso-pagination:widow-orphan;mso-outline-level:2;font-size:18.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast;font-weight:bold}h3{mso-style-priority:9;mso-style-unhide:no;mso-style-qformat:yes;mso-style-link:\"Heading 3 Char\";mso-margin-top-alt:auto;margin-right:0in;mso-margin-bottom-alt:auto;margin-left:0in;mso-pagination:widow-orphan;mso-outline-level:3;font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast;font-weight:bold}h4{mso-style-priority:9;mso-style-unhide:no;mso-style-qformat:yes;mso-style-link:\"Heading 4 Char\";mso-margin-top-alt:auto;margin-right:0in;mso-margin-bottom-alt:auto;margin-left:0in;mso-pagination:widow-orphan;mso-outline-level:4;font-size:12.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast;font-weight:bold}a:link,span.MsoHyperlink{mso-style-priority:99;color:blue;text-decoration:underline;text-underline:single}a:visited,span.MsoHyperlinkFollowed{mso-style-noshow:yes;mso-style-priority:99;color:purple;text-decoration:underline;text-underline:single}p{mso-style-priority:99;mso-margin-top-alt:auto;margin-right:0in;mso-margin-bottom-alt:auto;margin-left:0in;mso-pagination:widow-orphan;font-size:12.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast}pre{mso-style-noshow:yes;mso-style-priority:99;mso-style-link:\"HTML Preformatted Char\";margin:0in;margin-bottom:.0001pt;mso-pagination:widow-orphan;tab-stops:45.8pt 91.6pt 137.4pt 183.2pt 229.0pt 274.8pt 320.6pt 366.4pt 412.2pt 458.0pt 503.8pt 549.6pt 595.4pt 641.2pt 687.0pt 732.8pt;font-size:10.0pt;font-family:\"Courier New\";mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast}p.msonormal0,li.msonormal0,div.msonormal0{mso-style-name:msonormal;mso-style-unhide:no;mso-margin-top-alt:auto;margin-right:0in;mso-margin-bottom-alt:auto;margin-left:0in;mso-pagination:widow-orphan;font-size:12.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast}span.Heading1Char{mso-style-name:\"Heading 1 Char\";mso-style-priority:9;mso-style-unhide:no;mso-style-locked:yes;mso-style-link:\"Heading 1\";mso-ansi-font-size:16.0pt;mso-bidi-font-size:16.0pt;font-family:\"Calibri Light\",sans-serif;mso-ascii-font-family:\"Calibri Light\";mso-ascii-theme-font:major-latin;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:major-fareast;mso-hansi-font-family:\"Calibri Light\";mso-hansi-theme-font:major-latin;mso-bidi-font-family:\"Times New Roman\";mso-bidi-theme-font:major-bidi;color:#2E74B5;mso-themecolor:accent1;mso-themeshade:191}span.diffcontext{mso-style-name:diffcontext;mso-style-unhide:no}span.Heading2Char{mso-style-name:\"Heading 2 Char\";mso-style-noshow:yes;mso-style-priority:9;mso-style-unhide:no;mso-style-locked:yes;mso-style-link:\"Heading 2\";mso-ansi-font-size:13.0pt;mso-bidi-font-size:13.0pt;font-family:\"Calibri Light\",sans-serif;mso-ascii-font-family:\"Calibri Light\";mso-ascii-theme-font:major-latin;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:major-fareast;mso-hansi-font-family:\"Calibri Light\";mso-hansi-theme-font:major-latin;mso-bidi-font-family:\"Times New Roman\";mso-bidi-theme-font:major-bidi;color:#2E74B5;mso-themecolor:accent1;mso-themeshade:191}span.nolink{mso-style-name:nolink;mso-style-unhide:no}span.Heading4Char{mso-style-name:\"Heading 4 Char\";mso-style-noshow:yes;mso-style-priority:9;mso-style-unhide:no;mso-style-locked:yes;mso-style-link:\"Heading 4\";mso-ansi-font-size:12.0pt;mso-bidi-font-size:12.0pt;font-family:\"Calibri Light\",sans-serif;mso-ascii-font-family:\"Calibri Light\";mso-ascii-theme-font:major-latin;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:major-fareast;mso-hansi-font-family:\"Calibri Light\";mso-hansi-theme-font:major-latin;mso-bidi-font-family:\"Times New Roman\";mso-bidi-theme-font:major-bidi;color:#2E74B5;mso-themecolor:accent1;mso-themeshade:191;font-style:italic}span.Heading3Char{mso-style-name:\"Heading 3 Char\";mso-style-noshow:yes;mso-style-priority:9;mso-style-unhide:no;mso-style-locked:yes;mso-style-link:\"Heading 3\";mso-ansi-font-size:12.0pt;mso-bidi-font-size:12.0pt;font-family:\"Calibri Light\",sans-serif;mso-ascii-font-family:\"Calibri Light\";mso-ascii-theme-font:major-latin;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:major-fareast;mso-hansi-font-family:\"Calibri Light\";mso-hansi-theme-font:major-latin;mso-bidi-font-family:\"Times New Roman\";mso-bidi-theme-font:major-bidi;color:#1F4D78;mso-themecolor:accent1;mso-themeshade:127}span.HTMLPreformattedChar{mso-style-name:\"HTML Preformatted Char\";mso-style-noshow:yes;mso-style-priority:99;mso-style-unhide:no;mso-style-locked:yes;mso-style-link:\"HTML Preformatted\";font-family:Consolas;mso-ascii-font-family:Consolas;mso-fareast-font-family:\"Times New Roman\";mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Consolas}span.diffaddedchars{mso-style-name:diffaddedchars;mso-style-unhide:no}span.SpellE{mso-style-name:\"\";mso-spl-e:yes}span.GramE{mso-style-name:\"\";mso-gram-e:yes}.MsoChpDefault{mso-style-type:export-only;mso-default-props:yes;font-size:10.0pt;mso-ansi-font-size:10.0pt;mso-bidi-font-size:10.0pt}@page WordSection1{size:8.5in 11.0in;margin:1.0in 1.0in 1.0in 1.0in;mso-header-margin:.5in;mso-footer-margin:.5in;mso-paper-source:0}div.WordSection1{page:WordSection1}@list l0{mso-list-id:715738378;mso-list-template-ids:-2089758778}@list l0:level1{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Symbol}@list l0:level2{mso-level-number-format:bullet;mso-level-text:o;mso-level-tab-stop:1.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:\"Courier New\";mso-bidi-font-family:\"Times New Roman\"}@list l0:level3{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:1.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l0:level4{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l0:level5{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l0:level6{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l0:level7{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l0:level8{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l0:level9{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l1{mso-list-id:1065646941;mso-list-template-ids:36629674}@list l1:level1{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Symbol}@list l1:level2{mso-level-number-format:bullet;mso-level-text:o;mso-level-tab-stop:1.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:\"Courier New\";mso-bidi-font-family:\"Times New Roman\"}@list l1:level3{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:1.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l1:level4{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l1:level5{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l1:level6{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l1:level7{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l1:level8{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l1:level9{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l2{mso-list-id:1152528305;mso-list-template-ids:-1937728072}@list l2:level1{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Symbol}@list l2:level2{mso-level-number-format:bullet;mso-level-text:o;mso-level-tab-stop:1.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:\"Courier New\";mso-bidi-font-family:\"Times New Roman\"}@list l2:level3{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:1.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l2:level4{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l2:level5{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l2:level6{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l2:level7{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l2:level8{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l2:level9{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l3{mso-list-id:1192300791;mso-list-template-ids:3342126}@list l3:level1{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Symbol}@list l3:level2{mso-level-number-format:bullet;mso-level-text:o;mso-level-tab-stop:1.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:\"Courier New\";mso-bidi-font-family:\"Times New Roman\"}@list l3:level3{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:1.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l3:level4{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l3:level5{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:2.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l3:level6{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l3:level7{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:3.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l3:level8{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.0in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}@list l3:level9{mso-level-number-format:bullet;mso-level-text:;mso-level-tab-stop:4.5in;mso-level-number-position:left;text-indent:-.25in;mso-ansi-font-size:10.0pt;font-family:Wingdings}ol{margin-bottom:0in}ul{margin-bottom:0in}</style><!--[if gte mso 10]><style>table.MsoNormalTable{mso-style-name:\"Table Normal\";mso-tstyle-rowband-size:0;mso-tstyle-colband-size:0;mso-style-noshow:yes;mso-style-priority:99;mso-style-parent:\"\";mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-para-margin:0in;mso-para-margin-bottom:.0001pt;mso-pagination:widow-orphan;font-size:10.0pt;font-family:\"Times New Roman\",serif}</style><![endif]--><!--[if gte mso 9]><xml> <o:shapedefaults v:ext=\"edit\" spidmax=\"1026\"/></xml><![endif]--><!--[if gte mso 9]><xml> <o:shapelayout v:ext=\"edit\"> <o:idmap v:ext=\"edit\" data=\"1\"/> </o:shapelayout></xml><![endif]--></head><body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'><div class=WordSection1><p><span class=diffcontext><b><span style='mso-spacerun:yes'> </span></b></span></p><h1><strong>GeneLab Public API</strong></h1><p class=MsoNormal><span class=nolink>NASA GeneLab provides a RESTfulApplication Programming Interfaces (API) to its full-text search, and data andmetadata retrieval capabilities. The API provides a choice of standard weboutput formats, either JavaScript Object Notation (JSON) or Hyper Text MarkupLanguage (HTML), of query results. The GeneLab Data Query API returns metadataon data files associated with dataset(s), including the location of these filesfor download via https. <span style='mso-spacerun:yes'> </span>The GeneLabMetadata Query API returns entire sets of metadata for <span class=GramE>inputdataset accession numbers</span>. <span style='mso-spacerun:yes'> </span>TheGeneLab Dataset Search API <span class=GramE>can be used</span> to searchdataset metadata by keywords and/or metadata. It <span class=GramE>can also be used</span>to provide search of three other omics databases: the National Institutes ofHealth (NIH) / National Center for Biotechnology Information's (NCBI) GeneExpression Omnibus (GEO); the European Bioinformatics Institute's (EBI)Proteomics Identification (PRIDE); the Argonne National Laboratory's (ANL)Metagenomics Rapid Annotations using Subsystems Technology (MG-RAST).<o:p></o:p></span></p><h2><span class=nolink>Data Query API <o:p></o:p></span></h2><h3><span class=nolink>Syntax<o:p></o:p></span></h3><p><span class=nolink><a href=\"https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/%7bGLDS_STUDY_IDs%7d/?page=%7bCURRENT_PAGE_NUMBER%7d&amp;size=%7bRESULTS_PER_PAGE%7d\">https://genelab-data.ndc.nasa.gov/genelab/data/glds/files/{GLDS_STUDY_IDs}/?page={CURRENT_PAGE_NUMBER}&amp;size={RESULTS_PER_PAGE}</a><o:p></o:p></span></p><h3><span class=nolink>Returns: JSON-formatted response</span></h3><p><o:p>&nbsp;</o:p></p><div><table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none;mso-border-alt:solid windowtext .75pt; mso-yfti-tbllook:1184'><colgroup><col><col><col><col><col></colgroup><tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'><td style='border:solid windowtext 1.0pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal align=center style='text-align:center'><b><span style='mso-fareast-font-family:\"Times New Roman\"'>Parameters<o:p></o:p></span></b></p></td><td style='border:solid windowtext 1.0pt;border-left:none;mso-border-left-alt: solid windowtext .75pt;mso-border-alt:solid windowtext .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal align=center style='text-align:center'><b><span style='mso-fareast-font-family:\"Times New Roman\"'>Data Type<o:p></o:p></span></b></p></td><td style='border:solid windowtext 1.0pt;border-left:none;mso-border-left-alt: solid windowtext .75pt;mso-border-alt:solid windowtext .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal align=center style='text-align:center'><b><span style='mso-fareast-font-family:\"Times New Roman\"'>Notes<o:p></o:p></span></b></p></td><td style='border:solid windowtext 1.0pt;border-left:none;mso-border-left-alt: solid windowtext .75pt;mso-border-alt:solid windowtext .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal align=center style='text-align:center'><b><span style='mso-fareast-font-family:\"Times New Roman\"'>Values<o:p></o:p></span></b></p></td><td style='border:solid windowtext 1.0pt;border-left:none;mso-border-left-alt: solid windowtext .75pt;mso-border-alt:solid windowtext .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal align=center style='text-align:center'><b><span style='mso-fareast-font-family:\"Times New Roman\"'>Required<o:p></o:p></span></b></p></td></tr><tr style='mso-yfti-irow:1;page-break-inside:avoid'><td style='border:solid windowtext 1.0pt;border-top:none;mso-border-top-alt: solid windowtext .75pt;mso-border-alt:solid windowtext .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>{GLDS_STUDY_IDs}<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Integers<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p>Comma separated list with mixture of single GLDS accession numbers and ranges</p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>ex. 87-95,137<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Yes<o:p></o:p></span></p></td></tr><tr style='mso-yfti-irow:2;page-break-inside:avoid'><td style='border:solid windowtext 1.0pt;border-top:none;mso-border-top-alt: solid windowtext .75pt;mso-border-alt:solid windowtext .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>{CURRENT_PAGE_NUMBER}<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Integer<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Current page number in pagination<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Starts from 0<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>No<o:p></o:p></span></p></td></tr><tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;page-break-inside:avoid'><td style='border:solid windowtext 1.0pt;border-top:none;mso-border-top-alt: solid windowtext .75pt;mso-border-alt:solid windowtext .75pt;padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>{RESULTS_PER_PAGE}<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Integer<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Number of results returned per page in pagination<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>Max 25 results per page<o:p></o:p></span></p></td><td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .75pt; mso-border-left-alt:solid windowtext .75pt;mso-border-alt:solid windowtext .75pt; padding:3.75pt 3.75pt 3.75pt 3.75pt'><p class=MsoNormal><span style='mso-fareast-font-family:\"Times New Roman\"'>No<o:p></o:p><
[...]
