html{
  max-width: 100%;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.currentDiv{
  background-color: #5b616b;;
  border-radius: 5px;
  height: 39px;
}
.currentDiv span{
  color: white;
  border-bottom: .2rem solid #9bdaf1 !important;
}
.currentDiv:hover span{
  color: #5b616b !important;
  border-bottom: .4rem solid #105bd8 !important;
}

label{
  margin-top: 0px;
}

abbr{
  border-bottom: 0px white none !important;
}

.usa-section-dark code{
  background: #5b616b;;
}
.usa-section code{
  background: #f1f1f1;
}

.search-dropdown{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: #212121;
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.3;
  text-decoration: none;
}
.search-dropdown:visited{
  color: #212121;
}
.search-dropdown:hover {
  background-color: #f1f1f1;
  color: #105bd8;
  text-decoration: none;
}

.search-dropdown:focus {
  outline-offset: 0;
  position: relative;
  z-index: 1;
}

.usa-logo-img{
  width: 30px;
  height: auto;
  top: 18px;
  position: absolute;
}

.parsley-errors-list{
  color: red;
  list-style-type: none;
  padding-inline-start: 10px;
  font-size: 80%;
  margin-top: 5px;
}

@media screen and (min-width: 951px) {
  .search-dropdown:hover span {
    border-bottom: 0.4rem solid #105bd8;
    padding-bottom: 0.2rem;
  }
  .usa-logo-img{
    width: 44px;
    top: 0;
  }
  .currentDiv{
    height: 38px;
    margin-bottom: 10px;
  }
}

/*NasaWDS class overrides*/

.usa-section,
.usa-section-dark,
.usa-accordion-content{
  outline: none !important;
}

.usa-overlay{
  z-index: 6000 !important;
  overflow: hidden;
}
.usa-navbar{
  height: 6rem;
}
.usa-logo{
  line-height: 6rem;
}
.usa-logo-text{
  font-size: 2.3rem;
  padding-left: 2rem;
}
.usa-menu-btn{
  height: 6rem;
  font-size: 1.7rem;
}

*:focus,
.usa-focus{
  outline: 2px solid #aeb0b5;
}

[type=radio]:focus + label::before {
  outline: 2px solid #aeb0b5;
}

[type=checkbox]:focus + label::before {
  outline: 2px solid #aeb0b5;
}
a:focus {
  outline: 2px solid #aeb0b5;
}

.usa-nav{
  padding-top: 4.5rem;
  padding-left: 2rem;
}

@media screen and (min-width: 1028px){
  .usa-nav{
    padding-top: 4.5rem !important;
  }
}

@media screen and (min-width: 951px) {
  .usa-navbar{
    height: 9rem;
    z-index: 10000;
  }
  .usa-logo{
    line-height: 7.8rem;
  }
  .usa-logo-text{
    white-space:nowrap;
    font-size: 3rem !important;
    margin-bottom: 30px;
  }
  .usa-nav-primary>li>a {
    font-size: 1.3rem;
  }
  .usa-nav{
    padding-top: 0rem;
    padding-left: 0;
  }
}
.usa-accordion-content[aria-hidden = false] {
  display: block !important;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #ff9800; /* Orange */
  color: black;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}